{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}


{% block title %} Modification adresse e-mail du compte{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-2 my-md-5 font-weight-bold">Modification de l'adresse e-mail associée à mon compte</h3>

        <div class="row mb-5">

            <div class="col-md-8">
                        
                {{ form_start(form) }}

                <div class="my-3 fs-15 font-weight-bold">

                    {{form_errors(form.email)}}

                </div>

                <div class="mb-4">

                    <h5 class="mb-3 font-weight-bold">
                        Voici l'adresse e-mail associée à votre compte (non visible par les autres utilisateurs)
                    </h5>
                    
                    <div class="mb-4">

                        {{ form_widget(form.email) }}

                    </div>
                    
                    <div class="d-none mb-4">

                        {{ form_rest(form) }}

                    </div>

                </div>

                <!-- Action Buttons -->

                <div class="mt-5">

                    <button type="submit" class="btn btn-success bg-green sharp font-weight-bold mr-2">Enregistrer</button>

                    <a href="{{path('account_index')}}">
                        <button type="button" class="btn btn-info sharp font-weight-bold">Retour</button>
                    </a>
                    
                </div>

                {{ form_end(form) }}

            </div>


        </div>
        
    </div>
    
{% endblock %}