{% extends 'base.html.twig' %}

{% block title %}Lieux du Projet{% endblock %}

{% block body %}

    <style>
          
          .pac-container, .pac-item {
            font-size: 1.05em !important;
        }	  
          .pac-item-query {
            font-size: 1.05em !important;
        }

        ul li:hover {
           background-color: rgb(222, 226, 231);
        }

        .table > tbody > tr > td {
            vertical-align: middle;
            padding: 3px 14px;;
       }

       /* Place Holders */

  ::-webkit-input-placeholder { /* Edge */
    font-size:1.15em;
    color: rgb(49, 25, 93);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:1.15em;
    color: rgb(49, 25, 93);
  }
  
  ::placeholder {
    font-size:1.15em !important;
    color: rgb(49, 25, 93)  !important;
  }

    </style>

    <div class="container pl-md-3">

        <div class="mt-3 mt-md-5 mb-3">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Gérer les lieux du projet</h3>

            
            <!-- collapsable advice -->

                <!-- Trigger Button -->

                <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                    <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info </span>
                    
                </a>

                <!-- Advice -->

                <div class="info-box col-md-6 collapse mt-1 mb-3 p-3" id="collapseExample">
                            
                    <span class="fs-15 font-weight-bold">

                        Si votre projet est relié à des villes ou des lieux, signalez les ici.

                    </span>
        
                </div>

        </div>

        

        <!-- Places Search Bar -->

        <div class="p-0 col-sm-6 mb-4">

            <form action="">
    
                <div class="form-group mt-2">

                    <input type="text" id="autocomplete" class="form-control input-lg border sharp bg-light fs-15" placeholder="Ajouter ici une ville; un département; une région; ou un pays" style="height:54px;"/>
    
                </div>
    
            </form>
  
        </div>

       <!-- Feedback Box -->

        <div id="feedbackBox" class="alert alert-light lh-2 h5 col-sm-9">;-)</div>

        <!-- Project Places Table Display -->

            <table id="projectPlacesTable" class="table table-bordered table-hover rounded" style="{% if presentation.geodomains | length == 0 %} display:none; {% endif %}">

                <thead class="cursor-pointer fs-15">
                    <tr>
                        <th id="">Type du lieu</th>
                        <th id="">Nom du lieu</th>
                        <th>Retirer ?</th>
                    </tr>
                </thead>
        
                <tbody>

                {% for place in presentation.geoDomains %}

                    {% set placeType_fr = '' %}

                    {% if place.geoType == 'country' %}
                        {% set placeType_fr = 'Pays' %}

                    {% elseif place.geoType == 'locality' %}
                        {% set placeType_fr = 'Ville' %}

                    {% elseif place.geoType == 'administrative_area_level_1' %}
                        {% set placeType_fr = 'Région' %}

                    {% elseif place.geoType == 'administrative_area_level_2' %}
                        {% set placeType_fr = 'Département' %}

                    {% elseif place.geoType == 'sublocality_level_1' %}
                        {% set placeType_fr = 'Section de Ville' %}

                    {% elseif place.geoType == 'route' %}
                        {% set placeType_fr = 'Rue' %}
                
                    {% endif %}
        
                    <tr id="" data-city-id="{{place.id}}" data-city-postal-code="{{place.postalCode}}" data-city-name="{{place.city}}" class="cityDislayRow cursor-pointer">  
                        
                        
                        <td id="">{{ placeType_fr | upper  }}</td>
                        <td id="">{{ place.placeName | upper }}</td>
                        <td>
                            <button data-project-place-id="{{place.id}}" data-cityname="{{place.city}}" type="button" class="js-remove-place btn btn-danger font-weight-bold" data-dismiss="alert">&times;</button>
                        </td>
                        
                    </tr>
                    
                {% else %}
                    <tr id="noResult">
                        <td class="fs-15" colspan="9">Aucun lieu n'est associé à  ce Projet</td>
                    </tr>
                {% endfor %}
        
                </tbody>

            </table>

        <!-- Back to Menu Button -->

        <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-info btn-lg font-weight-bold mt-2 mr-2 mb-4 sharp">Menu</button>
        </a>

        <!-- Back to Result Button -->

        <a class="text-decoration-none text-white" href="{{path('project_show', {'slug': presentation.slug })}}#geodomainsDisplay">
            <button type="button" class="btn btn-warning btn-lg font-weight-bold mt-2 mb-4 sharp">Résultat</button>
        </a>


    </div>


    
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk&libraries=places&language=fr"></script>


    <script>

        $(document).ready(function(){  


            $('#feedbackBox').hide();

            // Petit Plugin pour trier le tableau de villes par nom ou codes postaux

            (function ( $ ) {
             
                $.fn.tableSortHeader = function() {

                    var table = $(this).parents('table').eq(0)
                    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                    this.asc = !this.asc
                    if (!this.asc){rows = rows.reverse()}
                    for (var i = 0; i < rows.length; i++){table.append(rows[i])}

                    function comparer(index) {
                        return function(a, b) {
                            var valA = getCellValue(a, index), valB = getCellValue(b, index)
                            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                        }
                    }

                    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

                };
             
            }( jQuery ));

            // Chargement de la page : trier le tableau par noms de villes

            $('#projectPlacesTable #cityNameHeader').tableSortHeader();

            // Possibilité de trier le tableau sur clique d'un titre du tableau

            $('#projectPlacesTable').on('click', 'th', function (){
               $(this).tableSortHeader();
            })


            // Initialize Google Places Input Field

            var input = document.getElementById('autocomplete');
                            
            var options = {
                types: ['(regions)'],
            };
    
            var autocomplete = new google.maps.places.Autocomplete(input, options);

        // Add a Project Place
            
        google.maps.event.addListener(autocomplete, 'place_changed', function(){
              
            var place = autocomplete.getPlace().address_components;
             
            place_type = place[0].types[0];
            place_name = place[0]['long_name'];

            //alert(place_name);



            latitude = autocomplete.getPlace().geometry.location.lat(),
            longitude = autocomplete.getPlace().geometry.location.lng();
        
            //console.log(latitude);
             
             var componentMap = {
                 country: '',
                 postal_code : '',
                 locality: '',
                 route : '',
                 administrative_area_level_1 : '',
                 administrative_area_level_2 : '',
                 sublocality_level_1:'',
             };
        
         for(var i = 0; i < place.length; i++){
        
             var types = place[i].types; // get types array of each component 
        
             for(var j = 0; j < types.length; j++){ // loop through the types array of each component as types is an array and same thing can be indicated by different name.As you can see in the json object above 
        
                   var component_type = types[j];
                   
                   // check if this type is in your component map. If so that means you want this component
        
                   if(componentMap.hasOwnProperty(component_type)){
                   
                     //console.log(types[j]);
                     //console.log(place[i]['long_name']);
                     //alert(place[i]['long_name'])
                     componentMap[component_type]=place[i]['long_name'];
                     //console.log(componentMap[component_type]);
        
                   }
             }
         }
              
              
              //console.log(place);

              $('#feedbackBox').show();
              $('#feedbackBox').html('<div class="loader float-left"></div><span class="h5">Demande en Cours...</span>');

              $.ajax({  
                url: "{{path('ajax_new_place', {'slug': presentation.slug}) }}",
                type:       'POST',   
                dataType:   'json',
                data: {
                    "latitude": latitude,
                    "longitude": longitude,
                    "placeType":  place_type,
                    "placeName":  place_name,
                    "postalCode": componentMap.postal_code,
                    "cityName": componentMap.locality,                 
                    "country": componentMap.country,                 
                    "route": componentMap.route,                 
                    "administrativeAreaLevel1": componentMap.administrative_area_level_1,
                    "administrativeAreaLevel2": componentMap.administrative_area_level_2,
                    "sublocalityLevel1": componentMap.sublocality_level_1,

                },

                async: true,  
                
                success: function(data, status) {

                    $('#projectPlacesTable').show();

                    var placeName = data.placeName;
                    var placeType_fr='';

                    switch(data.placeType) {
                        case 'locality':
                            placeType_fr='Ville';
                            break;
                        case 'sublocality_level_1':
                            placeType_fr='Section de Ville';
                            break;
                        case 'administrative_area_level_2':
                            placeType_fr='Département'
                             break;
                        case 'administrative_area_level_1':
                            placeType_fr='Région'
                             break;
                        case 'country':
                            placeType_fr='Pays'
                             break;
                        case 'route':
                            placeType_fr='Rue'
                             break;
                        default:
                          // code block
                      } 

                    $('#feedbackBox').html("✅ Le lieu "+placeName+" a été ajouté </br>↪ Vous pouvez ajouter d'autres lieux si vous voulez");
                    
                    $('#projectPlacesTable > tbody:last-child').append(
                        '<tr>'
                            +'<td>'+placeType_fr.toUpperCase()+'</td>'
                            +'<td>'+placeName.toUpperCase()+'</td>'
                            +'<td><button data-project-place-id="'+ data.projectPlaceId+'" data-cityname="'+ data.cityName+'" type="button" class="js-remove-place btn btn-danger font-weight-bold" data-dismiss="alert">&times;</button></td></tr>');
                    
                    $('#noResult').hide();
                   
                },  

                error : function(xhr, textStatus, errorThrown) {  
                    // alert('Ajax request failed.');  
                }  
             }); 
        })

            // Remove a Place

            $('#projectPlacesTable').on('click', '.js-remove-place', function (){

                $('#feedbackBox').show();

               

                var projectPlaceId = $(this).attr("data-project-place-id");
                //alert(idCityProject);
                //alert(cityName);

                if (confirm("Voulez vous retirer ce lieu?"))
                { 
                    $('#feedbackBox').html('<div class="loader float-left"></div><span class="h5">Demande en Cours...</span>');

                    $(this).html('<div class="loader"></div>');
                    
                    $.ajax({  

                        url: "{{path('ajax_remove_place', {'slug': presentation.slug}) }}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                        "projectPlaceId": projectPlaceId,
                        },

                        async: true,  
                        
                        success: function(data, status) {

                            $('#feedbackBox').html("✅ Le lieu sélectionné a été retiré de la présentation");

                            $("#projectPlacesTable").find("[data-project-place-id="+ data.projectPlaceId+"]").closest('tr').remove();

                            //ne fonctionne pas

                            if ($('#projectPlacesTable tbody tr').length == 0){
                                $('#noResult').show();
                            }
                        
                        },  

                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                    }); 
                        
                }


            });
             
        });  

    </script>

   


{% endblock %}