

<div class="cursor-pointer col-md-8 mb-3 px-0 pr-md-3">

    <div class="card border-left-info shadow-sm h-100">

        <div class="card-body p-0 p-md-3">

            <a class="text-primary text-decoration-none" href="{{path('project_show',{'slug': presentation.slug})}}">

                <div class="container">

                    <div class="row ">

                        <!-- Project Thumbnail -->
                        <!-- We try to find a picture into the project presentation -->

                        <div class="thumbnail-container col-4 col-md-2 d-flex align-items-center justify-content-center">

                            <!-- If we have a project logo -->

                            {% if presentation.logoName %}

                                <div class="d-flex align-items-center justify-content-center">

                                    <img id="" class="rounded" src="{{ asset('/images/projects/logos/' ~ presentation.logoName) | imagine_filter('logo_thumbnail_vsm') }}" alt="Project Logo">  
                
                                </div>


                            <!-- Else we check wether there is a picture or video -->

                            {% elseif presentation.slides | length > 0 %}
                            
                                {% set break = false %}

                                {% for slide in presentation.slides %}

                                    {% if slide.mediaType == 'image' %}

                                        <img class="rounded" src="/images/projects/slides_images/{{slide.slideName}}" alt="{{slide.slideName}}" height="" width="100%">

                                    {% elseif slide.mediaType == 'video' %}
                                        
                                        <img src="{{slide.thumbnail}}" alt="{{slide.slideName}}" height="" width="100%">

                                    {% endif %}

                                    {% set break = true %}

                                {% endfor %}

                                {% else %}
                                                                                            
                                    <div class="avatar-circle mx-auto" style="background-color: {{ random(['#9c27b0 ', '#3f51b5 ', '#009688 ', '#4CAF50  ', '#ff9800  ', '#607d8b  ', '#ffc107  ']) }};">
                                        <span class="initials">
                                            {{presentation.goal | slice (0,1) | upper }}
                                        </span>
                                    </div>

                                    <style>

                                        /* One Letter Avatars */

                                        .avatar-circle {
                                            width: 60px;
                                            height: 60px;
                                            background-color: #27ae60;
                                        }
                                        
                                        
                                        .initials {
                                    
                                            top: 16px; /* 25% of parent */
                                            font-size: 40px; /* 50% of parent */
                                            line-height: 25px; /* 50% of parent */
                                            color: #fff;
                                            font-family: Georgia, 'Times New Roman', Times, serif;
                                            
                                        }

                                        @media screen and (max-width: 580px) {

                                            .thumbnail-container{
                                                min-height:100px;
                                            }

                                            .text-container{
                                                padding-top:16px;
                                                padding-bottom:16px;
                                                padding-left:0px;
                                            }

                                            .avatar-circle {
                                                width: 60px;
                                                height: 60px;
                                                background-color: #27ae60;
                                            }

                                            .initials {
                                                
                                            }
                            
                            
                                        }

                                    </style>


                            {% endif %}

                        </div>

                        <div class="text-container col">
                                
                            <!-- Project Goal -->
        
                            <h6 class="projectTitle font-weight-bold mb-0" style="font-size:1.25em">
                                {{presentation.goal[:1] | upper ~ presentation.goal[1:] | slice(0, 140)}}{% if presentation.goal | length > 141 %}...{% endif %}
                            </h6>

                            <!-- Project Title -->

                            {% if presentation.title is not empty %}
                                <h6 class="font-weight-bold mb-0 fs-15">{{ presentation.title[:1] | upper ~ presentation.title[1:] | slice(0, 63)}}</h6>
                            {% endif %}
                                
                            <!-- Project Keywords -->
                            {% if presentation.keywords | length > 0 %}

                                <div class="keywords font-weight-bold my-1 h6 text-left" style="line-height:1.05em;" >

                                    <span class="text-break">
                                    #{{presentation.keywords | replace({" " : "", "," : " #"}) | slice(0, 64) | capitalize}}
                                    </span>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                </div>
    
            </a>

        </div>

    </div>

    </div>