
<a class="text-primary text-decoration-none" href="{{path('project_show',{'slug': presentation.slug})}}">

    <div class="row pl-md-4">
        
        <!-- 

        <div class="col-md-2 d-flex align-items-center justify-content-center">

            <img class="rounded d-block" src="/images/projects/thumbnails/{{presentation.thumbnailName}}" alt="Image de Présentation" srcset="" style="width:80px;">

        </div> -->

        <div class="col-md-7 pl-0">

            <!-- Project Title -->

            <h5 class="projectTitle font-weight-bold mb-0" style="">{{presentation.title |slice(0, 63) }}</h5>

            <!-- Project Keywords -->

                <div class="keywords font-weight-bold my-1 h6 text-left" style="line-height:0.65;" >
                        
                    {% if presentation.keywords | length > 0 %}
                        
                        #{{presentation.keywords | replace({"," : " #"}) | slice(0, 32) }}

                    {% endif %}

                </div>


            <!-- Project Goal -->

                <p class="mb-0" style="font-size:1.1em; line-height:1.15;">{{presentation.goal | slice(0, 150) }} ...</p>

            <!-- Project Provider -->

            <!-- Modify Presentation Button -->
             {#

                {% if app.user and app.user == presentation.creator %}

                    <a href="{{path('project_edit',{'slug':presentation.slug})}}" class="btn btn-primary">Modifier</a>

                {% endif %}

            #} 

        </div>
        
    </div>

</a>
