{% extends 'base.html.twig' %}

{% block title %}{{ presentation.title }}{% endblock %}


{% block sidebar %} {% include 'partials/sidebar.html.twig' %} {% endblock %}


{% block body %}

    <div class="container pl-md-4">

        <div class="container-fluid mt-4">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-2">
              
              <!-- <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1> -->
            
            </div>
  
            <!-- Content Row -->
            <div class="row">

              <!-- Project Messages -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">

                      <div class="col-auto mr-3">
                        <span style="color:#006e">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </span>
                      </div>
                      
                      <div class="col">

                        <div class="text-xs font-weight-bold text-uppercase mb-2">Messages</div>

                          {% if presentation.countUnreadMessages() == 0 %}
                              
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Pas de nouveau message
                            </div>

                          {% endif %}

                          {% if presentation.countUnreadMessages() > 0 %}
                              
                            <div class="h6 mb-0 font-weight-bold text-gray-800">{{ presentation.countUnreadMessages() }} Message(s) Non Lus
                            </div>

                          {% endif %}

                          {% if not presentation.isActiveContactMessages %}
                        
                            !!! Messages Privés Désactivés !!!
                            
                          {% endif %}

                    </div>
                  </div>
                </div>
              </div>
              </div>
  
              <!-- Project Geodomains -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('geodomains_cities_manage', {'slug':presentation.slug}) }}">
                  <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">

                      <div class="col-auto mr-3">
                        <span style="color: DarkGreen">
                          <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                        </span>
                        
                      </div>


                      <div class="col">

                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Lieux du Projet</div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                          {% if presentation.geodomains | length == 0 %}

                            <span class="">
                              Monde entier
                            </span>

                          {% else %}
                          
                           <ul class="list-group pl-0">

                            {% for place in presentation.geoDomains | slice(0, 3) %}

                                <li class="list-group-item my-0 py-0 border-0 h6 pl-0">
                                  <span class="font-weight-bold">
                                    {{place.placeName}}
                                  </span>
                                </li>
                            {% endfor %}

                            {% if presentation.geodomains | length > 3 %}
                              <li class="list-group-item my-0 py-0 border-0 h6 pl-0">
                                ...
                              </li>
                            {% endif %}

                            </ul>

                          {% endif %}
                      
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                </a>
                
              </div>
  
              <!-- Project Explanations -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-decoration-none text-body" href="{{ path('slideshow_index', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-uppercase mb-2">Photos / Vidéos / Textes</div>

                        <div class="row no-gutters align-items-center">

                            <div class="h6 font-weight-bold">

                              {% if presentation.slides | length == 0 %}

                                <span class="text-danger" style="font-size:1.15em;">
                                  !!! Pas d'Explication associée à ce projet !!!
                                </span>

                              {% else %}

                                {% set slideCount = presentation.slides | length %}

                                {% if slideCount == 1 %}

                                  <span class="fs-15">1 diapositive de présentation</span>
                                  
                                {% else %}
                                 
                                  <span class="fs-15">

                                    {{slideCount}}

                                    diapositives de présentation

                                  </span> 

                                  
                                {% endif %}

 
                              {% endif %}

                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
                
              </div>
  
              <!-- Contact Informations -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class='text-body' href="{{ path('contact_index', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-uppercase mb-2">Infos de Contact</div>

                        <div class="row no-gutters align-items-center">

                            <div class="h6 font-weight-bold">

                              {% if presentation.contacts | length == 0 %}

                                <span class="fs-15">
                                  Pas d'information de contact présentée
                                </span>

                              {% else %}
                                
                                <span class="fs-15">
                                  {{presentation.contacts | length}} zone(s) présentée(s)
                                </span>
 
                              {% endif %}

                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
                
              </div>
  
              <!-- Project Websites -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('websites_index', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
  
                          <div class="text-xs font-weight-bold text-uppercase mb-2">Sites Web & réseaux sociaux</div>
  
                          <div class="row no-gutters align-items-center">
  
                              <div class="h6 font-weight-bold">
  
                                {% if presentation.websites | length == 0 %}
  
                                  <span class="fs-15">
                                    Pas de site web associé
                                  </span>
  
                                {% elseif presentation.needs | length == 1  %}
  
                                  <span class="fs-15">
                                    1 Site web
                                  </span>
  
                                {% else %}
  
                                  <span class="fs-15">
  
                                    {{ presentation.websites | length }}
  
                                    sites webs ou réseaux sociaux
  
                                  </span>
  
                                {% endif %}
  
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                
              </div>
  
              <!-- Project Needs -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('need_index', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-uppercase mb-2">Besoins du Projet</div>

                        <div class="row no-gutters align-items-center">

                            <div class="h6 font-weight-bold">

                              {% if presentation.needs | length == 0 %}

                                <span class="fs-15">
                                  Pas de besoin présenté pour ce projet
                                </span>

                              {% elseif presentation.needs | length == 1  %}

                                <span class="fs-15">
                                  1 besoin présenté
                                </span>

                              {% else %}

                                <span class="fs-15">

                                  {{ presentation.needs | length }}

                                  besoins présentés

                                </span>

                              {% endif %}

                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </a>
                
              </div>
  
              <!-- Project Categories -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('index_categories', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
  
                          <div class="text-xs font-weight-bold text-uppercase mb-2">Catégories du Projet</div>
  
                          <div class="row no-gutters align-items-center">
  
                              <div class="h6 font-weight-bold">
  
                                {% if presentation.categories | length == 0 %}
  
                                  <span class="text-danger" style="font-size:1.15em;">
                                    !!! Pas de catégorie associée à ce projet !!!
                                  </span>
  
                                {% else %}
  
                                  {% for category in presentation.categories | slice (0,4) %}
  
                                    <img id="" class="mr-2 mb-2" src="/images/icons/categories/{{category.name}}.svg" alt="{{category.name}}" width="30" height="30">
  
                                  {% endfor %}
  
                                  {% if presentation.categories | length > 4 %}
  
                                    <span class="h5 font-weight-bold">...</span>
                                  
                                  {% endif %}
   
                                {% endif %}
  
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                
              </div>
  
              <!-- Project Keywords -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('project_edit', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-uppercase mb-2">Mots-Clés du Projet</div>

                        <div class="row no-gutters align-items-center">

                          <div class="h6 text-left font-weight-bold" style="color:#065fd4;">
                                                      
                              {% if presentation.keywords | length > 0 %}

                                <span class="text-break">
                                  #{{presentation.keywords | replace({"," : " #", " " : ""}) | slice(0, 64) | capitalize}}
                                </span>
                                  
                                

                                {% if presentation.keywords | length > 64 %}
                                  ...
                                {% endif %}

                              {% else %}
                                
                                <span class="text-danger" style="font-size:1.15em;">
                                  !!! Aucun mot-clé utilisé !!!
                                </span>

                              {% endif %}
                              
                            </div>

                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                </a>
                
              </div>
  
              <!-- Project Logo -->
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                <a class="text-body" href="{{ path('project_edit', {'slug':presentation.slug}) }}">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body pb-0">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                          <div class="text-xs font-weight-bold text-uppercase mb-2">Logo du Projet</div>

                          <div class="row no-gutters align-items-center">

                            <div class="h6 text-left font-weight-bold">
                                                        
                                {% if presentation.logoName | length == 0 %}

                                  <span class="fs-15">
                                    Pas de logo associé à ce projet
                                  </span>
                                {% else %}

                                <img id="" class="mr-2 mb-2" src="/images/projects/logos/{{presentation.logoName}}" alt="Project Logo" width="80" height="80">      

                                {% endif %}
                                
                              </div>

                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                </a>
                
              </div>

            </div>

            <!-- Content Row -->
            <div class="row">

              <!-- Content Column 1/2 -->
              <div class="col-lg-6 mb-4">
                
                <!-- Project Goal -->
                <div class="card shadow mb-4">
                  <a class="text-body" href="{{ path('project_edit', {'slug':presentation.slug}) }}">
                    <div class="card-header py-3">
                    <h6 class="m-0 h5 font-weight-bold">Objectif du Projet</h6>
                  </div>
                  <div class="card-body">
                    <p class="fs-15">{{presentation.goal | capitalize }}</p>
                  </div>
                  </a>
                </div>
  
                <!-- Project Title -->
                <div class="card shadow mb-4">
                  <a class="text-body" href="{{ path('project_edit', {'slug':presentation.slug}) }}">
                    <div class="card-header py-3">
                      <h6 class="m-0 h5 font-weight-bold">Titre du Projet</h6>
                    </div>
                    <div class="card-body">
                      <p class="fs-15">
                        {% if presentation.title | length > 0 %}
                        
                          {{presentation.title | capitalize }}

                        {% else %}

                          Ce projet n'a pas de titre.

                        {% endif %}
                      </p>
                    </div>
                  </a>
                </div> 
  
              </div>

              <!-- Content Column 2/2 -->
              <!-- <div class="col-lg-6 mb-4">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                      <div class="card-body">
                        Primary
                        <div class="text-white-50 small">#4e73df</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                      <div class="card-body">
                        Success
                        <div class="text-white-50 small">#1cc88a</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                      <div class="card-body">
                        Info
                        <div class="text-white-50 small">#36b9cc</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                      <div class="card-body">
                        Warning
                        <div class="text-white-50 small">#f6c23e</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                      <div class="card-body">
                        Danger
                        <div class="text-white-50 small">#e74a3b</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                      <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div> -->

            </div>
  
          </div>

    </div>

{% endblock %}