{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}


{% block title %}Modifier une Présentation de Projet{% endblock %}


{% block body %}

<div class="container">
  
  {{form_start(form)}}

  <div class="mt-4 mb-3 col-md-6 bg-light py-4">

    <div class="form-group">

       {{form_row(form.goal)}}

    </div>
    

    <div class="form-group">

      {{form_row(form.title)}}

    </div>
   

    


    <!-- Project Logo -->

      <span class="textblack"> {{form_label(form.logoFile)}}</span>

       <!-- Case a Logo already Exist -->

      {% if presentation.logoName %}

        <div class="row mx-md-1 border rounded alert bg-white text-body">

          <div class="col-md-auto">

              <div class="d-inline-block position-relative">

                <div class="m-0 p-0 d-flex align-items-center justify-content-center ">

                  <img class="d-block" src="/images/projects/logos/{{presentation.logoName}}" style="min-width:100px; min-height:100px;max-width:150px; max-height:150px" alt="">

                </div>


              </div>

          </div>

          <div class="col pl-md-3">

            <div class="row d-inline-block">
              
                <div class="h5 font-weight-bold my-2">
                  Changer
                </div>

                {{form_widget(form.logoFile)}}

            </div> 

          </div>

        </div>

      <!-- Case no logo yet -->

      {% else %}

        <div class="pt-3">
          
          {{form_widget(form.logoFile)}}

        </div>

      {% endif %}

  <button type="submit" class="btn btn-success bg-green sharp fs-15 font-weight-bold mt-4 mr-2">Enregistrer</button>

  <a href="{{path('edit_presentation_menu', {'slug':presentation.slug})}}">
    <button type="button" value="" class="btn btn-info sharp fs-15 mt-4">
        <span class=" font-weight-bold">Retour</span> 
    </button>
  </a>

  </div>



</div>
    
    {{form_end(form)}}

    <!-- <a onClick="return confirm (`Êtes vous sûr de vouloir supprimer la Présentation {{presentation.title}}?`)" href= "{{path("project_delete",{'slug':presentation.slug})}}" class="btn btn-danger">Supprimer cette Présentation</a> -->

</div>


{% endblock %}


{% block javascripts %}

  <script>
      $(document).ready(function(){

        // some Styles

        $(".form-check-label").html("Supprimer");
        $(".custom-file").addClass("mt-1");
        $(".vich-image .form-group").before("<hr>");

      });
  </script>

{% endblock %}
