{% extends 'base.html.twig' %}

{% block title %}{{ presentation.title }}{% endblock %}


{% block sidebar %} {% include 'partials/sidebar.html.twig' %} {% endblock %}


{% block body %}


<style>
    
  .cat-menu-title {
    color:#0051fc !important;
    font-size: 1.15em;
    font-weight:bold;
    text-transform: uppercase;
    text-align:center;
  }

  .hoverZone:hover {
    background-color: cornsilk !important;
  } 

  .badgeCount{
    font-size:1.20em;
    font-weight:bold;
  }

</style>

    <div class="container pl-0">

        <div class="container-fluid mt-4">

            <!-- Central Container Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-2">
              
              <!-- <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1> -->
            
            </div>
  
            <!-- Central Container Content-->

            <div class="row">

              <!-- First Column -->
              
              <div class="col-xl-4 col-md-6 pl-0 mb-4 cursor-pointer">
                
                <!-- Project Goal; Title; and Logo -->
                
                <a class=" text-body" href="{{ path('project_edit', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body pb-0">

                      <div class="row no-gutters align-items-center">

                        <div class="col">

                          <div class="cat-menu-title text-center mb-2">
                            Objectif & Titre du Projet
                          </div>

                        </div>
                      
                      </div>

                      <hr class="mt-1 mb-2 mx-1 border-4">
                      
                      <div class="row no-gutters">
                        
                        <div class="col pt-2">

                          <div class="cat-menu-title text-center mb-2">

                            Logo du Projet

                          </div>

                          <div class="row no-gutters d-flex justify-content-center">

                            {% if presentation.logoName | length == 0 %}
                              
                            <div class="d-flex align-items-center justify-content-center h6 font-weight-bold">
              
                              <img src="/images/icons/edit_presentation/menu/none.svg" width="27px" height="27px" alt="">

                            </div>

                            {% else %}

                              <div class="d-flex align-items-center justify-content-center">

                                <img id="" class="mb-2" src="/images/projects/logos/{{presentation.logoName}}" alt="Project Logo" width="80" height="80">  

                              </div>

                            {% endif %}
                              
                          </div>

                        </div>
                      
                      </div>
                    </div>
                  </div>
                </a>

                
                <!-- Project Categories and Keywords -->

                <a class=" hoverZone text-body" href="{{ path('index_categories', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                      <!-- Project Categories -->

                      <div class=" row no-gutters text-center">
    
                        <!-- Icon Left Column-->
                                      
                        <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                          
                          <span style="color: DarkGreen">
                          <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                            <img src="/images/icons/edit_presentation/menu/categories.svg" width="37px" height="37px" alt="">
                          </span>
                          
                        </div>

                        <!-- Title Middle Column -->
                        
                        <div class="col d-flex align-items-center justify-content-center">

                          <div class="cat-menu-title text-xs" >

                            <span class="text-uppercase">Catégories du Projet</span>
                                              
                          </div>
                  
                        </div>

                        <!-- Counter (Third Column) -->

                        <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                          {% if presentation.categories | length == 0 %}

                          <span class="badgeCount badge badge-light text-danger">0</span>

                          {% else %}

                            <span class="badgeCount badge badge-light">
                                {{ presentation.categories | length }}
                            </span>

                          {% endif %}

                        </div>

                      </div>

                      <!-- Line Separator -->

                      <hr class="my-3 mx-1 border-4">

                      <!-- Project Keywords -->
                      
                      <div class="row no-gutters text-center">
    
                        <!-- Icon Left Column-->
                                      
                        <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                          
                          <span style="color: DarkGreen">
                          <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                            <!-- <img src="/images/icons/sidebar/settings.svg" width="37px" height="37px" alt=""> -->
                          </span>
                          
                        </div>

                        <!-- Title Middle Column -->
                        
                        <div class="col">

                          <div class="cat-menu-title row text-xs d-flex align-items-center justify-content-center" >

                            <span class="text-uppercase">Mots-Clés</span>
                          
                          </div>

                          <!-- We Display Some Keywords -->

                          <div class="row font-weight-bold  d-flex align-items-center justify-content-center">

                              {% if presentation.keywords | length > 0 %}

                                <span class="text-break">

                                  #{{presentation.keywords | replace({"," : " #", " " : ""}) | slice(0, 64) }}
                                  
                                </span>
                                    
                                {% if presentation.keywords | length > 64 %}

                                  ...

                                {% endif %}

                              {% endif %}
                                              
                          </div>
                  
                        </div>

                        <!-- Counter (Third Column) -->

                        <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                          {% if presentation.keywords | length == 0 %}

                          <span class="badgeCount badge badge-light text-danger">0</span>

                          {% else %}

                            <span class="badgeCount badge badge-light">

                                {{ presentation.keywords | split(',') | length }}
                            </span>

                          {% endif %}

                        </div>

                      </div>

                    </div>

                  </div>

                </a>

                               
                <!-- Project Team -->

                <a class='text-body' href="{{ path('manage_teammates', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="https://place-hold.it/100x100/ffa500" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Équipe du projet</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            {% if presentation.teammates | length > 0 %}
  
                              <span class="badgeCount badge badge-light">

                                {{ presentation.teammates | length }}
    
                              </span>                           
                            
                            {% endif %}

                          </div>

                        </div>

                    </div>

                  </div>

                </a>
                               
                <!-- Project Technical Data -->

                <a class='text-body' href="{{ path('manage_technicalData', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="https://place-hold.it/100x100/ffa500" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Données Techniques <br>& Infos Spécifiques</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            {% if presentation.technicalData | length > 0 %}
  
                              <span class="badgeCount badge badge-light">

                                {{ presentation.technicalData | length }}
    
                              </span>                           
                            
                            {% endif %}

                          </div>

                        </div>

                    </div>

                  </div>

                </a>
                
              </div>
              
              <!-- End of First column -->
              
              
              <!-- Second Column -->
              
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                      
                <!-- Project Text Description -->
                
                <a class=" text-decoration-none text-body" href="{{ path('edit_text_description', {'slug':presentation.slug}) }}">
                  
                  <div class="hoverZone card border-left-info shadow py-2">
                    
                    
                    <div class="card-body">
                   

                        <div class=" row no-gutters">

                          <!-- Icon -->
                          
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/text_description.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>
                          
                          <!-- Title -->

                          <div class="col">

                            <div class="cat-menu-title d-flex align-items-center justify-content-center">

                              Description Texte <br> du Projet

                            </div>

                          </div>

                          <!-- Counter -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                              {% if presentation.textDescription | length == 0 or presentation.textDescription.content is empty %}

                                <span class="badgeCount badge badge-light text-danger">0</span>

                              {% else %}
                              

                                <span class="badgeCount badge badge-light">✓</span>

                              {% endif %}
                           
                           
                          </div>

                        </div>

                      

                    </div>

                  </div>

                </a>

                <!-- Project Images & Videos -->

                <a class=" text-decoration-none text-body" href="{{ path('slideshow_index', {'slug':presentation.slug}) }}">
                                      
                  <div class="hoverZone card border-left-info shadow py-2">

                    <div class="card-body">
                          
                        <div class=" row no-gutters d-flex justify-content-center">

                          <!-- Icon --> 
                                  
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/images_videos.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title -->

                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title">

                              Images & Vidéos

                            </div>

                          </div>

                          <!-- Counter -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                              {% if presentation.slides | length == 0 %}

                              <span class="badgeCount badge badge-light text-danger">0</span>

                              {% else %}

                                <span class="badgeCount badge badge-light">
                                    {{ presentation.slides | length }}
                                </span>

                              {% endif %}
                              
                          </div>

                        </div>

                    </div>

                  </div>

                </a>

                <!-- Project Documents -->

                <a class=" text-decoration-none text-body" href="{{ path('manage_documents', {'slug':presentation.slug}) }}">
             
                  <div class="hoverZone card border-left-info shadow py-2 mb-3 ">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">


                    <!-- Icon -->
                                  
                    <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                      <span style="color: DarkGreen">
                      <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                        <img src="/images/icons/edit_presentation/menu/documents.svg" width="37px" height="37px" alt="">
                      </span>
                      
                    </div>

                    <!-- title -->
                    
                    <div class="col d-flex align-items-center justify-content-center">

                      <div class="cat-menu-title text-xs" >

                        <span class="text-uppercase">Documents</span>
                                          
                      </div>
              
                    </div>

                    <!-- Counter  -->

                    <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                          <span class="badgeCount badge badge-light">

                            {{ presentation.documents | length }}

                          </span>

                    </div>


                        </div>

                    </div>
                  </div>

                </a>
                
                <!-- Project Needs -->

                <a class='text-body' href="{{ path('need_index', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/needs.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Besoins du Projet</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            <span class="badgeCount badge badge-light">

                              {{ presentation.needs | length }}
  
                            </span>

                          </div>

                        </div>

                    </div>

                  </div>

                </a>
                
                
                <!-- Project Dates & Events -->

                <a class='text-body' href="{{ path('manage_events', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                            <img src="https://place-hold.it/100x100/ffa500" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Dates & événements</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            {% if presentation.events | length > 0 %}
  
                            <span class="badgeCount badge badge-light">

                              {{ presentation.events | length }}
  
                            </span>                           
                          
                          {% endif %}

                          </div>

                        </div>

                    </div>

                  </div>

                </a>

              </div>

              <!-- End of Second Column -->


  
  
              <!-- Third Column -->
              
              <div class="col-xl-4 col-md-6 mb-4 cursor-pointer">
                    
                <!-- Project Geodomains -->

                <a class='text-body' href="{{ path('geodomains_places_manage', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/geodomains.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col">

                            <div class="cat-menu-title text-xs d-flex align-items-center justify-content-center" >

                              <span class="text-uppercase">Lieux du Projet</span>
                                                
                            </div>

                              {% if presentation.geodomains | length == 0 %}

                               <h5 class="mt-2 text-center"> Monde Entier</h5>

                              {% endif %}
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            {% if presentation.geodomains | length > 0 %}

                              <span class="badgeCount badge badge-light">

                                  {{ presentation.geodomains | length }}

                              </span>

                            {% endif %}

                          </div>

                        </div>

                    </div>

                  </div>

                </a>

                <!-- Project Websites -->

                <a class='text-body' href="{{ path('websites_index', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/websites.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Sites Web &<br> réseaux sociaux</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            <span class="badgeCount badge badge-light">

                              {{ presentation.websites | length }}
  
                            </span>

                          </div>

                        </div>

                    </div>

                  </div>

                </a>
                
                <!-- Project Contact Us Informations -->

                <a class='text-body' href="{{ path('contact_index', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/contact_us.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Infos de Contact</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            <span class="badgeCount badge badge-light">

                              {{ presentation.contacts | length }}
  
                            </span>

                          </div>

                        </div>

                    </div>

                  </div>

                </a>

                <!-- Project Q&A -->

                <a class=" text-decoration-none text-body" href="{{ path('qa_manage', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2 mb-3">

                    <div class="card-body py-2">

                        <div class=" row no-gutters align-items-center">

                          <!-- Icon Left Column-->
                                        
                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">
                            
                            <span style="color: DarkGreen">
                            <!--  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
                              <img src="/images/icons/edit_presentation/menu/qa.svg" width="37px" height="37px" alt="">
                            </span>
                            
                          </div>

                          <!-- Title Middle Column -->
                          
                          <div class="col d-flex align-items-center justify-content-center">

                            <div class="cat-menu-title text-xs" >

                              <span class="text-uppercase">Questions <br> & Réponses</span>
                                                
                            </div>
                    
                          </div>

                          <!-- Counter (Third Column) -->

                          <div class="col-auto d-flex align-items-center justify-content-center ml-2">

                            <span class="badgeCount badge badge-light">

                              {{ presentation.questionAnswers | length }}
  
                            </span>

                          </div>

                        </div>

                    </div>

                  </div>

                </a>

                <!-- Display Project Presentation -->

                <a class="text-body" href="{{ path('project_show', {'slug':presentation.slug}) }}">

                  <div class="hoverZone card border-left-info shadow py-2">

                    <div class="card-body d-flex align-items-center justify-content-center">
                      
                      <div class="row no-gutters">
                        <div class="col mr-2">
  
                          <div class="cat-menu-title mb-md-4 ">Voir le Résultat</div>
    
                            <div class="d-flex align-items-center justify-content-center">

                              <img src="/images/icons/sidebar/presentation.svg" alt="See result icon" class="mx-auto" height:"65px" width="65px"> 

                            </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </a>

              </div>

              <!-- End of Third Column -->

            </div>

  
          </div>

    </div>

{% endblock %}