{% extends 'base.html.twig' %}


{% block meta %}

    <meta name="author" content="{{ presentation.creator.name }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentation.createdAt | date}}">
    
{% endblock %}
    

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}


{% block body %}


<style>


    .pp-struct-title{

        color : #2c3e50;
        font-family : Verdana, Geneva, Tahoma, sans-serif;
        

    }

    .pp-struct-container, .pp-struct-container li, .pp-struct-container a {

       background-color : #eff4ff;

    }

    div.pp-struct-container {

        padding-left:20px;
        padding-top:18px;
        border-radius:4px;
    }

    .pp-struct-container, .pp-struct-container li:hover, .pp-struct-container td:hover, .pp-struct-container a:hover {

       background-color : #eff4ff;

    }


    .pp-upper-box-container{

      //border: 5px solid navy;
      background-color:white;
      border-radius:4px;

    }

    .pp-contact-us-card, .pp-contact-us-card a {

      background-color : white !important;

    }

    .pp-private-message-card, .pp-private-message-card a {

      background-color : white !important;

    }



</style>

    <!-- Project Presentation Display Main Page -->

    <div class="container pl-md-4">

        <div class="row">

            <div class="col-md-10 mt-4 mb-3 pb-3" style="border-radius:4px !important;">

                <div class="pp-upper-box-container row pl-3 pl-md-5 mb-4 pb-4">

                    <!-- Title & Goal & Keywords Display -->

                    <div class="col-md-9">

                        <div class="row my-2">
                                          
                            <!-- Project Title -->
                            {% include 'pp/partials/_title.html.twig' %}              

                        </div>

                        <div class="row">

                                                    
                            <!-- Project Goal -->

                            <div class="mb-1">

                                {% include 'pp/partials/_goal.html.twig' %}

                            </div>
                            
                            <!-- Project Keywords -->
                            {% include 'pp/partials/_keywords.html.twig' %}
                            
                        </div>

                    </div>

                    <!-- Logo Display -->

                    <div class="col-rest pl-3">
                        
                        <!-- Project Logo -->
                        {% include 'pp/partials/_logo.html.twig' %}
                        
                    </div>

                </div>
                
                
                <!-- Project Slideshow Pitch -->
                {% include 'pp/partials/_slideshow.html.twig' %}

                <!-- Project Needs -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Project Websites -->
                {% include 'pp/partials/_websites.html.twig' %}
                
                <!-- Project Geographic Domains -->
                {% include 'pp/partials/_geoDomains.html.twig' %}

                <!-- Project Contact Us Cards & Private Message Button -->
                {% include 'pp/partials/_contactUs.html.twig' %}

            </div>
        
        </div>

        <div class="row">
            
            <div class="col-md-8 mb-3">


                <!-- Display Some Metadatas -->
                {% include 'pp/partials/_metadataDisplay.html.twig' %}

                <!-- some buttons (example : report abuse; save as pdf; ...) -->

                <a href="{{ path('report_new', {'context': presentation.id ~ ' ' ~  presentation.slug}) }}">
                    <button type="button" class="btn btn-light">Signaler un abus</button>
                </a>
                
            </div>

            <!-- Project Provider Caps -->
            {# {% include 'pp/partials/_projectPresenterArea.html.twig' %} #}


        </div>

    </div>

{% endblock %}
