{% extends 'base.html.twig' %}


{% block meta %}

    <meta name="author" content="{{ presentation.creator.name }}">
    <meta name="description" content="{{ presentation.goal }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentation.createdAt | date}}">
    
{% endblock %}


{% block title %}{{ presentation.title }}{% endblock %}

{% block sidebar %} {% include 'partials/sidebar.html.twig' %} {% endblock %}

{% block body %}

    <div class="container pl-md-4">

        <!-- Titre du Projet -->
        <h2 class="h3 font-weight-bold mt-4">{{presentation.title}}</h2>

        {% if app.user and app.user == presentation.creator %}


        {% endif %}

        <div class="row">
            
            <!-- Project Overview (Project Landing Page) -->

            <div class="col-md-8 mb3">

                <!-- Project Keywords -->
                {% include 'pp/partials/_keywords.html.twig' %}

                <!-- Project Goal Display -->
                {% include 'pp/partials/_goal.html.twig' %}

                <!-- Project Slideshow Pitch -->
                {% include 'pp/partials/_slideshow.html.twig' %}

                <!-- Project Needs -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Project Websites -->
                {% include 'pp/partials/_websites.html.twig' %}
                
                <!-- Project Geographic Domains -->
                {% include 'pp/partials/_geoDomains.html.twig' %}

                <!-- Project Contact Us -->
                {% include 'pp/partials/_contactUs.html.twig' %}

                <!-- Project Contact Message Button (i.e. Direct Private Message) -->
                {% include 'pp/partials/_privateMessage.html.twig' %}

                <!-- Display Some Metadatas -->
                {% include 'pp/partials/_metadataDisplay.html.twig' %}

                <!-- some buttons (example : report abuse; save as pdf; ...) -->

                <a href="{{ path('report_new', {'context': presentation.id ~ ' ' ~  presentation.slug}) }}">
                    <button type="button" class="btn btn-light">Signaler un Abus</button>
                </a>
                
            </div>

            <!-- Project Provider Caps -->
            {% include 'pp/partials/_projectProviderArea.html.twig' %}


        </div>
    </div>

{% endblock %}
