{% extends 'base.html.twig' %}


{% block meta %}

    <meta name="author" content="{{ presentation.creator.name }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentation.createdAt | date}}">
    
{% endblock %}


{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}


{% block body %}

    <div class="container pl-md-4">

        <div class="row">
            
            <!-- Project Overview (Project Landing Page) -->


            <div class="col-md-8 pt-4 mb-3">


                <!-- Project Title -->
                {% include 'pp/partials/_title.html.twig' %}
      
                <!-- Project Goal -->
                {% include 'pp/partials/_goal.html.twig' %}      

                <!-- Project Keywords -->
                {% include 'pp/partials/_keywords.html.twig' %}


                <!-- Project Slideshow Pitch -->
                {% include 'pp/partials/_slideshow.html.twig' %}

                <!-- Project Needs -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Project Websites -->
                {% include 'pp/partials/_websites.html.twig' %}
                
                <!-- Project Geographic Domains -->
                {% include 'pp/partials/_geoDomains.html.twig' %}

                <!-- Project Contact Us Cards & Private Message Button -->
                {% include 'pp/partials/_contactUs.html.twig' %}

                <!-- Display Some Metadatas -->
                {% include 'pp/partials/_metadataDisplay.html.twig' %}

                <!-- some buttons (example : report abuse; save as pdf; ...) -->

                <a href="{{ path('report_new', {'context': presentation.id ~ ' ' ~  presentation.slug}) }}">
                    <button type="button" class="btn btn-light">Signaler un abus</button>
                </a>
                
            </div>

            <!-- Project Provider Caps -->
            {% include 'pp/partials/_projectPresenterArea.html.twig' %}


        </div>

    </div>

{% endblock %}
