{% extends 'base.html.twig' %}


{% block meta %}

    <meta name="author" content="{{ presentation.creator.persorg.name }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentation.createdAt | date}}">
    
{% endblock %}
    

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}


{% block body %}


<style>

    /* Whole Presentation Container */

    .pp-whole-container {

        background-color :  #eff4ff;
 
     }

     /* Each Structure Container */

    .pp-struct-container {

        background-color : aliceblue;

        padding-left: 20px;

        padding-top: 18px;

        margin-bottom: 35px;

        border-radius: 0px;

        -webkit-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.75) !important;
        -moz-box-shadow: -4px 4px 9px 0px rgba(0,0,0,0.75) !important;
        box-shadow: -1px 1px 6px 0px #e6e4ff !important;
    
    }

    


    /* Each Structure Title Container (contains title + edit button) */
  
    .pp-struct-title-container{

        margin-bottom: 38px;

    }

    /* Each Structure Title */
  
    .pp-struct-title{

        color : navy;
        font-family : Verdana, Geneva, Tahoma, sans-serif; 

    }


    
    @media screen and (max-width: 580px) {

      
        .pp-struct-container {
    
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;

            margin-bottom: 15px;

            font-size: 15px !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        
        }

        .pp-struct-title-container{

            margin-bottom: 18px;

            //margin-left:10px;
    
        }

        .pp-struct-title{

            color : navy;
            font-family : Verdana, Geneva, Tahoma, sans-serif;

            font-size: 25px;
    
        }

    }

</style>


    <!-- Project Presentation Display Template -->

    <div class="pp-whole-container col-md-12 col-xl-10 mt-md-5 px-md-4 pt-3
    
        {# we center the presentation display when we are in consultation mode (in contrast, when in edit view, the presentation is not centered) #}


        {% if app.user == presentation.creator %}


        {% else %}
        
            container  

        {% endif %}
    
    ">


        <div class="row pt-2 px-md-2">

            <div class="col-md-12 mb-3 pb-3" style="border-radius:4px !important;">

                <!-- Upper Box (Contains Project Logo; Title; Goal; Keywords) -->
                {% include 'pp/partials/_upper_box.html.twig' %}

                <!-- Project Images & Videos (Displayed in a Slideshow) -->
                {% include 'pp/partials/_slideshow.html.twig' %}
                
                <!-- Project Text Description -->
                {% include 'pp/partials/_textDescription.html.twig' %}
                
                <!-- Project Supplementary Informations (aka Technical Data)-->
                {% include 'pp/partials/_technicalData.html.twig' %}
                
                <!-- Project Documents -->
                {% include 'pp/partials/_documents.html.twig' %}
                
                <!-- Project Dates & Events -->
                {% include 'pp/partials/_datesEvents.html.twig' %}
                
                <!-- Project Questions & Answers -->
                {% include 'pp/partials/_questionAnswer.html.twig' %}

                <!-- Project Needs -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Project Websites -->
                {% include 'pp/partials/_websites.html.twig' %}
                
                <!-- Project Geographic Domains -->
                {% include 'pp/partials/_geoDomains.html.twig' %}

                <!-- Project Owners -->
                {% include 'pp/partials/_owners.html.twig' %}

                <!-- Project Team -->
                {% include 'pp/partials/_team.html.twig' %}

                <!-- Project External Contributors -->
                {% include 'pp/partials/_externalContributors.html.twig' %}

                <!-- Project News -->
                {% include 'pp/partials/_news.html.twig' %}

                <!-- Project Contact Us Cards & Private Message Button -->
                {% include 'pp/partials/_contactUs.html.twig' %}
              
                <!-- Project Follow Button -->
                {% include 'pp/partials/_follow_button.html.twig' %}

                <!-- Users Comments -->
                {% include 'pp/partials/_comments.html.twig' %}


                    <div class="mt-5 mb-3">

                        <!-- Display Some Metadatas -->
                        {% include 'pp/partials/_metadataDisplay.html.twig' %}

                        <!-- some buttons (example : report abuse; save as pdf; ...) -->
                        <a href="{{ path('report_new', {'context': presentation.id ~ ' ' ~  presentation.slug}) }}">

                            <button type="button" class="btn btn-light">Signaler un abus</button>

                        </a>
                        
                    </div>

                    <!-- Project Provider Caps -->
                    {# {% include 'pp/partials/_projectPresenterArea.html.twig' %} #}



            </div>
        
        </div>


    </div>

{% endblock %}


{# Javascripts for Specific Project Structures Behaviours#}

{% block javascripts %}

    <!-- Project Comments Section -->

    <script>
        
        $(document).ready(function(){  

            // If reply to a comment form has errors, we display them to user (so we trigger Modal display) 

            {% if not replyForm.vars.valid %}
        
                 $('#replyCommentModal').modal('show');

            {% endif %}

            // When user wants to reply to a comment, we catch the parent comment id, and store it in the reply to comment form hidden field

            $( ".js-reply-comment-button" ).click(function() {
                
                var parentCommentId = $(this).data("id");

                $("#reply_comment_parentCommentId").val(parentCommentId);
              
            });

            //when user reply to a comment, we give focus to textarea

            $('#replyCommentModal').on('shown.bs.modal', function () {
                $('#reply_comment_content').focus();
                //alert('lol');
            }) 
            
            //we hide form honey pot
            
            $('.onpt').hide();
            
            
        });

    </script>


    <!-- Project Needs Section : ajax call when user wants need details -->

    {% if presentation.needs %}

        {% include 'pp/js_show/_needs.html.twig' %}
        
    {% endif %}

    <!-- Project News Section : ajax call when user wants news details -->

    {% if presentation.news %}

        {% include 'pp/js_show/_news.html.twig' %}
        
    {% endif %}


    <!-- ProjectTeammates & owners Sections : caroussel display -->

    {% if presentation.teammates | length > 0 or presentation.owners | length > 0 %}

        <script type="text/javascript" src="/js/slick.min.js"></script>

        <script>
            
            $(document).ready(function(){

                $('.teammatesSlideshow').slick({

                    infinite: false,
                    slidesToShow: 6,
                    slidesToScroll: 2,

                    responsive: [
                    
                        {

                            breakpoint: 480,

                            settings:

                            {

                                arrows: true,
                                slidesToShow: 3,
                                slidesToScroll: 2,

                            }

                        }
                    ],

                });


                $('.ownersSlideshow').slick({

                    infinite: false,
                    slidesToShow: 6,
                    slidesToScroll: 2,

                    responsive: [
                    
                        {

                            breakpoint: 480,

                            settings:

                            {

                                arrows: true,
                                slidesToShow: 3,
                                slidesToScroll: 2,

                            }

                        }
                    ],

                });



            });

        </script>
        
    {% endif %}





{% endblock %}
