{% extends 'base.html.twig' %}

{% block meta %}

    <meta name="author" content="{{ presentation.creator.persorg.name }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentation.createdAt | date}}">
    
{% endblock %}

{% block stylesheet %}{% endblock %}
    

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block sidebar %} 

    {% if is_granted('edit', presentation) %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}


{% block body %}

    {# Global Style Sheet for Project Presentation Page #}

    {% include 'pp/partials/_styles/_default.html.twig' %}


    {# check if user presents this project #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}


    {# form theme inclusion for project presenters #}

    {% if userPresenter %}

        {% form_theme addWebsiteForm 'bootstrap_4_layout.html.twig' %}

    {% endif %}


    {# manage placeholders inclusion for newly presented projects #}

	{% set presentationCreationTimeLapse = presentation.createdAt | date("U") - date().timestamp %} {% set placeHoldersLifeSpan = 172800  %} {# 2 days #} {# note : placeholders appears if placeHoldersLifeSpan > presentationCreationTimeLapse #}


    <!-- Project Presentation Display Template -->

    <div class="pp-whole-container col-md-12 col-xl-10 mt-md-5 mb-md-4 px-md-4 pt-1 pt-md-3
    
        {# centering presentation display in consultation mode (in contrast, when in edit mode view, the presentation is not centered due to sidebar) #}

        {% if not userPresenter %}
    
            container 

        {% endif %}
    
    ">

        {# When Some Specific Events Occur, we display feedback in a modal #}
        {% include '/pp/partials/_feedback_for_user/_manage_events_and_feedback.html.twig' %}


        <div class="row pt-2 px-md-2">

            <div class="col-md-12 mb-3 pb-3" style="border-radius:4px !important;">

                <!-- Upper Box (Contains Project Logo; Title; Goal; Keywords) -->
                {% include 'pp/partials/_upper_box.html.twig' %}

                {# Edit Slideshow PlaceHolder #}
                {% include 'pp/partials/_edit_slideshow_placeholder.html.twig' %}

                <!-- Display Project Images & Videos (Displayed in a Slideshow) -->
                {% include 'pp/partials/_slideshow_display.html.twig' %}

                {# Edit Text Description Placeholder #}
                {% include 'pp/partials/_edit_text_description_placeholder.html.twig' %}
                
                <!-- Project Text Description -->
                {% include 'pp/partials/_textDescription.html.twig' %}
                
                <!-- Project Follow Button -->
                {% include 'pp/partials/_follow_button.html.twig' %}
                
                <!-- Project Supplementary Informations (aka Technical Data)-->
                {% include 'pp/partials/_technicalData.html.twig' %}
                
                <!-- Project Documents -->
                {% include 'pp/partials/_documents.html.twig' %}

                <!-- Project News -->
                {% include 'pp/partials/_news.html.twig' %}
                
                <!-- Project Dates & Events -->
                {% include 'pp/partials/_events.html.twig' %}
                
                <!-- Project Questions & Answers -->
                {% include 'pp/partials/_faq.html.twig' %}

                <!-- Project Needs -->
                {% include 'pp/partials/_needs.html.twig' %}

                <!-- Project Websites -->
                {% include 'pp/partials/_websites.html.twig' %}

                <!-- Project Polls -->
                {% include 'pp/partials/_polls.html.twig' %}
                
                <!-- Project Geographic Domains -->
                {% include 'pp/partials/_geoDomains.html.twig' %}

                <!-- Project Owners -->
                {% include 'pp/partials/_owners.html.twig' %}

                <!-- Project Team -->
                {% include 'pp/partials/_team.html.twig' %}

                <!-- Project External Contributors -->
                {% include 'pp/partials/_externalContributors.html.twig' %}

                <!-- Project Contact Us Cards & Private Message Button -->
                {% include 'pp/partials/_contactUs.html.twig' %}

                <!-- Users Comments -->
                {% include 'pp/partials/_comments.html.twig' %}

                <!-- Other Buttons -->

                <div class="mt-5 mb-3">

                    <!-- Displaying Some Metadatas -->

                    {% include 'pp/partials/_metadataDisplay.html.twig' %}

                    {# some action buttons (example : report abuse; save as pdf; ...) #}

                    {# Share Presentation Button (trigger a modal) #}

                    <button 

                        onclick = "openSharePresentationModal()" 
                        
                        type="button" 
                        
                        class="btn btn-light mr-2 mb-2"
                    
                    >

                        <img class="img-fluid mr-2" src="/images/icons/miscellaneous/share.svg" height="16" width="16" alt="share icon" >

                        <span style="margin-bottom: 2px; font-weight: bold;">Partager cette adresse</span>
                    
                    </button>

                    {# Share Presentation Modal (html + js + css) #}

                    {% include 'pp/partials/_share_presentation_modal.html.twig' %}

                    

                    {# Report Abuse Button #}

                    <a href="{{ path('report_new', {'context': presentation.id ~ ' ' ~  presentation.slug}) }}">

                        <button type="button" class="btn btn-light mr-2 mb-2 ">Signaler un abus</button>
                        
                    </a>

                    {# Join Presentation Button #}

                    <a href="{{ path('edit_presentation_request', {'slug': presentation.slug}) }}">
                        <button type="button" class="btn btn-light mr-2 mb-2">Présenter ce projet</button>

                    </a>
                    

                    {# Back To Top Button #}

                    <button id="back-to-top-button" class="" onclick="topFunction()" class="d-flex align-items-center" title="Back to top button">

                        <svg width="16.4" height="16.4" version="1.1" viewBox="0 0 51.4 30.9" xmlns="http://www.w3.org/2000/svg">
                            <path d="m46.2 30.1-20.8-22.5-20.6 22.5c-1.21 0.742-2.77 0.578-3.79-0.398-1.03-0.98-1.27-2.53-0.586-3.77l22.9-25c0.602-0.613 1.43-0.961 2.29-0.961 0.863 0 1.69 0.348 2.29 0.961l22.9 25c0.887 1.29 0.688 3.04-0.473 4.09-1.16 1.05-2.91 1.09-4.11 0.0781z"/>
                        </svg>

                    </button>

                    {# Toggle Dark Theme Normal Theme Buttons

                    {% include 'pp/partials/_dark_theme/_buttons_with_actions.html.twig' %}
                    {% include 'pp/partials/_dark_theme/_style_dark_theme.html.twig' %}  #}

                </div>

                <!-- Some Statistics -->

                <div class="pl-2">

                    <!-- Views Count -->

                    <div class="">

                        {% include 'pp/partials/_statistics/_views_count.html.twig' %}
                        
                    </div>

                    <!-- Followers Count -->

                    <div class="">

                        {% include 'pp/partials/_statistics/_followers_count.html.twig' %}

                    </div>

                </div>

                {# Switch Between Edition Mode and Consultation Mode Button #}

                {% if userPresenter %}

                    <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition and consultation">👁</button>

                {% endif %}

                {#  Project Presenter General Informations Display
                {% include 'pp/partials/_projectPresenterArea.html.twig' %} #}

            </div>
        
        </div>

    </div>

{% endblock %}


{# Javascripts for Specific Project Structures Behaviours#}

{% block javascripts %}

    <!-- Back to Top Button -->

    {% include 'pp/js_show/_back_top_button.html.twig' %}

    <!-- Project Comments Management -->

    <script>
        
        $(document).ready(function(){
            
            {% if is_granted('edit', presentation) %}
    
                //if user edit presentation, we enter in edition mode by default

                //some elements are only displayed in consultation mode (follow button for example)

                $(".pp-consultation-mode").addClass("d-none");

                //manage switch between edition mode and consultation mode
                    
                $( "#pp-switch-edit-consult-mode" ).click(function() {
                    
                    if($(this).hasClass("edition-mode")){

                        // entering consultation mode

                        // toggling switch button class

                        $(this).removeClass("edition-mode");
                        $(this).addClass("consultation-mode");
                        $(this).html("✎");

                        //hiding elements related to edition
                        $(".pp-edition-mode").hide();

                        //showing elements related to consultation

                        $(".pp-consultation-mode").addClass("d-block");

                        //managing indentation caused by sidebar disappearance
                        $(".pp-whole-container").addClass("container");

                    }

                    else{

                        //entering edition mode

                        // toggling switch button class

                        $(this).removeClass("consultation-mode");
                        $(this).addClass("edition-mode");
                        $(this).html("👁");

                        //showing elements related to edition 
                        $(".pp-edition-mode").show();

                        //hiding elements related to consultation
                        $(".pp-consultation-mode").removeClass("d-block");

                        //managing indentation caused by sidebar apparition
                        $(".pp-whole-container").removeClass("container");

                    }
                
                });

                // Managing potential form errors display when user add an image : we have to trigger modal box display for the user to be aware of these errors.

                {% if not addImageForm.vars.valid %}

                    $('#addImageFormModal').modal('show');

                {% endif %}

                // Managing potential form errors display when user add a website (same as above)

                {% if not addWebsiteForm.vars.valid %}

                    $('#newWebsiteFormModal').modal('show');

                {% endif %}

            {% endif %}


            /* Reply to a comment management */

            // we catch parent comment id, and store it in an hidden form field

            $( ".js-reply-comment-button" ).click(function() {
                
                var parentCommentId = $(this).data("id");

                $("#reply_comment_parentCommentId").val(parentCommentId);
              
            });

            // we give focus to reply comment textarea

            $('#replyCommentModal').on('shown.bs.modal', function () {
                
                $('#reply_comment_content').focus();
                
            }) 
            
            // Hiding form honey pot
            
            $('.onpt').hide();

            
            // Managing potential form errors display when user reply to a comment

            {% if not replyForm.vars.valid %}
        
                 $('#replyCommentModal').modal('show');

            {% endif %}



            // displaying a slideshow image or video when hovering its thumbnail

            $( ".thumbnail" ).mouseover(function() {

                currentSlide($(this).data("loop-index"));
                
            });
            
            
        });

    </script>

    <!-- Project News Section : ajax call when user request a news details -->

    {% if presentation.news %}

        {% include 'pp/js_show/_news.html.twig' %}
        
    {% endif %}

    {# project websites logos management #}

    {% if presentation.websites %}

        {% include 'pp/js_show/_websites_logos.html.twig' %}
        
    {% endif %}

{% endblock %}
