<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button type="button" id="sidebarCollapse" class="btn mx-md-3 ">
        <i class="fas fa-align-left"></i>
        <span>><</span>
    </button>

    <a class="navbar-brand" href="{{ path('homepage') }}">ProtoRoad</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('projects_index')}}">Projets</a>
            </li>
 
            <li class="nav-item">
                <a class="nav-link" href="{{path('projects_groups_index')}}">Groupes de Projets</a>
            </li> 

            <form class="form-inline ml-2">
                <a href="{{path('projects_create')}}">
                    <button class="btn btn btn-info font-weight-bold" type="button">+ Ajouter un Projet</button>
                </a>
            </form>

        </ul>

        <ul class="navbar-nav ml-auto">

            {% if app.user %}

                <li class="nav-item dropdown">
                    

                    <a class="nav-link dropdown-toggle bg-primary text-white font-weight-bold rounded" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        
                        {% if app.user.imageName %}
                        
                            <img src="{{app.user.imageName}}" class="" alt="{{app.user.name}}" style="width:25px; height:25px;">

                        {% else %}

                             Compte
                           
                        {% endif %}


                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDopdownLink">
                        <a href="{{ path('projects_create') }}" class="dropdown-item">Ajouter un Projet</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item">Mes Infos</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier le Profil</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                  
         <!--        <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link">Inscription (en test)</a>
                </li> -->

                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link bg-primary text-white font-weight-bold rounded">Connexion</a>
                </li>

            {% endif %}
        </ul>
    </div>
    
</nav>