<!-- Sidebar  -->

<nav id="sidebar" class="">

    <ul class="list-unstyled components bg-light border-bottom border-top border-primary mt-4">

        <li>
            <a href="{{path('project_show',{'slug': presentation.slug})}}">
                <span class="mr-2">🏠</span>
                Accueil
            </a>
        </li>
<!-- 
        <li>
            <a href="{{path('project_edit',{'slug':presentation.slug})}}">
                <span class="mr-2">🏠</span>
                Généralités
            </a>
        </li> -->

        <li>
            <a href="{{path('index_project_messages', {'slug':presentation.slug})}}">
                <span class="mr-2 rounded-pill border border-info border-2 px-2"><span class="font-weight-bold bg-white">🖂</span></span>
                
                Messages
            </a>
        </li>

        <li>
            <a href="{{path('slideshow_index', {'slug':presentation.slug})}}">
                <span class="mr-2">⭐</span>
                Diapo Pitch
            </a>
        </li>

        <li>
            <a href="{{path('contact_index', {'slug':presentation.slug})}}">
                <span class="mr-2 font-weight-bold text-indigo h4">@</span>
                Contact Infos
            </a>
        </li>

        <li>
            <a href="{{path('need_index', {'slug':presentation.slug})}}">
                <span class="h5 mr-2">☛</span>
                Besoins
            </a>
        </li>

        <li>
            <a href="{{path('index_categories', {'slug':presentation.slug})}}">
                <span class="h5 p-0 m-0 font-weight-bold text-info">●</span>
                <span class="h5 p-0 m-0 font-weight-bold mr-2 text-warning">■</span>
                Catégories
            </a>
        </li>

        <li>
            <a href="{{path('places_city_manage', {'slug':presentation.slug})}}">
                <span class="mr-2">🌍</span>
                Lieux
            </a>
        </li>

        <li>
            <a href="{{path('websites_index', {'slug':presentation.slug})}}">

                <span class="font-weight-bold mr-2">www</span>
                Sites Webs
            </a>
        </li>

    </ul>

    <ul class="list-unstyled CTAs">
  <!--       <li>
            Hello
        </li>
        <li>
            Yep!
        </li> -->
    </ul>

</nav>

<!-- Exemble d'Item de Menu Collapsable -->

<!-- 
        <li class="active h5">

            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Accueil
            </a>

            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li>
                    <a href="#">Home 1</a>
                </li>

                <li>
                    <a href="#">Home 2</a>
                </li>

                <li>
                    <a href="#">Home 3</a>
                </li>

            </ul>

        </li> -->