

{% if app.user and app.user == presentation.creator %}
{% endif %}


    <!-- Sidebar Items Names paired with their Access Route Names, their icons -->

    {% set sidebarItems = [ 

        { 'name': 'Modifier', 'route': 'edit_presentation_menu', 'iconName': 'edit.svg'},  
        
        { 'name': 'Voir le Résultat', 'route': 'project_show', 'iconName': 'presentation.svg'}, 

        { 'name': 'Messages', 'route': 'index_project_messages', 'iconName': 'messages.svg', 'badge': (presentation.countUnreadMessages() ?: null )},

        { 'name': 'Export & Liens', 'route': 'links_index', 'iconName': 'links.svg'},

        { 'name': 'Réglages', 'route': 'settings_index', 'iconName': 'settings.svg'},

    ] %}


    <!-- Sidebar Template  -->

    <nav id="sidebar" class="mr-md-3">

        <ul class="list-unstyled rounded border-warning components ml-md-3 pl-md-3" style="margin-top:31px; background-color:#eff4ff;border:2px solid orange;">

            {% for item in sidebarItems %}

                <li class="d-flex align-items-center ">

                    <a href="{{ path(item.route, {'slug':presentation.slug}) }}">  

                        <img src="/images/icons/sidebar/{{item.iconName}}" alt="{{item.iconName}} icon" class="float-left mr-md-3" height:"31px" width="31px">

                        <span class="align-middle">
                            {{item.name}}
                        </span>
    
                        

                        {% if item.badge is defined and item.badge is not null %}

                            <span class="badge badge-primary font-weight-bold ml-1">
                                {{item.badge}}
                            </span>

                        {% endif %}
                        
                    </a>

                </li>

            {% endfor %}


        </ul>

        <!-- adjoining ul exemple -->

        <!-- <ul class="list-unstyled CTAs">

        </ul> -->

    </nav>

    <!-- Collapsible Menu Item Example -->

    <!-- 
            <li class="active h5">

                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Accueil
                </a>

                <ul class="collapse list-unstyled" id="homeSubmenu">

                    <li>
                        <a href="#">Home 1</a>
                    </li>

                    <li>
                        <a href="#">Home 2</a>
                    </li>

                    <li>
                        <a href="#">Home 3</a>
                    </li>

                </ul>

            </li> -->
