{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Envoyer un Message{% endblock %}

{% block body %}

    <div class="container col-sm-6">
        
        <h3 class="my-4 font-weight-bold">Envoyer un Message</h3>
            
        {{ form_start(form) }}

        {{ form_widget(form) }}
    
        <button class="btn btn-lg btn-success font-weight-bold mr-2">{{ button_label|default('Envoyer') }}</button>
    
        <a href="{{path('project_show',{'slug':slug})}}">
    
            <button type="button" class="btn btn-lg btn-danger font-weight-bold">Annuler</button>
        </a>
        
        {{ form_end(form) }}
        
    </div>

{% endblock %}
