



    {% set hasMoreToShow = false %}

    {% if persorg.description is not empty or persorg.email is not empty or persorg.webdomain1 is not empty or persorg.webdomain2 is not empty or persorg.webdomain3 is not empty or persorg.webdomain4 is not empty  %}

        {% set hasMoreToShow = true %}

    {% endif %}
        
    <div 
    
        class="
    
            persorg-card card pt-1 mb-3

        "

        {% if hasMoreToShow %} 
        
            data-toggle="modal" data-target="#persorgDisplayModal{{persorg.id}}"
        
        {% endif %}
    
    >
        
        <!-- Persorg Image -->
            
        <div class="d-flex align-items-center justify-content-center" style="height:110px;">

            {% if persorg.image is not empty %}

                <div> <!-- sub img-fluid applies only applies to this parent div  -->

                    <img class="img-fluid rounded-lg" src="{{ asset('/images/persorgs/' ~ persorg.image) | imagine_filter('logo_thumbnail_sm') }}" style="max-width:100px; max-height:90px;">

                </div>
            
            {% else %}
                                        
                <div class="avatar-circle mx-auto">

                    <span class="initial">

                        {{persorg.name | slice (0,1) | capitalize }}

                    </span>

                </div>
            
            {% endif %}

        </div> 


        <!-- Persorg Name -->

        <div class="d-flex align-items-center justify-content-center mb-2 font-weight-bold" style="height:45px; overflow-y:hidden;">

            <div class="px-2 text-center">{{persorg.name | length < 35 ? persorg.name : persorg.name|slice(0, 35)~'...'}}</div>

        </div>

                    
        <!-- Persorg Show More Info Button (if we have more info available) -->

        {% if hasMoreToShow %}

            <div class="font-weight-bold text-center">
        
                <span href="#" class="badge badge-primary" data-toggle="modal" data-target="#persorgDisplayModal{{ loop.index }}">Voir +</span>

            </div>                
        
        {% endif %}


    </div>
            





