
                                                          
    <!-- Teammate Display Card Template -->


    <!-- Some Styles -->

    <style>

        

    </style>

    <!-- Teammate card -->

    <div id="{{teammate.id}}" class="">

        <!-- Teammate Name -->

        <div class="d-flex justify-content-center font-weight-bold mt-3 mb-3">

            {{ teammate.persorg.name | length < 10 ? teammate.persorg.name : teammate.persorg.name | slice(0, 10 ) ~ '...' }}

        </div>

        <!-- Teammate Description -->
        
        <div>
            
            {{ teammate.persorg.description }}

        </div>

        <!-- Teammate Image -->
        
        <div class="d-flex justify-content-center">

            {% if teammate.persorg.image %}
            
                <img class="rounded-circle border border-primary" src="{{ asset('/images/persorgs/' ~ teammate.persorg.image) | imagine_filter('logo_thumbnail_sm') }}">

            {% else %}
                                
                <div class="avatar-circle mx-auto" style="margin-top:25px;">
        
                    <span class="initials">
        
                        {{teammate.persorg.name | slice (0,1) | capitalize}}
        
                    </span>
        
                </div>

            {% endif %}

            
        </div> 

        
    </div>