{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Membres de l'équipe du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}


    <!-- Page Content Container -->

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-4 mb-2">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline-block mb-2 mr-3">Membres de l'équipe</h3>

            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a>

        </div>

        <!-- Collapsible Info Container -->

        <div class="info-box collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Ici vous pouvez présenter les membres de votre équipe. <br> <br>
               
            </p>

        </div>

        <!-- Add a Teammate (according to max limit) -->

        <div class="mb-4">

            {% if presentation.teammates | length < constant('MAX_ALLOWED_TEAMMATES', presentation) %}
          
                <!-- Add a Teammate Button -->
                    
                <button type="button" data-toggle="modal" data-target="#teammateFormModal" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter un membre</button> 

            {% else %}
                
                <p class="fs-15 bg-light d-inline-block p-2 mb-0">La limite maximale de {{ constant('MAX_ALLOWED_TEAMMATES', presentation)}} membres d'équipe est atteinte. </p>
    
    
            {% endif %}



        </div>


        <!-- Form Display (in a Modal Box) -->

        <div class="modal fade" id="teammateFormModal" tabindex="-1" role="dialog" aria-labelledby="teammateModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="documentModalLabel">Ajouter un Membre</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true">&times;</span>

                        </button>

                    </div>

                    <div class="modal-body">

                        {{ form_start(form) }}

                        <div class="mt-3 mb-3 px-3">

                            {{ form_row(form.name) }}

                        </div>

                        <div class="mb-3 px-3">

                            {{ form_row(form.missions) }}

                        </div>

                        <div class="mb-3 px-3">

                            {{ form_row(form.imageFile) }}

                        </div>

                        <div class="d-none">

                            {{ form_rest(form) }}
                            
                        </div>
                        

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-lg btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>         

                        <button class="btn btn-lg btn-success sharp bg-green font-weight-bold">Valider</button>
                        
                    </div>

                    {{ form_end(form) }}

                </div>

            </div>

        </div>


        <!-- Project teammates Grid -->

        <div class="container mb-2">

            <div id="teammatesList" class="row col-md-12 pl-0">

                {% if presentation.teammates | length > 0 %}

                    {% for teammate in presentation.teammates %}
 <a href="{{path('edit_teammate', {'slug':slug,'id_teammate' : teammate.id })}}" class="text-body text-decoration-none">
                     <!-- Teammate Card -->

                     <div id="{{teammate.id}}" class="js-sortableGridItem position-relative mr-4 mb-4 cursor-pointer border border-primary pb-4" style="height:200px; width:150px;">   
                         
                       
                         
                            {% include 'teammates/_teammate_card_display.html.twig' %}
                          

                                        
                        <!-- Remove Teammate (Button with Red Cross) -->

                        <button type="button" class="js-delete-teammate d-inline position-absolute btn btn-danger sharp p-1 px-2" data-id="{{teammate.id}}" style="top:0; right:0;"><span class="font-weight-bold">x</span></button>


                     </div>            
                        </a>   

                    {% endfor %}

                {% endif %}

            </div>

        </div>


        <!-- Back Button -->

        <div>

            <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
                <button type="button" class="btn btn-info btn-lg bg-blue font-weight-bold mt-2 mb-4 sharp">Retour</button>
            </a>

        </div>

    </div>

{% endblock %}


{% block javascripts %}

    <!-- sortable plugin in order to reorder Documents -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            // if form errors are detected, we have to trigger form modal display

            {% if not form.vars.valid %}

                $('#teammateFormModal').modal('show');

            {% endif %}

            // Reorder teammates display with drag and drop

            $('#teammatesList').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // reorder documents positions (drag and drop)

                onEnd: function (evt) {

                    // an array storing teammates id position

                    var teammatesPositions = [];

                    
                    $('#teammatesList div.js-sortableGridItem').each(function(index){
                        
                        teammatesPositions.push($(this).attr('id'));
                
                    });

                    jsonTeammatesPositions = JSON.stringify(teammatesPositions);
                    
                    $.ajax({  

                        url: "{{path('ajax_reorder_teammates', {'slug': presentation.slug})}}",

                        type:       'POST',   

                        dataType:   'json',

                        data: {

                            "jsonTeammatesPositions": jsonTeammatesPositions,

                        },

                        async: true,  
                        
                        success: function(data, status) {
                                
                        },  

                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                    }); 

                },
            });

                                                
            // Remove a Teammate

            $('#teammatesList').on('click', '.js-delete-teammate', function (){

                var idTeammate = $(this).attr("data-id");

                if (confirm("Confimez vous enlever cet équipier ?"))
                {

                $(this).html('<div class="loader"></div>');
                    
                $.ajax({  

                    url: "{{path('ajax_remove_teammate', {'slug': presentation.slug}) }}",
                    type:       'POST',   
                    dataType:   'json',
                    
                    data: {
                        "idTeammate": idTeammate,
                    },

                    async: true,  
                    
                    success: function(data, status) {

                        $("#teammatesList #"+idTeammate).remove();
                        
                    },  

                    error : function(xhr, textStatus, errorThrown) {  

                        alert('Ajax request failed.');

                    }  

                    }); 
                    
                }
    
            });











        }); 

        
    </script>

{% endblock %}