<!-- Persorg Form Display (in a Modal Box) -->

{# Persorg stands for person OR organisation #}

{% form_theme persorgForm 'bootstrap_4_layout.html.twig' %}

<div class="modal fade" id="addPersorgFormModal" tabindex="-1" role="dialog" aria-labelledby="persorgModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="documentModalLabel"><b>Ajouter une personne ou une organisation</b> </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body pt-3">


                {{ form_start(persorgForm) }}

                <div class="mb-3 px-md-3">

                    {{ form_row(persorgForm.name) }}

                </div>

                <div class="mb-3 px-md-3">

                    {{ form_row(persorgForm.imageFile) }}

                </div>

                <div class="mb-3 px-md-3">

                    <h4 class="font-weight-bold h5">Site web ou réseau social (facultatif)</h4>

                    {{ form_widget(persorgForm.webdomain1) }}

                </div>

                <div class="mb-3 px-md-3">

                    <h4 class="font-weight-bold h5">Adresse e-mail (facultatif)</h4>

                    {{ form_widget(persorgForm.email) }}

                </div>

                <div class="mb-3 px-md-3">

                    <h4 class="font-weight-bold h5">Ajouter un commentaire (facultatif)</h4>

                    {{ form_widget(persorgForm.description) }}

                </div>

                <div class="d-none">

                    {{ form_rest(persorgForm) }}
                    
                </div>
                

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-lg btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>         

                <button class="btn btn-lg btn-success sharp bg-green font-weight-bold">Valider</button>
                
            </div>

            {{ form_end(persorgForm) }}

           

        </div>

    </div>

</div>