{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Catégories du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<style>
        
    .catButton {
    
        height:61.2px;

        font-size:1.1em;

        margin-right:23px;
        margin-bottom:-5px;

        line-height:1.4em !important;
        
        border-color:black !important;
        
    }

    .catButton:hover{
        background-color:gainsboro;
    }
    
    .leftDiv {
    
        width:50px !important;
        text-align:center;
        padding-left:7px;
        
    }
    
    .rightDiv {
        
        width:190px;
        padding-left:5px;
    }

    /* La selection de la classe parente Permet un Override du Hover */
    #catGrid .selectedCategory, #catGrid .selectedCategory:hover {
        background-color: yellow !important;
    }

</style>

<div class="container">
           
    <!-- ui Page Title -->	
    
    <h5 class="h4 font-weight-bold my-3 mt-4">Catégories du Projet</h5>
    
    <!-- collapsible advice -->	

    <button class="btn btn-primary d-block font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

        <span class="h5" style="letter-spacing: 2px;">>  Conseils en 5 sec  <</span>
        
    </button>
    
    <div class="collapse mt-3" id="collapseExample">
                
        <ul class="h5">

            <li>On peut <strong>Combiner les Catégories</strong></li>

            <li>Exemple: Environnement ET Construction</li>

            <li>Maximum Recommandé : 3</li>

            <li><strong>Compléter avec des Mots-Clés est Efficace</strong></li>

        </ul>

    </div>



    <!-- Categories Grid -->

    <div id="catGrid" class="col-sm-10 clearfix ">

        {% for category in categories %}

        <div id="{{category.id}}" class="{% if category in presentation.categories %}selectedCategory {% endif %} catButton cursor-pointer float-left border rounded row mt-3 d-table">

            <div class="leftDiv d-table-cell align-middle">
                <img id="" class="" src="/images/icons/categories/{{category.name}}.svg" alt="{{category.name}}" width="30" height="30">
            </div>
        
            <div class="rightDiv d-table-cell align-middle font-weight-bold">
                    {{category.descriptionFr}}
            </div>
        
        </div>

        {% endfor %}
        
    </div>

    <!-- Edit Keywords Form -->

      
        {{form_start(form)}}

        <div class="col-md-7 mt-4 mb-3 alert alert-light border border-primary">

            {{form_row(form.keywords)}}

            <button type="submit" class="btn btn-success mb-1"><span class="h5 font-weight-bold">Valider</span></button>

        </div>

        {{form_end(form)}}

</div>

{% endblock %}

{% block javascripts %}

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function(){  

            $("#catGrid .catButton").on("click", function(event){ 

               var catId = $(this).attr('id');

               $(this).toggleClass("selectedCategory");

               $.ajax({  
                  url: "{{path('ajax_update_category', {'slug': presentation.slug}) }}",
                  type:       'POST',   
                  dataType:   'json',
                  data: {
                    "catId": catId,
                  },
                  async:      true,  
                  
                  success: function(data, status) {  
                      // alert(data.catId)
                     
                  },  
                  error : function(xhr, textStatus, errorThrown) {  
                      // alert('Ajax request failed.');  
                  }  
               });  
            });  
        });  

    </script>


    

{% endblock %}