{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Catégories du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}


{% block body %}

<style>
        
    .catButton {
    
        height:61.2px;
        font-size:1.1em;
        margin-right:23px;
        margin-bottom:-5px;
        line-height:1.4em !important;
        
        border-color:black !important;
        
    }
    .catButton:hover{
        background-color:gainsboro;
    }
    
    .leftDiv {
    
        width:50px !important;
        text-align:center;
        padding-left:7px;
        
    }
    
    .rightDiv {
        
        width:190px;
        padding-left:5px;
    }
    /* La selection de la classe parente Permet un Override du Hover */
    #catGrid .selectedCategory, #catGrid .selectedCategory:hover {
        background-color: yellow !important;
    }
    
    input {
        outline: 0;
        border-width: 0 0 4px;
        border-color: #ffa500;
        padding-bottom: 5px;
        border-radius: 0px;
        width:320px;
        margin-right:16px;
      }
      input:focus {
        border-color: green
      }
            
      input::placeholder {
        font-size:0.95em !important;
        color: rgb(49, 25, 93)  !important;
      }
      
</style>

<div class="container pt-2">
           
    <!-- ui Page Title -->	
    
    <h5 class="h4 font-weight-bold my-3 mt-4 d-inline-block mr-3">Catégories du Projet</h5>
    
    <!-- collapsable advice -->
    
      <!-- Trigger Button -->
      
      <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        
        <span class="btn btn-light fs-15 h5 sharp p-1" style="letter-spacing: 2px;">Conseils rapides</span>
        
      </a>
      
      <!-- Advice -->

      <div class="info-box collapse mt-2" id="collapseExample">
                  
          <ul class="h5">

              <li>On peut <strong>combiner les catégories</strong></li>

              <li>Exemple: Environnement ET Construction</li>

              <li>Maximum recommandé : 6</li>

              <li><strong>Compléter avec des mots-clés est efficace</strong></li>

              <li>Séparez les mots-clés avec des virgules</li>

          </ul>

      </div>


    <!-- Categories Grid -->

    <div id="catGrid" class="clearfix pl-3">

        {% for category in categories %}

        <div id="{{category.id}}" class="{% if category in presentation.categories %}selectedCategory {% endif %} catButton cursor-pointer float-left border rounded row mt-3 d-table">

            <div class="leftDiv d-table-cell align-middle">
                <img id="" class="" src="/images/icons/categories/{{category.name}}.svg" alt="{{category.name}}" width="35" height="35">
            </div>
        
            <div class="rightDiv d-table-cell align-middle font-weight-bold">
                    {{category.descriptionFr}}
            </div>
        
        </div>

        {% endfor %}

        <div class="d-inline-block" style="margin-top:35px;">

            {{form_start(form)}}
            
            {{form_errors(form.keywords)}}
            {{form_widget(form.keywords)}}


            <button type="submit" class="btn btn-success mb-1 sharp bg-green"><span class="h5 font-weight-bold">Valider</span></button>

            {{form_end(form)}}
        </div>
        
    </div>

</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){  
            $("#catGrid .catButton").on("click", function(event){ 
               var catId = $(this).attr('id');
               $(this).toggleClass("selectedCategory");
               $.ajax({  
                  url: "{{path('ajax_update_category', {'slug': presentation.slug}) }}",
                  type:       'POST',   
                  dataType:   'json',
                  data: {
                    "catId": catId,
                  },
                  async:      true,  
                  
                  success: function(data, status) {  
                      // alert(data.catId)
                     
                  },  
                  error : function(xhr, textStatus, errorThrown) {  
                      // alert('Ajax request failed.');  
                  }  
               });  
            });  
        });  
    </script>


    

{% endblock %}