{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Sites Web du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}


{% block body %}

    <style>
                
        input {
            color:black !important;
            font-size:1.25em !important;
            width: 100%;
            padding: 5px 12px;
            margin: 4px 0 8px 0;
            border-style:solid;
            display: inline-block;
            box-sizing: border-box;
        }

        label {
            margin: 0;
        }

    </style>

    <div class="container">

        <div class="mt-3 mt-md-4 mb-2">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Gérer les sites web</h3>

            
            <!-- collapsable advice -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Conseil</span>
                
            </a>

        </div>

        <div class="collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Vous pouvez lister ici tous les sites webs en liens avec votre projet. 

            </p>

            <p class="h5">

                Exemples : site web personnel; réseaux sociaux; serveur Discord; dépôt Github; Trello; Slack et autres.

            </p>

        </div>

        <!-- <h3 class="mt-3 mb-2">Gérer les sites web</h3> -->

        {% form_theme form '/partials/jquery.collection.html.twig' _self %}


        {{form_start(form)}}
            
        {{form_widget(form)}}

        {{form_end(form)}}

    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">

        $('.actions-collection').collection({

            position_field_selector: '.my-position',

            up: '<button type="button" class="mr-2 btn btn-outline-primary arrowCar font-weight-bold bg-white">▲</button>',

            remove: ' <button type="button" class="mr-2 btn btn-danger sharp my-1"><span class="h5 font-weight-bold">Retirer ce site</span></button>',

            down: ' <button type="button" class="btn btn-outline-primary arrowCar font-weight-bold bg-white mr-1">▼</button>',

            add: ' <button type="button" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter un site web</button>',

            fade_in: false,

            fade_out: false,

            add_at_the_end: true,

        });

        // insert submit button into each website box and align it

        $(document).ready(function(){  

            // Submit Button html Tag

            var submitButton = '<button type="submit" class="js-submit-button btn btn-success bg-green sharp my-1 mr-2"><span class="h5 font-weight-bold"> Enregistrer</span></button>';

            // We add Submit button into each box at initialisation

            $(".website_collection_websites-collection-actions").prepend(submitButton)

            // We add Submit button each time add button is clicked

            $(".website_collection_websites-collection-rescue-add").on("click", function(event){ 

                $(".js-submit-button").remove();

                setTimeout(function() {
                    $(".website_collection_websites-collection-actions").prepend(submitButton);
                }, 100);
        
            });  

        });  

    </script>

{% endblock %}



{% block _website_collection_websites_widget %}

    {{ form_widget(form) }}

{% endblock %}

{% block _website_collection_websites_entry_row %}

    {{form_widget(form)}}
    
    
{% endblock %}

{% block _website_collection_websites_entry_widget %}

    <div class="list-item col-md-6 p-2 px-3 mb-3" style="background-color:#f3f6f8;"> 

            <div class="">

                <span class="mr-2"> {{ form_label(form.url) }}</span>
               
                {{ form_widget(form.url) }}

            </div>

            <div class="mb-2">

                <span class="mr-2">{{ form_label(form.description) }}</span>
                
                {{ form_widget(form.description) }}

            </div>

            <div class="mb-2">

                {{ form_row(form.position) }}

            </div>
            
    

        </div>    

       
{% endblock %}
