{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Sites Web du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}


{% block body %}

    <div class="container">

        <h3 class="my-3">Gérer les Sites Web</h1>

        <div class="card border-primary h5 mb-3" style="max-width: 35rem;">

            <div class="card-header">Info</div>

            <div class="card-body">

                <h4 class="card-title">Sites Webs</h4>

                <p class="card-text">Ici vous pouvez lister tous les sites webs et les domaines web en liens avec votre projet (exemple : site web personnel, réseaux sociaux, dépôt Github, Trello, Slack, Discord et autres).</p>

            </div>

        </div>

        {% form_theme form _self '/partials/jquery.collection.html.twig' %}

        {{form_start(form)}}
            
        {{form_widget(form)}}

        <div class="mt-3">

                <button type="submit" class="btn btn-success btn-lg mb-4 mr-2 font-weight-bold">Enregistrer</button>

        </div>

        {{form_end(form)}}

    </div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('js/jquery.collection.js') }}"></script>

<script type="text/javascript">

    $('.actions-collection').collection({
        position_field_selector: '.my-position',
        up: '<button type="button" class="mr-1 btn btn-outline-primary arrowCar font-weight-bold">▲</button>',
        remove: ' <button type="button" class="mr-1 btn btn-danger font-weight-bold"><span class="">X</span></button>',
        down: ' <button type="button" class="btn btn-outline-primary arrowCar font-weight-bold bg-white mr-1">▼</button>',
        add: ' <button type="button" class="btn btn-lg btn-primary font-weight-bold mr-1">+ Ajouter un Site Web</button>',
        fade_in: false,
        fade_out: false,
        add_at_the_end: true,
    });

</script>

{% endblock %}



{% block _website_collection_websites_widget %}

    {{ form_widget(form) }}

{% endblock %}

{% block _website_collection_websites_entry_row %}

    {{form_widget(form)}}
    
{% endblock %}

{% block _website_collection_websites_entry_widget %}

        <div class="list-item border border-primary rounded col-md-5 p-2 px-3 mb-3" style="background-color:#f0f5e3;"> 

            <div class="">
                {{ form_row(form.url) }}
            </div>
            <div class="mb-2">
                {{ form_row(form.description) }}
            </div>
            <div class="mb-2">
                {{ form_row(form.position) }}
            </div>
        </div>    

       
{% endblock %}
