{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/table_responsive.css">{% endblock %}

{% block title %}Liste des Ressources Désirées{% endblock %}

{% block sidebar %} 
    
    {% include 'partials/sidebar.html.twig' %} 
    
{% endblock %}

{% block body %}

    <!-- Content Container -->

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-5 mb-3">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Ressources désirées</h3>
         
            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a>

            <!-- Collapsible Advice Container -->
    
            <div class="info-box collapse col-md-7 mt-2 mb-4" id="collapseExample">
    
                <p class="h5">
    
                    Vous recherchez un local, du matériel, un développeur web, etc ?
    
                </p>
    
                <p class="h5">
    
                    Ici vous pouvez présenter vos besoins. Les visiteurs peuvent ensuite vous contacter.
    
                </p>
    
            </div>

        </div>


    <!-- Add a Need Button (Open a Modal Box and allows user to select a Need Type) -->


        <div class="mb-3 p-0">

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-success btn-lg sharp font-weight-bold mb-4 bg-green" data-toggle="modal" data-target="#needTypeModal" > <span class="mr-2">+</span> Ajouter un besoin </button>


            <!-- Need Types Possibilitiess -->

            {% set needTypesItems = 
                
                [ 

                    {
                        'type': 'skill', 
                        'title_fr': 'Une Compétence', 
                        'example_fr': ''
                    },

                    {
                        'type': 'task', 
                        'title_fr': 'Un Service Ponctuel', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'material', 
                        'title_fr': 'Un Objet, un Outil, du Matériel', 
                        'example_fr': ''
                    },  
                    
                    {
                        'type': 'area', 
                        'title_fr': 'Un Local, un Terrain, une Surface', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'advice', 
                        'title_fr': 'Un Conseil', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'money', 
                        'title_fr': 'Une Somme d\'Argent', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'other', 
                        'title_fr': 'Autre', 
                        'example_fr': ''
                    },  

                ] 

            %}
            
            <!-- Modal Box (Select a Need Type) -->

            <!-- Modal Styles -->

                <style>

                    .needTypeChoice:hover {
                        background-color: yellow;
                    }

                </style>

            <!-- Modal Structure & Content -->

                <div class="modal fade" id="needTypeModal" tabindex="-1" role="dialog" aria-labelledby="needTypeModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">

                        <div class="modal-content">

                            <!-- Modal Title  -->

                            <div class="modal-header">

                                <h5 class="modal-title font-weight-bold" id="needTypeModalLabel">Choisir le type de besoin</h5>

                                <!-- Close Modal (Cross Button)  -->

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <!-- Modal Content  (select a Need Type) -->

                            <div class="modal-body">

                                <div class="container-fluid">

                                    {% for item in needTypesItems %}

                                        <a class="text-decoration-none text-body" href="{{path('need_new', {'slug': slug, 'needType': item.type })}}">

                                        <div class="needTypeChoice row cursor-pointer border border-light d-flex justify-content-center align-items-center cursor-pointer" style="height:55px;">

                                                <!-- Need type Icon  -->

                                                <div class="col-3 d-flex justify-content-center align-items-center">

                                                    <img src="/images/icons/needs/types/{{ item.type}}.svg" alt="{{ item.type }}" width="30px" height="30px">

                                                </div>

                                                <!-- Need type title with Example  -->

                                                <div class="col">

                                                    <!-- Need type title  -->

                                                    <span class="font-weight-bold">
                                                        {{ item.title_fr }} 
                                                    </span>

                                                    <br>

                                                    <!-- Need type concrete example  -->

                                                    <span class="">
                                                        {{ item.example_fr}} 
                                                    </span>
                                                    
                                                </div>
                                                
                                            </div> 

                                        </a>

                                    {% endfor %}

                                </div>   

                            </div>

                            <!-- Action Buttons  -->

                            <div class="modal-footer">

                                <button type="button" class="btn btn-info sharp" data-dismiss="modal">Retour</button>

                                <button type="button" class="btn btn-success bg-green sharp">Valider</button>

                            </div>

                        </div>

                    </div>

                </div>

        </div>
            

    <!-- Project Needs Display Listing -->

    {% if presentation.needs | length > 0 %}

        <div id="needsList" class="row col-md-10">

                {% for need in presentation.needs %}

                    <!-- Thumbnail Container -->

                    <div id="{{need.id}}" class="js-sortableGridItem fs-15 col-md-5 mr-md-4 d-flex align-items-center position-relative mb-3 p-3 border border-primary overflow-hidden cursor-pointer" style="border-left : 6px solid rgb(95, 30, 30) !important; border-bottom : 6px solid orange !important;">

                        <a href="{{path('need_edit', {'slug':slug,'need_id' : need.id })}}" class="w-100 h-100 text-body text-decoration-none" >
                            
                            <div class="font-weight-bold mb-1 pr-3">

                                {% if need.title | length > 45 %}

                                    {{ need.title | slice (0,45) }}...

                                {% else %}

                                    {{ need.title }}

                                {% endif %}
                                
                            </div>
                            
                            <div>
                                
                                {% if need.description | length > 70 %}

                                    {{ need.description | slice (0,70) }}...

                                {% else %}

                                    {{ need.description }}

                                {% endif %}

                            </div>

                        </a>

                        <!-- Remove a Need Button (Red Cross) -->
        
                        <div class="d-inline position-absolute" data-id="{{need.id}}" style="top:0; right:0;">

                            {{ include('need/_delete_form.html.twig') }}

                        </div>

                    </div>

            {% endfor %}
            
        </div>
        
    {% endif %}

    <!-- Back Button -->

    <div>

         <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">

            <button type="button" class="btn btn-info btn-lg sharp font-weight-bold mb-4 mt-4">

                Retour

            </button>

        </a>
    
    </div>
    
</div>

{% endblock %}


{% block javascripts %}

    <!-- sortable plugin in order to reorder project needs -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            $('#needsList').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // when drag and drop ends : ajax request to reorder positions

                onEnd: function (evt) {

                    // an array storing slides id position

                    var needsPositions = [];
                  
                    $('#needsList div.js-sortableGridItem').each(function(index){
                        
                        needsPositions.push($(this).attr('id'));
                   
                    });

                    jsonNeedsPositions = JSON.stringify(needsPositions);
                    
                    $.ajax({  

                        url: "{{path('ajax_reorder_needs', {'slug': presentation.slug})}}",

                        type:       'POST',   

                        dataType:   'json',

                        data: {
                            "jsonNeedsPositions": jsonNeedsPositions,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  

                     }); 

                },

            });

        }); 

        
    </script>
   
{% endblock %}
