{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/table_responsive.css">{% endblock %}

{% block title %}Liste des Ressources Désirées{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}

{% block body %}

<div class="container">
	
    <!-- UI Page Title -->
    
    <h3 class="mt-md-4 mb-md-4 font-weight-bold"> <span class="">Ressources désirées</span></h3>

    <!-- Add a Need Button -->
    
    {% if app.user and app.user == presentation.creator %}
    
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-success btn-lg sharp font-weight-bold mb-4 bg-green" data-toggle="modal" data-target="#needTypeModal" > <span class="mr-2">+</span> Ajouter un besoin </button>


            <!-- Need Types Items -->

            {% set needTypesItems = 
                
                [ 

                    {
                        'type': 'skill', 
                        'title_fr': 'Une Compétence', 
                        'example_fr': 'Ex : un Développeur; un Électricien'
                    },

                    {
                        'type': 'task', 
                        'title_fr': 'Un Service Ponctuel', 
                        'example_fr': 'Ex : Préparer un repas; Créer deux dessins'
                    },  

                    {
                        'type': 'material', 
                        'title_fr': 'Un Objet, un Outil, du Matériel', 
                        'example_fr': 'Ex : une Perçeuse'
                    },  
                    
                    {
                        'type': 'area', 
                        'title_fr': 'Un Local, un Terrain, une Surface', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'advice', 
                        'title_fr': 'Un Conseil', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'money', 
                        'title_fr': 'Une Somme d\'Argent', 
                        'example_fr': ''
                    },  

                    {
                        'type': 'other', 
                        'title_fr': 'Autre', 
                        'example_fr': ''
                    },  

                ] 

            %}

            <!-- Modal Styles -->

            <style>

                .needTypeChoice:hover {
                    background-color: yellow;
                  }

            </style>

            
            <!-- Modal -->

            <div class="modal fade" id="needTypeModal" tabindex="-1" role="dialog" aria-labelledby="needTypeModalLabel" aria-hidden="true">

                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <!-- Modal Title  -->

                        <div class="modal-header">

                            <h5 class="modal-title font-weight-bold" id="needTypeModalLabel">Choisir le type de besoin</h5>

                            <!-- Close Modal Cross Button  -->

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <!-- Modal Content  -->

                        <div class="modal-body">

                            <div class="container-fluid">

                                {% for item in needTypesItems %}

                                    <a class="text-decoration-none text-body" href="{{path('need_new', {'slug': slug, 'needType': item.type })}}">

                                       <div class="needTypeChoice row cursor-pointer border border-light d-flex justify-content-center align-items-center" style="height:55px;">

                                            <div class="col-3 d-flex justify-content-center align-items-center">
                                                <img src="https://place-hold.it/30x30" alt="">
                                            </div>

                                            <div class="col">

                                                <span class="font-weight-bold">
                                                    {{ item.title_fr }} 
                                                </span>

                                                <br>

                                                <span class="">
                                                    {{ item.example_fr}} 
                                                </span>
                                                
                                            </div>
                                            
                                        </div> 

                                    </a>


                                     

                                   

                                {% endfor %}

                            </div>
      
                               

                        </div>

                        <!-- Action Buttons  -->

                        <div class="modal-footer">

                            <button type="button" class="btn btn-info sharp" data-dismiss="modal">Retour</button>

                            <button type="button" class="btn btn-success bg-green sharp">Valider</button>

                        </div>

                    </div>

                </div>

            </div>
            
    {% endif %}

    {% if presentation.needs | length > 0 %}
    <div>
        
            <div class="tableWrapper">
    
                <div class="table">

                <!-- Table Header -->
                
                <div class="row header green">
                    
                    <div class="cell">
                        Titre
                    </div>
                    <div class="cell">
                        Description
                    </div>
                    <div class="cell">
                        Date
                    </div>
                    <div class="cell">
                        Actions
                    </div>

                </div>

                <!-- Table Content -->
                
                {% for need in needs %}
                    
                    {% set showPath = path('need_show', {'id': need.id, 'slug': slug}) %}
                    {% set editPath = path('need_edit', {'need_id': need.id, 'slug': slug}) %}
                
                <div class="row cursor-pointer"

                    {% if app.user and app.user == presentation.creator %}
                        onclick="window.location='{{ editPath }}'";>
                    {% else %}
                        onclick="window.location='{{ showPath }}'";>
                    {% endif %}

                    <div class="cell font-weight-bold" data-title="Titre">{{ need.title | slice(0, 35)}}</div>
                    <div class="cell" data-title="Description">{{ need.description | slice(0, 35) }}</div>
                    <div class="cell" data-title="Date">{{ need.createdAt ? need.createdAt|date('Y-m-d') : '' }}</div>

                    <div class="cell" data-title="Actions">
                        {% if app.user and app.user == presentation.creator %}
        
                            <a href="{{ path('need_edit', {'need_id': need.id, 'slug': slug}) }}">modifier</a>
                        {% else %}
                            Voir
                        {% endif %}
                    </div>
                </div>

                {% else %}
                    <div class="cell" >Aucun besoin présenté</div>
                {% endfor %}

                </div>
                
            </div>
        
        

    </div>
    {% endif %}

    <div>
         <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-info btn-lg sharp font-weight-bold mb-4 mt-4">Retour</button>
        </a>
    
    </div>
    
</div>

{% endblock %}