{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/table_responsive.css">{% endblock %}

{% block title %}Liste des Ressources Désirées{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}

{% block body %}

<div class="container">
	
    <!-- UI Page Title -->
    
    <h3 class="my-3 font-weight-bold"> <span class="">Ressources Désirées</span></h3>

    <!-- Add a Need Button -->
    
    {% if app.user and app.user == presentation.creator %}
    
            <a class="text-decoration-none text-white mr-2" href="{{ path('need_new', {'slug': slug }) }}">
                <button type="button" class="btn btn-success btn-lg font-weight-bold mb-4"> + Ajouter un Besoin </button>
            </a>
            
    {% endif %}
    
    <div>

        <div class="tableWrapper">
  
            <div class="table">

            <!-- Table Header -->
            
            <div class="row header green">
                
                <div class="cell">
                    Titre
                </div>
                <div class="cell">
                    Description
                </div>
                <div class="cell">
                    Date
                </div>
                <div class="cell">
                    Actions
                </div>

            </div>

             <!-- Table Content -->
              
            {% for need in needs %}
                
                {% set showPath = path('need_show', {'id': need.id, 'slug': slug}) %}
                {% set editPath = path('need_edit', {'need_id': need.id, 'slug': slug}) %}
              
              <div class="row cursor-pointer"

                {% if app.user and app.user == presentation.creator %}
                    onclick="window.location='{{ editPath }}'";>
                {% else %}
                    onclick="window.location='{{ showPath }}'";>
                {% endif %}

                <div class="cell font-weight-bold" data-title="Titre">{{ need.title | slice(0, 35)}}</div>
                <div class="cell" data-title="Actions">{{ need.description | slice(0, 35) }}</div>
                <div class="cell" data-title="Date">{{ need.createdAt ? need.createdAt|date('Y-m-d') : '' }}</div>

                <div class="cell" data-title="Actions">
                    {% if app.user and app.user == presentation.creator %}
    
                        <a href="{{ path('need_edit', {'need_id': need.id, 'slug': slug}) }}">modifier</a>
                    {% else %}
                        Voir
                    {% endif %}
                </div>
            </div>

            {% else %}
                <div class="cell" >Aucun Besoin Présenté</div>
            {% endfor %}

            </div>
            
        </div>

        <a class="text-decoration-none text-white" href="{{ path('project_show', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-info btn-lg font-weight-bold mb-4 mt-3">Retour</button>
        </a>
    
    
        
    </div>
    
</div>

{% endblock %}