{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/table_responsive.css">{% endblock %}

{% block title %}Liste des Ressources Désirées{% endblock %}

{% block sidebar %} 
    
    {% include 'partials/sidebar.html.twig' %} 
    
{% endblock %}

{% block body %}

    <!-- Content Container -->

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-5 mb-3">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Ressources désirées</h3>
         
            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a>

            <!-- Collapsible Advice Container -->
    
            <div class="info-box collapse col-md-7 mt-2 mb-4" id="collapseExample">
    
                <p class="h5">
    
                    Vous recherchez un local, du matériel, une personne pour vous aider ?
    
                </p>
    
                <p class="h5">
    
                    Vous êtes au bon endroit. Présenter ici vos besoins, les visiteurs pourront ensuite vous contacter.
    
                </p>
    
            </div>

        </div>


    <!-- Add a Need Button (Open a Modal Box and allows user to select a Need Type) -->


        <div class="mb-3 p-0">

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-success btn-lg sharp font-weight-bold mb-4 bg-green" data-toggle="modal" data-target="#needTypeModal" > <span class="mr-2">+</span> Ajouter un besoin </button>


            <!-- Select need type modal modal -->

            {{ include('need/_select_need_type_modal.html.twig') }}

        </div>
            

    <!-- Project Needs Display Grid -->

    {% if presentation.needs | length > 0 %}

        <div id="needsList" class="row col-lg-10">

                {% for need in presentation.needs %}

                    <!-- Thumbnail Container -->

                    <div id="{{need.id}}" class="js-sortableGridItem needCard d-flex align-items-center position-relative fs-15 col-md-5 mr-md-4 mb-3 p-3 overflow-hidden" >

                        <a href="{{path('need_edit', {'slug':slug,'need_id' : need.id })}}" class="w-100 h-100 text-body text-decoration-none" >
                            
                            <div class="font-weight-bold mb-1 pr-3">

                                {% if need.title | length > 45 %}

                                    {{ need.title | slice (0,45) }}...

                                {% else %}

                                    {{ need.title }}

                                {% endif %}
                                
                            </div>
                            
                            <div>
                                
                                {% if need.description | length > 70 %}

                                    {{ need.description | slice (0,70) }}...

                                {% else %}

                                    {{ need.description }}

                                {% endif %}

                            </div>

                        </a>

                        <!-- Remove a Need Button (Red Cross) -->
        
                        <div class="d-inline position-absolute" data-id="{{need.id}}" style="top:0; right:0;">

                            {{ include('need/_delete_form.html.twig') }}

                        </div>

                    </div>

            {% endfor %}
            
        </div>

        <style>

            .needCard{

                border: 1px solid black;
                
                border-left: 6px solid rgb(153, 72, 72); 
                border-bottom: 6px solid orange; 
                border-radius: 4px;
            }

            .needCard:hover{

                background-color: #d5dffe;

        </style>
        
    {% endif %}

    <!-- Back Buttons -->

    <div class="mt-4">

         <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">

            <button type="button" class="btn btn-info btn-lg sharp font-weight-bold mb-4 mr-2">

                Menu

            </button>

        </a>
                       
        <a class="text-decoration-none text-white" href="{{path('project_show', {'slug': presentation.slug })}}#needsDisplay">

            <button type="button" class="btn btn-warning btn-lg font-weight-bold mb-4 sharp">Résultat</button>

        </a>

    
    </div>
    
</div>

{% endblock %}


{% block javascripts %}

    <!-- sortable plugin in order to reorder project needs -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            $('#needsList').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // when drag and drop ends : ajax request to reorder positions

                onEnd: function (evt) {

                    // an array storing slides id position

                    var needsPositions = [];
                  
                    $('#needsList div.js-sortableGridItem').each(function(index){
                        
                        needsPositions.push($(this).attr('id'));
                   
                    });

                    jsonNeedsPositions = JSON.stringify(needsPositions);
                    
                    $.ajax({  

                        url: "{{path('ajax_reorder_needs', {'slug': presentation.slug})}}",

                        type:       'POST',   

                        dataType:   'json',

                        data: {
                            "jsonNeedsPositions": jsonNeedsPositions,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  

                     }); 

                },

            });

        }); 

        
    </script>
   
{% endblock %}
