{% extends 'base.html.twig' %}

{% block title %}Affichage d'un Besoin{% endblock %}

{% block sidebar %} 

    {% if app.user and app.user == presentation.creator %}
    
        {% include 'partials/sidebar.html.twig' %} 

    {% endif %}
    
{% endblock %}

{% block body %}

    <div class="rounded mt-4 m3-3 col-sm-8 ml-md-4">

        <table class="table table-borderless">

            <tbody>

                <tr>
                    <th class="font-weight-bold h5">Titre</th>
                    <td>
                        <h2 class="font-weight-bold h4">{{ need.title }}</h2>

                    </td>
                </tr>

                <tr>
                    <th class="font-weight-bold h5">Date</th>
                    <td class="font-weight-bold h5">
                        Le {{ need.createdAt ? need.createdAt|date('d-m-Y H:i:s') : ''}}
                    </td>
                </tr>

                <tr>

                    <th class="font-weight-bold h5">Infos +</th>

                    <td>
                        
                        <!-- Is it a Priority ? -->
                        
                        {% if need.priority == 'priority' %}

                            {% set priority = "Priorité" %}

                            <span class="h6 p-1 font-weight-bold rounded bg-danger text-white">{{priority}}</span>

                        {% endif %}

                        <!-- Is it Paid ? -->

                        {% if need.paidService %}
                      
                            {% if need.paidService == 'yes' %}
                                {% set isPaid = "Payé" %}

                            {% elseif need.paidService == 'no' %}
                                {% set isPaid = "Non Payé" %}

                            {% elseif need.paidService == 'maybe' %}
                                {% set isPaid = "Peut-être Payé" %}

                            {% else %}

                            {% set isPaid = "" %}
                            
                            {% endif %}
                        
                            <span class="h6 p-1 font-weight-bold rounded bg-primary text-white">{{isPaid}}</span>
   
                        {% endif %}

                    </td>
                </tr>

                
                <tr>
                    <th class="font-weight-bold h5">Description</th>

                    <td class="h5">

                        {% if need.description %}
                        
                            {{ need.description | nl2br }}

                        {% else %}
                            
                            Pour des précisions supplémentaires, veuillez nous contacter.
                        
                        {% endif %}
                    
                    </td>


                </tr>
            
            </tbody>
        </table>

        <div class="p-0 m-3">

            <a class="btn btn-success btn-lg sharp bg-green font-weight-bold mr-1" href="{{ path('contact_message_new', {'id': need.id, 'slug': slug}) }}">Envoyer un Message</a>

            <a class="btn btn-info btn-lg sharp font-weight-bold mr-1" href="{{ path('project_show',{'slug': slug}) }}">Retour</a>

            <!-- Presentation Admins Actions -->
        
            {% if app.user and app.user == presentation.creator %}

                <!-- Edit Need Button -->

                <a class="btn btn-warning btn-lg sharp font-weight-bold mr-1" href="{{ path('need_edit', {'need_id': need.id, 'slug': slug}) }}">Modifier</a>

                <!-- Delete Need Button -->

                {{ include('need/_delete_form.html.twig') }}
            
            {% endif %}
        
        </div>       

    </div>





{% endblock %}
