{% extends 'base.html.twig' %}

{% block title %}Crédits et Remerciements{% endblock %}

{% block body %}

    <div class="container mb-5">

        <h3 class="font-weight-bold my-3 my-md-5 ">Crédits et Remerciements</h3>
                
        <!-- People -->

        <div class="px-0 px-md-2 col-md-8">

            <h5 class="my-4">❤️❤️❤️ Merci à toutes les personnes qui rendent possible l'utilisation de cet outil. Le web est remplit de contributeurs qui partagent les outils qu'ils ont créés. Ce site web ne serait pas réalisé sans eux. Merci !</h5>

        </div>



        <!-- Programming Languages and Frameworks -->

        {% set codingBases = 
            
            [ 

                { 
                    'title': 'PHP', 
                    'description': 'Back-End Programming Language', 
                    'link' : '',
                },
                
                { 
                    'title': 'Symfony Framework', 
                    'description': 'PHP Framework', 
                    'link' : '',
                },
                
                { 
                    'title': 'Bootstrap', 
                    'description': 'Front-End CSS Framework', 
                    'link' : '',
                },
                
                { 
                    'title': 'jQuery', 
                    'description': 'Front-End javascripts Framework', 
                    'link' : '',
                },
                                
            ]

        %}
        
        <div class="px-0 px-md-2 col-md-8 my-4">

            <h4 class="font-weight-bold mb-4">
                Langages et Frameworks Utilisés 
            </h4>

            
         {% for codingItem in codingBases %}

            <div class="row pl-md-4 mb-2">

                <div class="col-md-6">

                        <h5 class="font-weight-bold mb-0 d-flex align-items-center" style="font-size:1.25em;">
                            {{codingItem.title}}
                        </h5>
                            
                        <div class="keywords  d-flex align-items-center font-weight-bold my-1 mb-2 h6 text-left" >
                            {{codingItem.description}}
                        </div>

                        <p class="card-text h5 py-0">
                            {{codingItem.link}}
                        </p>

                </div>

            </div>

        {% endfor %}


        </div>
        
        <!-- Flaticons Attributions -->

        <div class="px-0 px-md-2 col-md-8 mt-4 ">

            
        {% set flaticons = 
            
            [ 

                { 
                    'iconName': 'TV',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Rocket Launch',
                    'madeByHref': 'https://www.flaticon.com/authors/icongeek26',
                    'madeByTitle': 'Icongeek26',
                },

                { 
                    'iconName': 'Startup',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'freepik',
                },

                { 
                    'iconName': 'Earth',
                    'madeByHref': 'https://www.flaticon.com/authors/turkkub',
                    'madeByTitle': 'turkkub',
                },

                { 
                    'iconName': 'Pointing Finger',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'WWW',
                    'madeByHref': 'https://www.flaticon.com/authors/alfredo-hernandez',
                    'madeByTitle': 'Alfredo Hernandez',
                },

                { 
                    'iconName': 'Messages',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Export',
                    'madeByHref': 'https://www.flaticon.com/free-icon/share_1160645?term=export&page=2&position=83',
                    'madeByTitle': 'Kiranshastry',
                },

                { 
                    'iconName': 'Star',
                    'madeByHref': 'https://www.flaticon.com/authors/piwel-perfect',
                    'madeByTitle': 'Pixel Perfect',
                },

                { 
                    'iconName': '@ symbol',
                    'madeByHref': 'https://www.flaticon.com/authors/alfredo-hernandez',
                    'madeByTitle': 'Alfredo Hernandez',
                },

                { 
                    'iconName': 'Geometric shapes',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Data',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Settings',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'icon',
                    'madeByHref': 'https://www.flaticon.com/authors/vitaly-gorbachev',
                    'madeByTitle': 'Vitaly Gorbachev',
                },

                { 
                    'iconName': 'Icon',
                    'madeByHref': 'https://www.flaticon.com/authors/good-ware',
                    'madeByTitle': 'Good Ware',
                },

                { 
                    'iconName': 'Icon',
                    'madeByHref': 'https://www.flaticon.com/authors/pixel-perfect',
                    'madeByTitle': 'Pixel Perfect',
                },

                { 
                    'iconName': 'Icon',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Together',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Castle',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

                { 
                    'iconName': 'Carrot',
                    'madeByHref': '"https://www.flaticon.com/free-icon/carrot_2853162',
                    'madeByTitle': 'Flaticon',
                },

                { 
                    'iconName': 'Cat',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Flaticon',
                },

                { 
                    'iconName': 'Icon',
                    'madeByHref': 'https://www.flaticon.com/authors/bqlqn',
                    'madeByTitle': 'bqlqn',
                },

                { 
                    'iconName': 'Planet',
                    'madeByHref': 'https://www.flaticon.com/free-icon/artboard_1510540',
                    'madeByTitle': 'Icongeek26',
                },

                { 
                    'iconName': 'Together',
                    'madeByHref': 'https://www.flaticon.com/authors/freepik',
                    'madeByTitle': 'Freepik',
                },

            ]

        %}


            <h4 class="font-weight-bold my-3">

                Crédits Images

            </h4>

            <div class="px-0 px-md-2 pl-md-4">
                        
                <h5 class="font-weight-bold my-4">flaticon.com </h5>

                <ul>

                    {% for flaticon in flaticons %}
                        
                        <li> 

                            {{flaticon.iconName}}

                            made by

                            <a href="{{flaticon.madeByHref}}" title="{{flaticon.madeByTitle}}">{{flaticon.madeByTitle}}</a>

                        </li>
                        
                    {% endfor %}


                </ul>

            </div>

        </div>

        <div class="pl-md-4">
                        
            <h5 class="font-weight-bold my-4">thenounproject.com</h5>

            <ul>
                <li>like by FMF Design from the Noun Project</li>
                <li>Email by Landan Lloyd from the Noun Project</li>
                <li>notification by Landan Lloyd from the Noun Project</li>
                <li>team by Justiconnic from the Noun Project</li>
                <li>date by Alice Design from the Noun Project</li>
                <li>List by Christopher T. Howlett from the Noun Project</li>
                <li>Courier service by Vectors Market from the Noun Project</li>
            </ul>


        </div>







    </div>
  
{% endblock %}