<div class="modal" id="externalContributorDisplayModal{{loop.parent.loop.index}}{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="externalContributorDisplayLabel{{loop.parent.loop.index}}{{ loop.index }}" aria-hidden="true">
                                    
    <div class="modal-dialog" role="">

        <div class="modal-content">

        <!-- Modal Header -->

        <div class="modal-header">

             <!-- Persorg Name -->

             <div class="row pl-4"> 

                <div class="h5 font-weight-bold" >

                    {{ persorg.name }}

                </div>
            
            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                <span aria-hidden="true">&times;</span>

            </button>

        </div>

        <!-- Modal Body -->

        <div class="modal-body">

            <div class="container pt-md-3">

                <!-- Upper Box (contains persorg image; name) -->

                <div class="row mb-4">

                    <div class="col-4">
                        
                        <!-- Persorg Image -->

                            <!-- Case we got an Image -->

                            {% if persorg.image is not null %}

                                <img class="img-fluid" src="{{ asset('/images/persorgs/' ~ persorg.image) | imagine_filter('logo_thumbnail_md') }}" height="100px" width="100px">

                            <!-- Case we don't have an Image -->

                            <!-- We create a default persorg Image -->

                            {% else %}
                                                                 
                                <div class="avatar-circle mx-auto">

                                    <span class="initials" >

                                        {{persorg.name | slice (0,1) }}

                                    </span>

                            </div>
                        
                        {% endif %}

                    </div>

                    <div class="col-8">

                        <div class="container">
                            
                            <!-- Persorg Name -->

                            <div class="row"> 

                               <!--  <div class="h5" >

                                    {{ persorg.name }}

                                </div> -->
                            
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Persorg Comments / Description (Potential) -->

                {% if persorg.description %}

                    <div class="row px-3 mb-4" style="font-size:1.09em;">

                        {{ persorg.description | nl2br }}

                    </div>

                
                {% endif %}

            <!-- Persorg Member Email (Potential) -->

            {% if persorg.email %}

            <div class=" mb-2 mb-md-3">

                            <!-- Email (Label) -->

                            <span class="font-weight-bold h5 text-primary">

                            Email : 

                        </span>

                        <!-- Email (Display) -->


                        <span class="font-weight-bold">

                            <a href="mailto:{{ persorg.email }}">

                                {{ persorg.email }}

                            </a>

                        </span>


            </div>
                
        
            
            {% endif %}

            <!-- Persorg Potential Websites or Social Networks -->

            {% if persorg.webdomain1 is not empty or persorg.webdomain2 is not empty or persorg.webdomain3 is not empty or persorg.webdomain4 is not empty  %}

                <!-- Label for Persorg Potential Websites or Social Networks -->

                <div class="font-weight-bold h5 text-primary mb-2 mb-md-3">

                    Sites Webs / Réseaux Sociaux

                </div>

            {% endif %}


            {% if persorg.webdomain1 is not empty %}

                <!-- Persorg Webdomain 1 (Potential) -->

                <div class="font-weight-bold mb-2">

                    ● <a href="{{ persorg.webdomain1}}"> 
                        
                        {{ persorg.webdomain1 | length < 30 ? persorg.webdomain1 : persorg.webdomain1 | slice(0, 30) ~ '...' }}

                    </a>

                </div>
            
            {% endif %}

            <!-- Persorg Webdomain 2 (Potential) -->

            {% if persorg.webdomain2 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ persorg.webdomain2}}"> 
                        
                        {{ persorg.webdomain2 | length < 30 ? persorg.webdomain2 : persorg.webdomain2 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

            <!-- Persorg Webdomain 3 (Potential) -->

            {% if persorg.webdomain3 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ persorg.webdomain3}}"> 
                        
                        {{ persorg.webdomain3 | length < 30 ? persorg.webdomain3 : persorg.webdomain3 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

            <!-- Persorg Webdomain 4 (Potential) -->

            {% if persorg.webdomain4 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ persorg.webdomain4}}"> 
                        
                        {{ persorg.webdomain4 | length < 30 ? persorg.webdomain4 : persorg.webdomain4 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

            <!-- End of Modal Body Container -->

            </div>

        <!-- End of Modal Body -->

        </div>

        <!-- Modal footer -->

        <div class="modal-footer">

            <button type="button" class="btn btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>

        </div>

        </div>

    </div>

</div>  