{% extends 'base.html.twig' %}

{% block title %}Actualités du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <!-- Page Content Container -->

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-4 mb-4">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline-block mr-3">Actualités du Projet</h3>

            
            <!-- collapsable advice trigger button	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a> -->

        </div>

        <!-- Collapsible Info Container

        <div class="info-box collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Ici vous pouvez donner des nouvelles de votre projet. 

            </p>

        </div> -->

        <!-- Add a News Button -->

        <div class="mb-4">

            <a href="{{ path('create_news', {'slug':presentation.slug}) }}">

               <button type="button" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter une actualité</button>  

            </a>

        </div>

        <!-- Project News List -->

        <div class="container mb-3">

            <div class="row">

                <div class="col pl-0">
                    
                    <ul id="newsList" class="list-group mb-3">

                        {% if presentation.news | length > 0 %}

                            {% for news in presentation.news %}

                                <a href="{{path('edit_news', {'slug':presentation.slug, 'idNews':news.id})}}" class="text-body text-decoration-none">

                                    <li class="list-group-item font-weight-bold">

                                        <!-- News Creation Date -->
                                        
                                        {{ news.createdAt | date('d-m-Y') }}

                                        <!-- Potential News Update Date -->

                                        {% if news.updatedAt is not null %} 
                                        
                                             [modifiée le {{ news.updatedAt | date('d-m-Y') }}] 
                                            
                                        {% endif %}

                                        <!-- UI Separator -->
                                        
                                        -- 

                                        <!-- News Title -->

                                        {% if news.title is not empty %}

                                        {{ news.title | length < 50 ? news.title | capitalize : news.title | slice(0, 50) ~ '...' | capitalize }}

                                        {% else %}
                                            
                                            Sans titre
                                        
                                        {% endif %}
                                        
                                        

                                        <!-- Delete News Button -->

                                        <a onClick="return confirm (`Êtes vous sûr de vouloir supprimer cette actualité ?`)" href="{{path('delete_news', {'slug':presentation.slug, 'idNews':news.id})}}" class="text-body text-decoration-none">

                                            <button class="float-right btn btn-danger btn-sm font-weight-bold" type="button" title="Delete">x</button>

                                        </a>

                                        

                                        

                                    </li>

                                </a>

                            {% endfor %}

                        {% endif %}

                    </ul>

                </div>

                
            </div>

            

        </div>

        

        <div>

            <!-- Back to Edition Button -->

            <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
                <button type="button" class="btn btn-info btn-lg font-weight-bold mr-2 mt-2 mb-4 sharp">Menu</button>
            </a>

            <!-- Back to Result Button -->

            <a class="text-decoration-none text-white" href="{{path('project_show', {'slug': presentation.slug })}}#newsDisplay">
                <button type="button" class="btn btn-warning btn-lg font-weight-bold mt-2 mb-4 sharp">Résultat</button>
            </a>

        </div>

    </div>

    <!-- Some Styles -->

    <style>

        #newsList li:hover{
            background-color: azure;
        }

    </style>

{% endblock %}



{% block javascripts %}

{% endblock %}
