{% extends 'base.html.twig' %}

{% block title %}Inclure un Projet dans le Groupe  {{ pGroup.name  }}{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-4">Inclure un Projet dans le Groupe {{ pGroup.name  }}</h3>
        
        {% if user.presentations | length > 0 %}

           <h4 class="my-3">Veuillez Sélectionner un Projet à Inclure</h4>

            <div class="">

                <ul class="col-md-7">

                    {% for presentation in user.presentations %}

                        <li class="h5 font-weight-bold text-body list-group-item bg-light">

                            <a href=" {{ path( 'group_add_candidate', {'id_group': pGroup.Id, 'id_project': presentation.id} ) }} " onClick="return confirm (`Confirmer l'intégration de ce projet?`)" class="text-decoration-none text-body">

                                <span class="projectTitle">
                                    {{presentation.title |slice(0, 63) }}
                                </span>

                               <p class="mb-0" style="font-size:1.1em; line-height:1.15;">{{presentation.goal | slice(0, 150) }}</p>

                            </a>

                        </li>

                    {% endfor %}

                </ul>


            </div>
        
            {% else %}
        
                <div class="col-md-7 h4 alert alert-primary">
                    <p><strong>Vous n'administrez aucun projet à insérer dans ce groupe. Pour proposer un projet à inclure dans ce groupe, vous devez auparavant rejoindre l'administration d'un projet, ou créer votre propre projet à intégrer.</strong></p>
                </div>
        
            {% endif %}

            <a class="text-decoration-none text-white" href="{{ path('user_show', {'id': app.user.id}) }}">
                <button type="button" class="btn btn-info btn-lg font-weight-bold mt-2">Annuler</button>
            </a>

        </div>

    </div>

{% endblock %}




