{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Créer un Groupe de Projets{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-4">Créer un Groupe de Projets</h3>

        <div class="row">

            <div class="col-md-7">
      
                {{ form_start(form) }}

                {{ form_widget(form) }}
            
                {# Actions Buttons #}
            
                <div class="my-2">
            
                    <!-- Submit Button -->
                    
                    <button class="btn btn-lg btn-success font-weight-bold mr-2">{{ button_label|default('Valider la Création') }}</button>
            
                    <!-- Cancelation Button -->
            
                    <a class="text-decoration-none text-white" href="{{ path('user_show', {'id': app.user.id}) }}">
                        <button type="button" class="btn btn-warning btn-lg font-weight-bold">Annuler</button>
                    </a>
            
                </div>
            
            
                {{ form_end(form) }}


            </div>


        </div>

        
    </div>

{% endblock %}
