{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Questions et Réponses du Projet{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <!-- Content Container -->

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-4 mb-2">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3">Gérer les Questions & Réponses</h3>

            
            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Conseil</span>
                
            </a>

        </div>

        <!-- Collapsible Info Container -->

        <div class="collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Vous pouvez lister ici toutes les questions que les gens vous posent, et vos réponses,  afin de ne pas avoir à réécrire à chaque fois les mêmes réponses. 

            </p>

        </div>

        <!-- Add Q&A Button -->

        <div class="mb-4">

            <button type="button" data-toggle="modal" data-target="#qaFormModal" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter une Question / Réponse</button> 

        </div>

        <!-- Form Display (in a Modal Box) -->

        <div class="modal fade" id="qaFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une Question / Réponse</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        {{ form_start(form) }}

                        {{ form_widget(form) }}

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>         

                        <button class="btn btn-success sharp bg-green font-weight-bold">Valider</button>
                        
                    </div>

                    {{ form_end(form) }}

                </div>

            </div>

        </div>

        <!-- Presentation Q&A List -->

        <div class="container mb-2">

            <div id="qaList" class="row col-md-6 pl-0">

                {% if presentation.questionAnswers | length > 0 %}

                    {% for qa in presentation.questionAnswers %}

                        <!-- Grid Container -->

                        <div id="{{qa.id}}" class="col-12 mr-md-4 js-sortableGridItem d-flex align-items-center position-relative mb-3 p-1 border border-primary overflow-hidden cursor-pointer">

                            <a href="{{path('edit_qa', {'slug':slug,'idQA' : qa.id })}}" class="w-100 h-100 text-body text-decoration-none">

                                <div class="font-weight-bold mb-1">
                                    {{ qa.question | slice (0,35) }}...
                                </div>
                                
                                <div>
                                    {{ qa.answer | slice (0,35) | raw }}...
                                </div>

                            </a>
     
                            <!-- Remove Q&A Button (Red Cross) -->
            
                            <button type="button" class="js-delete-qa d-inline position-absolute btn btn-danger sharp" data-id="{{qa.id}}" style="top:0; right:0;"><span class="font-weight-bold">X</span></button>

                        </div>

                    {% endfor %}

                {% endif %}

            </div>

        </div>

        <!-- Back Button -->

        <div>

            <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
                <button type="button" class="btn btn-info btn-lg font-weight-bold mt-2 mb-4 sharp">Retour</button>
            </a>

        </div>

    </div>

{% endblock %}



{% block javascripts %}

    <!-- sortable plugin in order to reorder slides -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            $('#qaList').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // drag and drop implies qa positions updates ajax call

                onEnd: function (evt) {

                    // an array storing slides id position

                    var qasPosition = [];

                    
                    $('#qaList div.js-sortableGridItem').each(function(index){
                        
                        qasPosition.push($(this).attr('id'));
                   
                    });

                    jsonQAsPosition = JSON.stringify(qasPosition);
                    
                    $.ajax({  
                        url: "{{path('ajax_reorder_qas', {'slug': presentation.slug})}}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                            "jsonQAsPosition": jsonQAsPosition,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                     }); 

                },
            });
                        
            
            // Remove a Q&A

            $('#qaList').on('click', '.js-delete-qa', function (){

                var idQA = $(this).attr("data-id");

                if (confirm("Confimez vous enlever cette Question / Réponse ?"))
                {

                $(this).html('<div class="loader"></div>');
                    
                $.ajax({  

                    url: "{{path('ajax_remove_qa', {'slug': presentation.slug}) }}",
                    type:       'POST',   
                    dataType:   'json',
                    
                    data: {
                        "idQA": idQA,
                    },

                    async: true,  
                    
                    success: function(data, status) {


                        $("#qaList #"+idQA).remove();
                        
                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        // alert('Ajax request failed.');  
                    }  
                    }); 
                    
                }
    
            });

        }); 

        
    </script>
   


{% endblock %}
