{% extends 'base.html.twig' %}

{% block title %}Ajouter des images{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">

    <h2 class="h3 mt-3">Ajouter des Images </h2>

    {{form_start(form)}}
    
    {{form_widget(form)}}

    <div class="mt-4">
    
        <button type="submit" class="btn btn-success btn-lg h3 font-weight-bold mb-4 mr-1">Envoyer les Images</button>
    
        <a class="text-decoration-none text-white" href="{{ path('slideshow_index', {'slug': slug}) }}">
            <button type="button" class="btn btn-danger btn-lg font-weight-bold mb-4">Annuler</button>
        </a>
        
    </div>

    {{form_end(form)}}

</div>

{% endblock %}



{% block _slideshow_slides_widget %}

    {{ form_widget(form) }}

{% endblock %}

{% block _slideshow_slides_entry_row %}

    {{form_widget(form)}}

{% endblock %}

{% block _slideshow_slides_entry_widget %}

    <div class="form-group mb-1">

        <div class="col-6 font-weight-bold">
            Ajouter une Image <span class="arrowCar">▼ </span>
            <div class="p-1 bg-warning disabled rounded">
                {{ form_widget(form.slideFile) }}
            </div>
        </div>
    </div>

{% endblock %}


