{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Ajouter une vidéo{% endblock %}

{% block sidebar %} {% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container">

        <!-- Title with Info Button Container -->

        <div class="mt-3 mt-md-4 mb-md-3">
      
            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-2">Ajouter une vidéo Youtube</h3>

            <!-- Button with Collapsable Advice : How to Insert a Youtube Vidéo ? -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-info font-weight-bold btn-lg fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Comment faire ?</span>
                
            </a>

        </div>

        <!-- Collapsible Info Container -->

        <div class="collapse col-md-7 px-4 py-3 mb-4" id="collapseExample" style="background-color: lavender;">

            <h5 class="font-weight-bold">Aller sur la page Youtube de la vidéo désirée, puis recopier le code situé comme dans l'exemple ci-dessous :</h5>

            <p class="h5 font-weight-bold">https://www.youtube.com/watch?v=<span class=" px-1 border border-2 border-danger rounded">zL1EvGkKb00</span></p>

        </div>

        <!-- Form Container -->

        <div class="mt-2">
                
            {{form_start(form)}}

            <!-- Youtube Video Code Input-->

            <div class="col-md-7 pl-0 mb-4">

                {{form_row(form.url)}}

            </div>

            <!-- Youtube Video Caption Input-->

            <div class="col-md-7 pl-0">

                {{ form_row(form.caption) }}
                
            </div>

            <!-- Action Buttons -->
        
            <div class="mt-4 pt-2 pl-0">
            
                <button type="submit" class="btn btn-success bg-green sharp btn-lg h3 font-weight-bold mb-4 mr-1">Intégrer la vidéo</button>
            
                <a class="text-decoration-none text-white" href="{{ path('slideshow_index', {'slug': slug}) }}">
                    <button type="button" class="btn btn-danger btn-lg sharp font-weight-bold mb-4">Annuler</button>
                </a>
                
            </div>
        
            {{form_end(form)}}
        </div>

    </div>


{% endblock %}

