{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}


{% block title %}Changer une Image ou un Schéma{% endblock %}

{% block body %}

<div class="container">

    <h2 class="h3 mt-3">Changer une Image ou un Schéma </h2>

    {{form_start(form)}}

    <div class="form-group mb-1">

        <div class="col-md-7 font-weight-bold">
           
            <span class="font-weight-bold h5"> 
                Modifier l'Image?
            </span>

            <span class="arrowCar">▼ </span>

            <div class="p-0 m-0 alert text-body h5 font-weight-bold">

                {{ form_errors(form.slideFile) }}

            </div>
            
            <div class="mt-1 p-1 bg-warning disabled rounded">
                
                {{ form_widget(form.slideFile) }}

            </div>
            
            <div class="mt-3">

                {{ form_row(form.caption) }}
                
            </div>

        </div>

    </div>

    <div class="mt-4">
    
        <button type="submit" class="btn btn-success btn-lg h3 font-weight-bold mb-4 mr-1">Valider</button>
    
        <a class="text-decoration-none text-white" href="{{ path('slideshow_index', {'slug': slug}) }}">
            <button type="button" class="btn btn-danger btn-lg font-weight-bold mb-4">Annuler</button>
        </a>
        
    </div>

    {{form_end(form)}}

</div>

{% endblock %}


