{% extends 'base.html.twig' %}

{% block title %}Diaporama de Présentation{% endblock %}

{% block sidebar %}

    {% include 'partials/sidebar.html.twig' %}
    
{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="h3 font-weight-bold mt-3 mb-2">Diaporama de Présentation</h3>

        <!-- Info-Box if Empty Slideshow -->

        {% if presentation.slides | length == 0 %}

            <div class="card border-primary mb-3" style="max-width: 37rem;">
                <div class="card-header p-2">
                    <h4 class="mb-0 card-title font-weight-bold">!!! Conseil Important !!!</h4>
                </div>
                <div class="card-body p-2">
                    
                    <p class="card-text lh-2 h5">Images, Schémas, Capsules de Texte et Vidéos peuvent être un Moyen RAPIDE ET EFFICACE pour <strong>transmettre vos Idées</strong> .</p>

                </div>
            </div>

        {% endif %}


        <!-- Slide Thumbnails Grid -->

            <div class="container">

                <div id="gridDemo" class="row col-md-9 pl-0">

                    {% if presentation.slides | length > 0 %}

                    {% for slide in presentation.slides %}

                        <!-- Thumbnail Container -->

                        <div id="{{slide.id}}" class="js-sortableGridItem d-flex align-items-center justify-content-center position-relative m-2 p-3 border border-primary border-5 rounded-lg overflow-hidden cursor-pointer" style="width:110px; height:90px; border-color: #3f51b5 !important;">

                            {% if slide.mediaType == 'image' %}

                                 <img src="{{slide.slideName}}" alt="{{slide.slideName}}" height="" width="100%">

                            {% elseif slide.mediaType == 'video' %}

                                <img src="{{slide.thumbnail}}" alt="{{slide.slideName}}" height="" width="100%">


                            {% elseif slide.mediaType == 'text' %}

                            <a href="{{path('slideshow_text_edit', {'slug' : slug, 'id' : slide.id })}}" class="text-body text-decoration-none">

                                <div class="text-break p-1 cursor-pointer" style="width:100%; line-height:1.15em;">
    
                                    {{slide.textContent|striptags|length > 20 ? slide.textContent|striptags|slice(0,20)|striptags : slide.textContent|raw }}
                                    {{slide.textContent|striptags|length > 20 ? '...' : ''}}

                                </div>

                            </a>

                                     
                            {% endif %}

                            <!-- Remove Slide button (a red cross on each slide) -->
            
                            <a href="{{ path('delete_slide', {'slug':slug , 'id': slide.id}) }}">
                                <button type="button" onclick="confirm('Confirmer la Suppression?')" class="js-delete d-inline position-absolute btn btn-danger" style="top:0; right:0;"><span class="font-weight-bold">X</span></button>
                            </a>

                        </div>

                    {% endfor %}

                    {% endif %}
                                        
                    <!-- Add New Slide Button (Open a Modal)  -->
                        
                    <div id="newSlide" data-toggle="modal" data-target="#chooseSlideTypeModal" class="disabled rounded-lg ignore-elements d-flex align-items-center justify-content-center position-relative m-2 p-3 rounded-lg cursor-pointer" style="text-align:center; width:110px; height:90px; border: dashed 5px #3f51b5;">
                    
                        <span style="font-size:3em; font-weight:700; color:rgb(46, 138, 46);">+</span>
                    
                    </div>    

                    <!-- ui Modal Box to Choose Which Slide Type to Insert -->

                    {% include '/slideshow/partials/_chooseSlideTypeAdd.html.twig' %}

                </div>

            </div>


    </div>

{% endblock %}

{% block javascripts %}

    <!-- sortable plugin in order to ajax reorder slides -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            // When Click on New Item Button, we display a Slide Type Select Modal Box

            $('#newSlide').on('click', function (){

    
               $('#chooseSlideTypeModal').modal('show');

            });


            $('#gridDemo').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // when drag and drop, ajax call, slide reorder

                onEnd: function (evt) {

                    // an array storing slides id position

                    var slidesPosition = [];

                    
                    $('#gridDemo div.js-sortableGridItem').each(function(index){
                        
                        slidesPosition.push($(this).attr('id'));
                   
                    });

                    jsonSlidesPosition = JSON.stringify(slidesPosition);
                    
                    $.ajax({  
                        url: "{{path('ajax_reorder_slides', {'slug': presentation.slug})}}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                            "jsonSlidesPosition": jsonSlidesPosition,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                     }); 

                },
            });

        }); 

        
    </script>
   


{% endblock %} 
