{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}


{% block title %}Images et Vidéos{% endblock %}

{% block sidebar %} {% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container">

        <!-- Title Container with Collapsible Info-Box -->

        <div class="mt-md-5 mb-4">

            <!-- ui page title -->

            <h3 class="h3 font-weight-bold d-inline mr-3">Images & Vidéos</h3>

            <!-- Display an Info-Box (if Empty Slideshow) -->

            {% if presentation.slides | length == 0 %}

                <!-- collapsable advice -->	

                <!-- Trigger Button -->	

                <a class="font-weight-bold my-1 d-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                    <span class="btn btn-light fs-15 h5 sharp p-1 px-2" style="letter-spacing: 2px;"> Conseil </span>
                    
                </a>

                <!-- Advice -->	
                    
                <div class="info-box collapse col-md-6 mt-0 mb-4" id="collapseExample">

                    <p class="lh-2 h5">Présenter des images, schémas, ou vidéos est une méthode rapide et efficace pour <strong>transmettre vos Idées</strong>.</p>

                </div>


            {% endif %}

            {% if presentation.slides | length > 1 %}

                <!-- collapsable info -->	

                <!-- Trigger Button -->	

                <a class="font-weight-bold my-1 d-inline" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">

                    <span class="btn btn-light fs-15 h5 sharp p-1 px-2" style="letter-spacing: 2px;"> Info </span>
                    
                </a>

                <!-- Info -->	
    
                <div class="info-box collapse col-md-6 mt-0 mb-4" id="collapseInfo">

                    <p class="lh-2 h5">Pour modifier l'ordre des diapositives, utiliser le glisser-déposer (= drag and drop).</p>

                </div>

            {% endif %}

        </div>

                
        <!-- Add an Image Button (Triggers a Modal Box with a Form) -->

        <div class="" style="margin-bottom:33px;">

            <button type="button" data-toggle="modal" data-target="#addImageFormModal" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter une image</button> 

            <a href="{{path('slideshow_video_add', {'slug':slug, 'presentation':presentation})}}">
                <button type="button" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter une vidéo (Youtube)</button>
            </a>

        </div>


        <!-- Add an Image Form Display (in a Modal Box) -->

        {% include '/slideshow/partials/_add_image_modal.html.twig' %}
                

        <!-- Slideshow Displayed on a grid Grid -->

        <div class="container mb-3">

            <div id="gridDemo" class="row col-md-8 pl-0">

                {% if presentation.slides | length > 0 %}

                {% for slide in presentation.slides %}

                    <!-- Thumbnail Container -->

                    <div id="{{slide.id}}" class="js-sortableGridItem d-flex align-items-center justify-content-center position-relative m-2 p-3 border border-primary border-5 rounded overflow-hidden cursor-pointer" style="width:130px; height:123px; border-color: #3f5cff !important;">

                        {% if slide.mediaType == 'image' %}

                            <a href="{{path('slideshow_image_edit', {'slug':slug,'id_slide' : slide.id })}}" class="text-body text-decoration-none">

                                <img src="/images/projects/slides_images/{{slide.slideName}}" alt="{{slide.slideName}}" height="" width="100%">
                                
                            </a>

                        {% elseif slide.mediaType == 'video' %}

                            <a href="{{path('slideshow_video_edit', {'slug':slug, 'presentation': presentation, 'id_slide' : slide.id })}}" class="text-body text-decoration-none">
                                
                                <img src="{{slide.thumbnail}}" alt="{{slide.slideName}}" height="" width="100%">

                                <!-- ui css video icon -->

                                <span class="position-absolute rounded-circle bg-danger p-2" style="bottom:3px; left:3px;"> </span> 

                            </a>
                                 
                        {% endif %}

                        <!-- Remove Slide button (a red cross on each slide) -->
        
                        <button type="button" class="js-delete-slide d-inline position-absolute btn btn-sm btn-danger sharp" data-id="{{slide.id}}" style="top:0; right:0;"><span class="font-weight-bold">X</span></button>

                    </div>

                {% endfor %}

                {% endif %}
              

            </div>

        </div>

        <!-- Back Button -->

        <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
            <button type="button" class="btn btn-info btn-lg font-weight-bold mt-4 mb-4 sharp">Retour</button>
        </a>

    </div>

{% endblock %}

{% block javascripts %}

    <!-- sortable plugin in order to reorder slides -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            // Manage add an image form errors : we have to trigger modal box display for the user to be aware of thesses form errors.

            {% if not addImageForm.vars.valid %}

                $('#addImageFormModal').modal('show');

            {% endif %}

            // When Click on New Item Button, we display a Slide Type Select Modal Box

            $('#newSlide').on('click', function (){

    
               $('#chooseSlideTypeModal').modal('show');

            });

            // Allow drag and drop slides reorder (front-end)
            // and manage an ajax request to update slides positions (back-end)


            $('#gridDemo').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // when drag and drop, ajax call, slide reorder

                onEnd: function (evt) {

                    // an array storing slides id position

                    var slidesPosition = [];

                    
                    $('#gridDemo div.js-sortableGridItem').each(function(index){
                        
                        slidesPosition.push($(this).attr('id'));
                   
                    });

                    jsonSlidesPosition = JSON.stringify(slidesPosition);
                    
                    $.ajax({  
                        url: "{{path('ajax_reorder_slides', {'slug': presentation.slug})}}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                            "jsonSlidesPosition": jsonSlidesPosition,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                     }); 

                },
            });

            // Remove a Diapo

               $('#gridDemo').on('click', '.js-delete-slide', function (){

                var idSlide = $(this).attr("data-id");

                if (confirm("Confimer la suppression de cette diapo?"))
                {

                $(this).html('<div class="loader"></div>');
                    
                $.ajax({  

                    url: "{{path('ajax_delete_slide', {'slug': presentation.slug}) }}",
                    type:       'POST',   
                    dataType:   'json',
                    
                    data: {
                      "idSlide": idSlide,
                    },

                    async: true,  
                    
                    success: function(data, status) {


                        $("#gridDemo #"+idSlide).remove();
                       
                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        // alert('Ajax request failed.');  
                    }  
                 }); 
                    
                }


            });








        }); 

        
    </script>
   


{% endblock %} 
