{% extends 'base.html.twig' %}

{% block title %}Diaporama de Présentation{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="h3 font-weight-bold mt-3">Diaporama de Présentation</h3>

        <!-- Info-Box if Empty Slidshow -->

        {% if presentation.slides | length == 0 %}

        <div class="card border-primary mb-3" style="max-width: 37rem;">
            <div class="card-header p-2">
                <h4 class="mb-0 card-title font-weight-bold">!!! Conseil Important !!!</h4>
            </div>
            <div class="card-body p-2">
                
                <p class="card-text lh-2 h5">Images, Schémas, Capsules de Texte et Vidéos peuvent être un Moyen RAPIDE ET EFFICACE pour <strong>transmettre vos Idées</strong> .</p>

            </div>
        </div>

        {% endif %}

        <div class="btn-toolbar mt-2 mb-2" role="toolbar" aria-label="Toolbar with button groups">

            <div class="btn-group mr-2" role="group" aria-label="First group">
                
                <a href="{{ path('slideshow_images_add', {'slug':slug}) }}">
                    <button class="btn btn-primary btn-lg font-weight-bold p-3 mr-2"> + Ajouter des Images
                    </button>
                </a> 
                
                <a href="{{ path('slideshow_text_add', {'slug':slug}) }}">
                    <button class="btn btn-primary btn-lg font-weight-bold p-3 mr-2"> + Ajouter du Texte
                    </button>
                </a> 
                
                <a href="{{ path('slideshow_video_add', {'slug':slug}) }}">
                    <button class="btn btn-primary btn-lg font-weight-bold p-3 mr-2"> + Ajouter une vidéo
                    </button>
                </a>
        
            </div>
        
        </div>

        <div class="btn-toolbar mt-2 mb-2" role="toolbar" aria-label="Toolbar with button groups">

            <div class="btn-group mr-2" role="group" aria-label="First group">
                         
                {% if presentation.slides | length > 1 %}
        
                    <a class="text-decoration-none text-white" href="{{path('reorder_slides',{'slug':slug})}}">
                        <button type="button" class="btn btn-secondary btn-lg font-weight-bold mr-2 ">Modifier l'Ordre ?</button>
                    </a>

                {% endif %}
                
                <!-- Back Button -->

                <a class="text-decoration-none text-white" href="{{ path('project_show', {'slug': slug }) }}">
                    <button type="button" class="btn btn-info btn-lg font-weight-bold ">Retour</button>
                </a>
        
            </div>
        
        </div>

       


        {% if presentation.slides | length > 0 %}

            <h3 class="mb-2 font-weight-bold">Votre Diaporama : </h3>

            <div class="container">

                <div class="row">

                    {% for slide in presentation.slides %}

                        <div class="position-relative m-2 p-2 border border-primary rounded border-2">

                            {% set thumbnailSource = '' %}

                            {% if slide.mediaType == 'image' %}

                                {% set thumbnailSource = slide.slideName %}

                            {% elseif slide.mediaType == 'video' %}

                                {% set thumbnailSource = slide.thumbnail %}
                                
                            {% endif %}
        
                            <img src="{{ thumbnailSource }}" alt="{{slide.slideName}}" height="85" width="85">
            
                            <a href="{{ path('delete_slide', {'slug':slug , 'id': slide.id}) }}">
                                <button type="button" onclick="confirm('Confirmer la Suppression?')" class="js-delete d-inline position-absolute btn btn-danger" style="top:0; right:0;"><span class="font-weight-bold">X</span></button>
                            </a>

                        </div>

                    {% endfor %}

                </div>

            </div>

        {% endif %}

    </div>

{% endblock %}


{% block javascripts %}

	<!-- ui {Move Up / Move Down} Table Rows -->

	<script>
	  
		$(document).ready(function(){
							
			$('.js-manage-table button.js-move').click(function() {
				var row = $(this).closest('tr');
				if ($(this).hasClass('js-move-up'))
					row.prev().before(row);
				else
					row.next().after(row);
			});

			
			$('.js-manage-table button.js-delete').click(function() {	
					// Note : Back-end : Delete in Database too.
					
					$(this).closest('tr').remove();

				}

			);		

		});

	</script>


{% endblock %}