

<!-- Project Creator Toolbar -->

<div class="btn-toolbar mt-2 mb-2" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group mr-2" role="group" aria-label="First group">
        
        <a href="{{path('need_index', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Besoins du Projet</button>
        </a>
        
        <a href="{{path('slideshow_index', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Diaporama du Projet</button>
        </a>
        
        <a href="{{path('contact_index', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Vous Contacter</button>
        </a>
        
        <a href="{{path('index_categories', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Gérer les Catégories</button>
        </a>

    </div>

</div>

<div class="btn-toolbar mt-2 mb-3" role="toolbar" aria-label="Toolbar with button groups">
    
    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        
        <a href="{{path('places_city_manage', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Lieux du Projet</button>
        </a>
                        
        <a href="{{path('websites_index', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Sites Web</button>
        </a>
                        
        <a href="{{path('index_project_messages', {'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Messages</button>
        </a>
                        
        <a href="{{path('project_edit',{'slug':presentation.slug})}}" class="">
            <button type="button" class="btn btn-primary font-weight-bold rounded mr-2">Généralités</button>
        </a>

    </div>
</div>