
<!-- Project Dates & Events Display -->

{% if presentation.events | length > 0 %}

    <!-- Structure Container -->

    <div id="eventsDisplay" class="pp-struct-container pb-1 pb-md-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container">

            <!-- Structure Icon -->

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/events_4.svg" height="27" width="27" alt="events icon">

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Événements et dates</h3>
    
            <!-- Edit Dates & Events Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_events', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold fs-15">Gérer les événements</button>
                    
                </a>

            {% endif %}

        </div>

        <!-- Project Dates & Events Display -->

        <div class="container mt-4 px-0">


          <!-- Project Events Display (in a Timeline) -->

          <ul class="timeline" id="timeline">

            <!-- First Timeline Dot at the beginning (just a decoration) -->

            <li class="li"></li> 

            {% for event in presentation.events %}

              <!-- Does this event has More Info to Show in a Modal ? (when too many informations to display) -->

              {% set moreDisplay = false %}

              {% if event.endDateStr is not null or event.title | length >= 23 or event.description is not null %}

                {% set moreDisplay = true %}
                    
              {% endif %}

           

            {# {% if loop.index == 6 %}

                  <li class="li" style="border : 2px solid navy; margin-top:35px; padding:10px 5px;"> 
                      
                      <div class="text-center">

                          Afficher Tout

                      </div>
                      
                  </li>
              
              {% endif %} #}

              <!-- a Timeline Chunk -->

              <li class="li complete" data-toggle="modal" data-target="#eventDisplayModal{{ loop.index }}">

                  <!-- Informations Above the Timeline Chunk -->

                  <div class="timestamp d-flex justify-content-center">

                      <span class="author">{{ event.title | length < 23 ? event.title : event.title | slice(0, 20) ~ '...' }}</span>

                      <span class="date">{{event.beginDateStr }}<span>

                  </div>

                  <!-- Informations Bellow the Timeline Chunk -->
                  
                  <div class="status cursor-pointer">

                      <!-- Potential "Show More Informations" Button (trigger a modal)-->

                      {% if moreDisplay == true %}

                          <a data-toggle="modal" data-target="#eventDisplayModal{{ loop.index }}" class="btn btn-sm btn-light font-weight-bold" style="margin-top:5px; padding: 0px 4px;"> Afficher +</a>
                      
                      {% endif %}
                      
                  </div>

            </li>

            
          {% if moreDisplay == true %}
          
              <!-- Display Events Details (in a modal) -->

              <div class="modal" id="eventDisplayModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="eventDisplayLabel{{ loop.index }}" aria-hidden="true">
                          
              <div class="modal-dialog" role="">

                  <div class="modal-content">

                  <!-- Modal Header -->

                  <div class="modal-header">

                      <!-- Event Complete Title -->

                      <div class="row pl-4"> 

                          <div class="h5 font-weight-bold pr-md-3" >

                              {{ event.title }}

                          </div>
                      
                      </div>


                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                          <span aria-hidden="true">&times;</span>

                      </button>

                  </div>

                  <!-- Modal Body -->

                  <div class="modal-body px-4">

                      <div class="container">

                          <!-- Event Dates -->

                          <div class="row mb-3"> 
                              
                              <b> 

                              {% if event.beginDateStr is not empty %}

                                  Début : <span class="date">{{event.beginDateStr }}<span>

                                  {% if event.beginTime %}

                                      à {{event.beginTime | date("H:i")}}

                                  {% endif %}

                              {% endif %}


                              {% if event.endDateStr is not null %}

                                  <br>

                                  Fin : <span class="date">{{event.endDateStr }}<span>

                                  {% if event.endTime %}

                                      à {{event.endTime | date("H:i")}}

                                  {% endif %}

                              {% endif %}

                              </b>


                          </div>


                          <!-- Event Long Description -->

                              <div class="row fs-15 mb-3"> 
                                  
                                  {% if event.description is not empty %}

                                      {{event.description | nl2br }}
                                  
                                  {% endif %}

                              </div>


                          <!-- "Created At" & "Last Updated At" Display -->

                          <div class="row">

                              <small>

                                  <!-- Last Updated at -->

                                  {% if event.updatedAt %}
                                  
                                      Modifié le {{ event.updatedAt | date("Y-m-d") }} à 
                                      {{ event.updatedAt | date("H:i") }}

                                      <br>
                                  
                                  {% endif %}

                                  <!-- Created At -->

                                  Créé le {{ event.createdAt | date("Y-m-d") }} à {{ event.createdAt | date("H:i") }}

                              </small>

                          </div>

                          



                        

                  
                      
                


                        

                      <!-- End of Modal Body Container -->

                      </div>

                  <!-- End of Modal Body -->

                  </div>

                  <!-- Modal footer -->

                  <div class="modal-footer">

                      <button type="button" class="btn btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>

                  </div>

                  </div>

              </div>

              </div>  
          
          {% endif %}


          {% endfor %}

            <!-- Ending Timeline Arrow (just a decoration) -->

            <li class="li"></li> 

          </ul>

        </div>

    </div>

                  
    <!-- Styles for the Timeline -->

    <style>
          
        .timeline {
          
            list-style-type: none;

            display: inline-block;

            overflow-x: auto;
            overflow-y: hidden;
        

            padding-left : 15px;

  
          }
          
          .li {
            
            transition: all 200ms ease-in;

            cursor:pointer;

            border-radius: 5%;

            float:left;

            
          }
          
          .li:hover {

            background-color:lavender;
            
          }
          
          .timestamp {
            margin-bottom: 12px;
            padding: 0px 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-weight: 100;

            width:172px;

            border: none;

            min-height: 80px;
            
          }

          /* First Dot (just a decoration) */

          .timeline li:first-child{
            margin-top:84px;
            border-radius: 10px;
            border: 10px solid #235974;
          } 

          /* Ending Arrow (just a decoration)*/

          .timeline li:last-child{
            margin-top:84px;
            border: 10px solid transparent;
            border-right: 0;
            border-left: 20px solid  #235974;
            border-radius: 3px;
          } 


          .timestamp .author {

            color:black;

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            font-size: 1.15em;
            font-weight: bold;
            

          }

          .timestamp .date {

            font-size:1em;
            font-weight: 600;

          }

          
          .status {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            border-top: 2px solid #D6DCE0;
            position: relative;
            transition: all 200ms ease-in;

            border: none;

            min-height: 50px;;
          
          }


          .status h4 {
            font-weight: 600;
            min-height:40px;
            
          }

          .status:before {
            content: "";
            width: 25px;
            height: 25px;
            background-color: aliceblue;
            border-radius: 25px;
            border: 3px solid rgb(184, 14, 14);
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
            
          }

          
          .li.complete .status {
            border-top: 4px solid #235974;

          
          }

          .li.complete .status:before {
          /* background-color: #66DC71; */
            border:3px solid #235974;
            transition: all 200ms ease-in;
            
          }

          .li.complete .status h4 {
            color:black;
          }

          #eventsDisplay .pp-struct-icon {
            margin-right: 14px;
            top: 0px;
            margin-left: 6px;
          }


        @media screen and (max-width: 580px) {

            .timeline {

                display:flex;
                align-items:center;
              
                overflow-x: auto;
                overflow-y: hidden;
                  
            }

            .li {
            
              transition: all 200ms ease-in;

              cursor:pointer;

              border-radius: 5%;
              
            }

          .timestamp .author {

            font-size:1.05em;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            

          }

          .timestamp .date {

            font-size:1.05em;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;

          }

          
          /* First Dot (just a decoration) */

          .timeline li:first-child{
            margin-top:48px;
          } 

          /* Ending Arrow (just a decoration)*/

          .timeline li:last-child{
            margin-top:48px;
          } 

          
          #eventsDisplay .pp-struct-icon {
            width: 18px;
            height: 18px;
            top: 0px;
            margin-left:2px;
            margin-right:8px;
        }


        }
          
    </style>

{% endif %}