
<!-- Question & Answers Display -->

{% if presentation.questionAnswers | length > 0 %}

    <!-- Whole Structure Container -->

    <div id="qaDisplay" class="pp-struct-container pb-md-2">

        <!-- Title Container -->

        <div class="pp-struct-title-container">

            {# structure icon #}

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/faq_2.svg" height="26" width="26" alt="faq icon">

            <!-- Structure Title -->
                    
            <h3 class="pp-struct-title">Questions / Réponses</h3>
                                            
            <!-- Edit Project Q&A Button -->

            {% if is_granted('edit', presentation) %}
            
                <a class="pp-edition-mode" href="{{ path('qa_manage', {'slug': presentation.slug}) }}">

                    <button class="btn btn-light sharp font-weight-bold fs-15">Gérer les Questions / Réponses </button>
                    
                </a>
            {% endif %}

        </div>


         <!-- Q & A (Collapsible) -->

        <div class="container mt-3 ml-md-1 pb-2 pl-0 pl-md-2 pr-0 pr-md-3">

            <div class="col-md-10 col-lg-9 pr-0">
                
                {% for qa in presentation.questionAnswers %}

                    <!-- Question with Collapse Symbol Display -->
                    
                    <div class="questionRow row p-1 mb-2 mb-md-3 cursor-pointer collapsed" data-toggle="collapse" href="#collapse{{ qa.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ qa.id }}">
                                                    
                        <!-- Question Display -->

                        <div class="col-11 pl-0 pl-md-3 pr-0">

                            <span class="question">

                                {{ qa.question [:1] | upper ~ qa.question [1:] }}

                            </span>

                        </div>

                        <!-- Collapse Symbol Display -->

                        <div class="collapseSymbolDisplay col-1 d-flex justify-content-center px-0">

                        </div>

                    </div>

                    <!-- Answer Display -->

                    <div class="collapse mb-2 mb-md-3" id="collapse{{ qa.id }}">

                        <div class="p-2 " style="background-color: aliceblue;">

                            <div class="answer mb-2">
                                
                                {{ qa.answer [:1] | upper }}{{ qa.answer [1:] | nl2br }}
                            
                            </div>

                        </div>

                    </div>
                    
                {% endfor %}  
            </div>

                

        
        </div>

    </div>


    <style>
   

        .questionRow:hover {
            background-color: lavender !important;
        }
    
        .question {
    
            font-size: 1.25em;
    
            line-height: 1.15em;
    
            font-weight: bold;
    
        } 
    
        .answer {
    
            font-size: 1.15em;
    
            line-height: 1.5em;
    
        }
    
        .questionRow .collapseSymbolDisplay:after {
    
            font-size: 1.2rem !important;
            content: "▲";
        }
    
        .collapsed .collapseSymbolDisplay:after {
            content: "▼";
        }


                    
        #qaDisplay .pp-struct-icon {
            margin-right: 11px;
            top: 2px;
            margin-left: 6px;
        }

    
        @media screen and (max-width: 580px) {
    
            .question{
    
                font-size:16px;
                line-height:20px;
    
            }
    
            .answer{
    
                font-size: 16px;
                line-height: 1.5em;
    
            }

            #qaDisplay .pp-struct-icon {
                width: 18px;
                height: 18px;
                top: 2px;
                margin-right:5px;
                margin-left:2px;
            }
    
        }
    
    </style>

{% endif %}