

<!-- Project Desired Ressources Display -->

{% if presentation.needs | length > 0 %}

    <!-- Structure Container -->

    <div class="pp-struct-container">

        <!-- Title Container -->

        <div class="mb-3">

            <h3 class="pp-struct-title d-inline mr-2">
                
                {% if presentation.needs | length == 1 %}
                    Participer - 1 besoin -

                {% else %}
                    
                    Participer - {{presentation.needs | length}} besoins -

                {% endif %}
                
            </h3>

                    
            <!-- Manage Project Needs Button -->

            {% if app.user and app.user == presentation.creator %}
                <a href="{{ path('need_index', {'slug': presentation.slug}) }}" class="">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les besoins</button>
                    
                </a>
            {% endif %}

        </div>

        <!-- Project Needs Display -->
     
        <div class="container-fluid table-responsive my-2">
            
            <table class="table table-hover table-borderless">
                
                <tbody>

                    
                    <!-- we display first five needs by default --> 

                    {% for need in presentation.needs | slice (0,5) %}
                        
                        {% set showPath = path('need_show', {'id': need.id, 'slug': presentation.slug}) %}

                        <tr class="cursor-pointer h5 font-weight-bold">

                            <td  onclick="window.location='{{ showPath }}'">
                    
                                    <a href="{{ showPath }}" class="text-body text-decoration-none">

                                        {# Blue Arrow bullet point #}
                                        
                                        <span class="arrowCar blueArrow">► </span>

                                        {# Need Title #}
                                        
                                        {{ need.title | capitalize}}

                                    </a>

                            </td>

                        </tr>

                    {% endfor %}

                    <!-- if there are more than 5 needs, we propose a modal box for the user to see them all -->

                    {% if presentation.needs |length > 5 %}

                        <tr class="cursor-pointer h5 font-weight-bold bg-light">

                            <td>

                                <!-- Display All Needs "Button" -->
                    
                                <a id="needsModalLink" class="text-body text-decoration-none" data-toggle="modal" data-target="#displayNeedsModal"><span class="arrowCar blueArrow">►►► </span>Afficher tous les Besoins<span class="arrowCar blueArrow"> ◄◄◄</span>
                                </a>

                            </td>

                        </tr>

        






                <!-- Modal Box (Display All Needs) -->

                    <div id="displayNeedsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                        <div class="modal-dialog" role="document">

                        <div class="modal-content">

                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Besoins du Projet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">

                                <div class="list-group">

                                    {% for need in presentation.needs %}
                
                                    {% set showPath = path('need_show', {'id': need.id, 'slug': presentation.slug}) %}

                                    <a href="{{ showPath }}" class="list-group-item list-group-item-action flex-column align-items-start p-2">
                                      <div class="d-flex w-100 justify-content-between">
                                          
                                        <h5 class="text-body h6 font-weight-bold">{{ need.title | slice (0,54) | capitalize}}</h5>

                                        {% if need.priority %}

                                        <h6 class="m-0"> <span class="badge badge-warning">Priorité!</span></h6>

                                        {% endif %}
                                      </div>
                                      
                                    </a>
                                    {% endfor %}
                               
                                </div>

                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-info font-weight-bold"  data-dismiss="modal">Retour</button>
                            </div>
                        </div>

                        </div>

                    </div>

        
            {% endif %}


            </tbody>
         
    </table>

        </div>


    </div>


{% endif %}


{% block javascripts %}
       
    <script>

        $(document).ready(function(){

            // When Click on "Display all Needs", a modal box pop up.

            $('#needsModalLink').on('click', function (){

    
               $('#displayNeedsModal').modal('show');

            });

        });

    </script>

{% endblock %}