<!-- WARNING Javascript ajax management is done in pp/show.html.twig due to jQuery.js loading priorities -->

<!-- Project Desired Ressources (= needs) Display -->

{% if presentation.needs | length > 0 %}

    <!-- Structure Container -->

    <div id="needsDisplay" class="pp-struct-container pp-struct-needs">

        <!-- Title Container -->

        <div class="pp-struct-title-container">

            {# Structure Icon #}

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/needs.svg" height="32" width="32" alt="project needs icon">

            {# Structure Title #}

            <h3 class="pp-struct-title">
                
                {% if presentation.needs | length == 1 %}
                    Participer - 1 besoin

                {% else %}
                    
                    Participer - {{presentation.needs | length}} besoins

                {% endif %}
                
            </h3>

                    
            <!-- Manage Project Needs Button -->

            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('need_index', {'slug': presentation.slug}) }}">

                    <button class="btn btn-light sharp font-weight-bold d-inline-block fs-15">Gérer les besoins</button>
                    
                </a>
                
            {% endif %}

        </div>
        
        <!-- Project Needs Display List -->
    
        <div class="container-fluid table-responsive px-0 pl-md-3">
            
            <table id="needsDisplayTable" class="table mb-1 mb-md-3 table-hover table-borderless">
                
                <tbody>

                    {% for need in presentation.needs %}

                        <!-- Needs Titles Display (in a Table) -->
  
                        <!-- Is it a Paid Service ? -->

                        {% set isPaid = '' %}

                        {% if not need.paidService == null %}
                        
                            {% if need.paidService == 'yes' %}
                                {% set isPaid = "Payé" %}

                            {% elseif need.paidService == 'no' %}
                                {% set isPaid = "Non payé" %}

                            {% elseif need.paidService == 'maybe' %}
                                {% set isPaid = "Peut-être payé" %}

                            {% else %}

                                {% set isPaid = "" %}
                            
                            {% endif %}

                        {% else %}
                            
                            {% set isPaid = "Non précisé" %}

                        {% endif %}

                        <tr class="cursor-pointer h5 font-weight-bold"  data-toggle="modal" data-target="#displayNeedDescriptionModal{{need.id}}">

                            <td class="pl-2 pl-md-4 pr-0">    

                                    {# Blue Arrow bullet point #}
                                    
                                    <span class="arrowCar blueArrow mr-1 mr-md-2">► </span>

                                    {# Need Title #}

                                    {{ need.title | length < 50 ? need.title | capitalize : need.title | slice(0, 50) ~ '...'  | capitalize }}


                            </td>
                        </tr>
                        
                                
                        <!-- Display Need Details (in a Modal Box) -->

                        <div class="modal" id="displayNeedDescriptionModal{{need.id}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

                            <div class="modal-dialog" role="document">

                                <div class="modal-content">

                                    <!-- Need Title Display -->

                                    <div class="modal-header">
                                        
                                        <h5 class="modal-title titleNeedModal font-weight-bold">
                                            {{ need.title }}
                                        </h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                            <span aria-hidden="true">&times;</span>

                                        </button>

                                    </div>

                                    <div class="modal-body fs-15" >

                                        <!-- Date Display -->

                                        <div class = "mb-2" >

                                            <span class="">
                                                Publié le 
                                            </span>

                                            <span>
                                                {{need.createdAt | date('d-m-Y')}}
                                            </span>

                                        </div>

                                        <!-- is it Payed ? -->

                                        <div class = "mb-4" >

                                            <span class="font-weight-bold">
                                                Payé ?  
                                            </span>
                                            
                                            <span class="h6 p-1 font-weight-bold rounded bg-primary text-white">
                                                {{ isPaid }}
                                            </span>

                                        </div>

                                        <!-- Need Description Display -->

                                        <div class="px-md-3 pt-md-1 pb-md-3">

                                            {{need.description | nl2br}}

                                        </div>

                                    </div>


                                    <!-- Action Buttons -->

                                    <div class="modal-footer">

                                        {% if is_granted('edit', presentation) %}

                                            {# Modify this Need #}

                                            <a id="modifyNeedButton" href="{{path('need_edit', {'slug':presentation.slug, 'need_id' : need.id })}}">
                                                <button type="button" class="btn btn-light sharp font-weight-bold">Modifier</button>
                                            </a>

                                        {% endif %}

                                        <!-- Send a Private Message Button -->

                                        <a href="{{path('contact_message_new', {'slug':presentation.slug})}}">
                                            <button type="button" class="btn btn-primary sharp font-weight-bold">Entrer en contact</button>
                                        </a>

                                        
                                        <!-- Back Button -->

                                        <button type="button" class="btn btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>


                                    </div>

                                </div>

                            </div>

                        </div>

                    {% endfor %}


                </tbody>
        
            </table>

        </div>


    </div>



    <!-- Some Style -->

    <style>

        #needsDisplayTable td:hover, #needsDisplayTable .pp-struct-container a:hover {
                    
            background-color : lavender;

        }

            
        #needsDisplay .pp-struct-icon {
            margin-right: 12px;
            margin-left: 0px;
            top: -2px;
        }


        @media screen and (max-width: 580px) {

            #needsDisplayTable td {

                font-size: 17px;
                font-weight: normal;

                padding-top: 9px;
                padding-bottom: 9px;

            }

            #needsDisplay.pp-struct-container {
               
                padding-bottom:8px;
            }
            
            #needsDisplay .pp-struct-title-container {
               
                margin-bottom:8px;
            }

            #needsDisplay .pp-struct-icon {
                width: 19px;
                height: 19px;
                top: -1px;
                margin-right: 6px;
                margin-left: 0px;
            }


        }

    </style>


{% endif %}

