
<div class="col">

    
    {# Project Logo #}
    
    <div class="mb-2">

        <div class="font-weight-bold mb-1">Logo du Projet</div>

        <div class="d-inline-block m-0" >


            <img class="" src="/images/projects/logos/{{ presentation.logoName }}" alt="Logo du Projet" style="width:120px; height:120px;">

        </div>

    </div>

    <div class="row">

        <div class="col-4">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}">
                <img class="avatar avatar-medium" src="{{ presentation.creator.imageName }}" alt="Avatar de {{ presentation.creator.name }}">
            </a>
            
        </div>

        <div class="col d-flex">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}" class="text-decoration-none text-body">

                <h3>{{ presentation.creator.name }}</h3>

                <h5><span class="badge badge-primary px-2 py-1">{{presentation.creator.presentations | length}} Projet(s)</span></h5>

            </a>

        </div>

    </div>

</div>