
<div class="col">

    {# Project Logo #}
    
    <div class="mb-2">

        {% if presentation.logoName %}   

            <div class="font-weight-bold mb-1">Logo du Projet</div>

            <div class="d-inline-block m-0" >

                <img class="" src="/images/projects/logos/{{ presentation.logoName }}" alt="Logo du Projet" style="width:120px; height:120px;">
      
            </div>

        {% endif %}

    </div>

    <div class="row">

        {# Presentation Creator Image or Avatar #}

        <div class="col-auto pr-0  d-flex align-items-center justify-content-center">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}">

                {% if presentation.creator.imageName %}

                    <img class="avatar avatar-medium" src="{{ presentation.creator.imageName }}" alt="Avatar de {{ presentation.creator.name }}">

                {# Default One Letter Avatar #}

                {% else %}
                                        
                    <div class="avatar-circle">
                        <span class="initials">
                            {{presentation.creator.name | slice (0,1) }}
                        </span>
                    </div>
                
                {% endif %}

            </a>
            
        </div>

        {# Presetation Creator Name, profile link, and number of projects #}

        <div class="col d-flex">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}" class="text-decoration-none text-body">

                <h3>{{ presentation.creator.name }}</h3>

                <h5><span class="badge badge-primary px-2 py-1">{{presentation.creator.presentations | length}} Projet(s)</span></h5>

            </a>

        </div>

    </div>

</div>