
<div class="col">

    <div class="row">

        <div class="col-4">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}">
                <img class="avatar avatar-medium" src="{{ presentation.creator.image }}" alt="Avatar de {{ presentation.creator.name }}">
            </a>
            
        </div>

        <div class="col">

            <a href="{{ path('user_show', {'id' : presentation.creator.id}) }}">

                <h3>{{ presentation.creator.name }}</h3>

                <h5><span class="badge badge-primary px-2 py-1">{{presentation.creator.presentations | length}} Projet(s)</span></h5>

            </a>

        </div>

    </div>

</div>