
<style>
   

    .questionRow:hover {
        background-color: lavender !important;
    }

    .question {

        font-size: 1.25em;

        line-height: 1.15em;

        font-weight: bold;

    } 

    .answer {

        font-size: 1.15em;

        line-height: 1.5em;

    }

    .questionRow .collapseSymbolDisplay:after {

        font-size: 1.2rem !important;
        content: "▲";
    }

    .collapsed .collapseSymbolDisplay:after {
        content: "▼";
    }

    @media screen and (max-width: 580px) {

        .question{

            font-size:17px;

        }

        .answer{

            font-size: 16px;
            line-height: 1.5em;

        }
        


    }

</style>


<!-- Question & Answers Display -->

{% if presentation.questionAnswers | length > 0 %}

    <!-- Whole Structure Container -->

    <div class="pp-struct-container pb-md-2">

        <!-- Title Container -->

        <div class="pp-struct-title-container pb-1">
                    
            <h2 class="h3 pp-struct-title d-inline mr-2">Questions / Réponses</h2>
                                            
            <!-- Edit Project Q&A Button -->

            {% if app.user and app.user == presentation.creator %}
            
                <a href="{{ path('qa_manage', {'slug': presentation.slug}) }}">

                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer les Questions / Réponses </button>
                    
                </a>
            {% endif %}

        </div>

         <!-- Q & A (Collapsible) -->

        <div class="container mt-3 pb-2">

                
            {% for qa in presentation.questionAnswers %}

                <!-- Question with Collapse Symbol Display -->
                
                <div class="questionRow row p-1 mb-2 mb-md-3 cursor-pointer collapsed" data-toggle="collapse" href="#collapse{{ qa.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ qa.id }}">
                                                
                    <!-- Question Display -->

                    <div class="col-11 pr-0">

                        <span class="question">

                            {{ qa.question }}

                        </span>

                    </div>

                    <!-- Collapse Symbol Display -->

                    <div class="collapseSymbolDisplay col-1 d-flex justify-content-center px-0">

                    </div>

                </div>

                <!-- Answer Display -->

                <div class="collapse mb-2 mb-md-4" id="collapse{{ qa.id }}">

                    <div class="p-2 " style="background-color: aliceblue;">

                        <div class="answer mb-2">
                            
                            {{ qa.answer | nl2br }}
                        
                        </div>

                        <!-- Answer's Date Display -->

                        <div class="">

                            <span class="h6 font-weight-bold">

                                {{ qa.createdAt | date("d/m/Y") }}

                            </span>                                    
                        
                        </div>

                    </div>

                </div>
                
            {% endfor %}

        
        </div>

    </div>

{% endif %}