
<!-- Project Presentation Slideshow Display -->

{% if presentation.slides | length > 0 %}

	<!-- Structure Container -->

	<div class="mb-3" >
		
		<!-- Title Container with Edit Slideshow Shortcut Button-->

		{% if app.user and app.user == presentation.creator %}
			
			<div class="mb-2">

				<h2 class="h3 pp-struct-title d-inline mr-2">Diaporama</h2>
										
				<!-- Edit Project Title Button -->

					<a href="{{ path('slideshow_index', {'slug': presentation.slug}) }}" class="">

						<button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer le diaporama</button>
						
					</a>
				
			</div>

		{% endif %}

		<!-- Slideshow Container -->
	
		<div class="m-0 p-0" style="position : relative;">

			{% for slide in presentation.slides %}
				
				<div class="slide">

						{% if slide.caption %}
												
							<div class="h4" style="min-height:45px;">
								
								{{slide.caption}}

							</div>
				
						{% endif %}

					<div class="container-fluid d-flex align-items-center justify-content-center" style="height:465px; ">

						<!-- Possible Slide Caption (for Images and Videos) -->


						<!-- Case Image Slide -->

						{% if slide.mediaType == 'image' %}

							<div class="p-0 m-0">
								<img class="rounded img-fluid" src="/images/projects/slides_images/{{slide.slideName}}"  alt="{{slide.slideName}}" style="max-width:600px; max-height:390px;"> 

							</div>

						{% endif %}

						<!-- Case Text Slide -->

						{% if slide.mediaType=='text' and slide.textContent is not empty %}

							<div class="h4 overflow-hidden border border-primary border-2 rounded m-3 p-4 w-100" style="height:400px">
								{{slide.textContent | sanitize_html}}
							</div>
						
						{% endif %}

						<!-- Case Video Slide -->

						{% if slide.mediaType=='video' %}

							<iframe width="100%" height="100%" src="{{slide.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							
						
						{% endif %}

					</div>
							
				</div>	

			{% endfor %}

			<!-- Slideshow Button (only if there are more than one slide) -->

			{% if presentation.slides | length > 1 %}
				
				<button class="btn p-3 rounded font-weight-bold bg-primary text-white" style="position: absolute;
				top: 44%;" onclick="plusDivs(-1)"><span class="h3">&#10094;</span></button>

				
				<button class="btn p-3 rounded font-weight-bold bg-primary text-white" style="position: absolute;
				top: 44%;  right: 0;" onclick="plusDivs(1)"><span class="h3">&#10095;</span></button>

			{% endif %}

		</div>

	</div>

{% endif %}
		
<!-- Slideshow Mechanics -->

<script>

	var slideIndex = 1;
	
	showDivs(slideIndex);

	function plusDivs(n) {
		showDivs(slideIndex += n);
	}

	function showDivs(n) {
		var i;
		var x = document.getElementsByClassName("slide");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length}
		for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";  
		}
		x[slideIndex-1].style.display = "block";  
	}
	
</script>