
<!-- Slideshow Container -->

{% if presentation.slides | length > 0 %}

<div class="mt-4 mb-3" style="position : relative;">

	{% for slide in presentation.slides %}
		
		<div class="slide" style="max-width:100%; ">

			<div class="container-fluid" style="height:465px;">

				{% if slide.mediaType == 'image' %}
					
					{% if slide.caption %}
							
						<div class="h4 pl-md-3 mt-3" style="min-height:65px;">
							
							{{slide.caption}}

						</div>
				
					{% endif %}

					<div class="p-0 m-0 d-flex align-items-center justify-content-center" style="height:400px;">
						<img class="rounded img-fluid" src="/images/slides/{{slide.slideName}}"  alt="{{slide.slideName}}" style="max-width:600px; max-height:390px;"> 

					</div>

				{% endif %}

				{% if slide.mediaType=='text' %}

					<div class="h4 overflow-hidden border border-primary border-2 rounded m-3 p-4" style="height:400px;">
						{{slide.textContent | sanitize_html}}
					</div>
				
				{% endif %}

				{% if slide.mediaType=='video' %}

					<iframe width="100%" height="400px" src="{{slide.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					
					{% if slide.caption %}
					
						<div class="h4 pl-md-3 mt-md-2" style="min-height:65px;">
							
							{{slide.caption}}

						</div>
					
					{% endif %}
				
				{% endif %}

			</div>
					
		</div>	

	{% endfor %}

	{# We Only Add Buttons if there are more than one slide #}

	{% if presentation.slides | length > 1 %}
		
		<button class="btn p-3 rounded font-weight-bold bg-primary text-white" style="position: absolute;
		top: 50%;" onclick="plusDivs(-1)"><span class="h3">&#10094;</span></button>

		
		<button class="btn p-3 rounded font-weight-bold bg-primary text-white" style="position: absolute;
		top: 50%;  right: 0;" onclick="plusDivs(1)"><span class="h3">&#10095;</span></button>

	{% endif %}

</div>

{% endif %}
		
	
	<script>

		var slideIndex = 1;
		
		showDivs(slideIndex);

		function plusDivs(n) {
		  showDivs(slideIndex += n);
		}

		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("slide");
		  if (n > x.length) {slideIndex = 1}
		  if (n < 1) {slideIndex = x.length}
		  for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";  
		  }
		  x[slideIndex-1].style.display = "block";  
		}
		
	</script>