<!-- Project Technical Data Display -->

{% if presentation.technicalData | length > 0 %}

    <!-- Structure Container -->

    <div id="technicalDataDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container" style="margin-bottom:22px;">

            <!-- Structure Icon

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/technical_data.svg" height="32" width="32" alt="tachnical data icon"> -->

            <!-- Structure Title -->

            <h3 class="pp-struct-title d-inline mr-2 mb-2">Informations supplémentaires</h3>
    
            <!-- Edit Technical Data Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_technicalData', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold mb-2 d-inline fs-15">Gérer ces informations</button>
                    
                </a>

            {% endif %}

        </div>

       
        <!-- Project Supplementary Informations Display -->

        <div class="container px-0">

            {% if presentation.technicalData | length <= 3 %}
               
              {% for data in presentation.technicalData %}

              <!-- Data Container -->

              <div class="dataContainer">

                  <!-- Data Name -->

                  <div class="dataName">

                      {{data.name}}
                      
                  </div>

                  <!-- Data Value -->

                  <div class="dataValue">

                      {{data.value}}

                  </div>

              </div>
              
            {% endfor %}

        
            
            
        {% elseif presentation.technicalData | length > 3 %} <!-- we divide display in two column -->

                  <div class="row px-3">

                        {% for data in presentation.technicalData %}

                            {% if presentation.technicalData | length >= 5 and loop.index == 5 %}

                                    <div class="btn btnlight"><button class="hideWhenClicked btn btn-light sharp font-weight-bold my-0 py-0 fs-15" data-toggle="collapse" data-target="#collapseMoreTechData" aria-expanded="false" aria-controls="collapseMoreTechData">Afficher plus</button></div>

                                    <div id="collapseMoreTechData" class="collapse row mt-0 px-3">
                                    

                            {% endif %}
  

                            <div id="{{data.id}}" class="dataContainer col-6">

                                <!-- Data Name -->

                                <div class="dataName">

                                    {{data.name[:1] | upper ~ data.name[1:] }}
                                    
                                </div>

                                <!-- Data Value -->

                                <div class="dataValue">

                                    {{data.value}}

                                </div>

                              

                            </div>

                            
                            

                            {# closing the collapsible when more than 4 items #}

                            {% if loop.index >= 5 and loop.last %}
     
                    </div>
                            
                            {% endif %}

                        {% endfor %}
                  </div>

          

        {% endif %}


        </div>


    </div>


{% endif %}


<!-- Some Styles for Technical Data Display -->

<style>

    .dataContainer{

        //width:350px;
        margin-bottom: 15px;
        word-wrap: break-word;
        //padding-left:20px;
        //padding-right:5px;
       // border:1px solid black;
    }

    .dataName{
        font-size:19px;
        font-weight:bold;
    }

    .dataValue{
        font-size:20px;
        font-weight:normal;
    }

    .hideWhenClicked[aria-expanded="true"]{
        
        display: none;
    }

    @media screen and (max-width: 580px) {

        .dataName{
            font-size:1em;
        }

        .dataValue{
            font-size:1em;
        }

    }

</style>