<!-- Project Technical Data Display -->

{% if presentation.technicalData | length > 0 %}

    <!-- Structure Container -->

    <div id="technicalDataDisplay" class="pp-struct-container pb-3">

        <!-- Title Container with Edit Button -->

        <div class="pp-struct-title-container" style="margin-bottom:22px;">

            <!-- Structure Icon -->

            <img class="pp-struct-icon" src="/images/icons/consult_presentation/data.svg" height="24" width="24" alt="tachnical data icon" style="top:1px; margin-right:10px;"> 

            <!-- Structure Title -->

            <h3 class="pp-struct-title">Quelques Données</h3>
    
            <!-- Edit Technical Data Button -->
    
            {% if is_granted('edit', presentation) %}

                <a class="pp-edition-mode" href="{{ path('manage_technicalData', {'slug': presentation.slug}) }}">
    
                    <button class="btn btn-light sharp font-weight-bold">Gérer ces informations</button>
                    
                </a>

            {% endif %}

        </div>

       
        <!-- Project Supplementary Informations Display -->

        <div class="container px-0">

            {% if presentation.technicalData | length <= 3 %}
               
              {% for data in presentation.technicalData %}

              <!-- Data Container -->

              <div class="dataContainer px-md-4">

                  <!-- Data Name -->

                  <div class="dataName">

                    {{data.name[:1] | upper ~ data.name[1:] }} <span class="d-none d-md-inline">:</span>
                      
                  </div>

                  <!-- Data Value -->

                  <div class="dataValue">

                      {{data.value}}

                  </div>

              </div>
              
            {% endfor %}

        
            
            
        {% elseif presentation.technicalData | length > 3 %} <!-- we divide display in two column -->

                  <div class="row col-md-9 px-md-3 pl-lg-5">

                        {% for data in presentation.technicalData %}

                            {% if loop.index == 5 %}

                                <button class="hideWhenClicked btn btn-light sharp font-weight-bold mb-0 mt-2 py-0" data-toggle="collapse" data-target="#collapseMoreTechData" aria-expanded="false" aria-controls="collapseMoreTechData">Afficher plus</button>
                                

                                <div id="collapseMoreTechData" class="collapse container mt-0">

                                    <div class="row">
                                    
                            {% endif %}
    
                                <div id="{{data.id}}" class="dataContainer col-6 {{ cycle(['', 'px-0'], loop.index0) }}">

                                    <!-- Data Name -->

                                    <div class="dataName">

                                        {{data.name[:1] | upper ~ data.name[1:] }} <span class="d-none d-md-inline">:</span>
                                        
                                    </div>

                                    <!-- Data Value -->

                                    <div class="dataValue">

                                        {{data.value}}

                                    </div>

                                

                                </div>


                            {# closing the collapsible when more than 6 items #}

                            {% if loop.index > 4 and loop.last %}
     
                                </div>
                            </div>
                            
                            {% endif %}

                        {% endfor %}

                  </div>

          

        {% endif %}


        </div>


    </div>


{% endif %}


<!-- Some Styles for Technical Data Display -->

<style>

    .dataContainer{

        //width:350px;
        margin-bottom: 15px;
        word-wrap: break-word;
        //padding-left:20px;
        //padding-right:5px;
       // border:1px solid black;
    }

    .dataName{
        font-size:19px;
        font-weight:bold;
    }

    .dataValue{
        font-size:20px;
        font-weight:normal;
    }

    .hideWhenClicked[aria-expanded="true"]{
        
        display: none;
    }

    @media screen and (max-width: 580px) {

        .dataContainer{

            margin-bottom: 5px;
        }
        
        .hideWhenClicked{
            
            font-size: 14px;
        }

        .dataName{
            font-size:1em;
        }

        .dataValue{
            font-size:1em;
        }

    }

</style>