

<!-- Quoi faire sur le slick  

donner la classe slick à partir de n > 6



--> 




<!-- Some Styles -->


<!-- Project Team Display -->

{% if presentation.teammates | length > 0 %}

    <!-- Project Presentation Team Display Container -->

    <div class="pp-struct-container pb-3">

        <!-- Display Teammates Cards -->

        <div class="container">

            <div class="teammatesDisplayRow d-flex align-items-start {% if presentation.teammates | length > 4 %} test {% endif %}">

                {% for teammate in presentation.teammates %}

                {% set teammate = teammate.persorg %}

                    <!-- Team Member Card -->

                    <div class="teamMemberCard mb-2 px-1" >

                        <a href="#" class="h-100 w-100 text-body">

                        <!-- Teammate Missions -->

                        <div class="teammateMission font-weight-bold mb-2 text-center" style="height:45px;">


                            {% if teammate.missions %} 
                            
                                {{ teammate.missions | length < 35 ? teammate.missions : teammate.missions | slice(0, 32) ~ '...' }}

                                {% else %}
    
                            
                            {% endif %}

                        </div>

                        <!-- Teammate Image -->
                        
                        <div class="mb-2 d-flex align-items-center justify-content-center" style="height:110px;">

                            {% if teammate.image %}

                            <div>

                                <img class="img-fluid rounded-lg border border-primary" src="{{ asset('/images/persorgs/' ~ teammate.image) | imagine_filter('logo_thumbnail_sm') }}" style="max-width:100px; max-height:100px;">

                            </div>

                                
                            
                            {% else %}
                                                    
                            <div class="avatar-circle mx-auto">

                                <span class="initials">

                                    {{teammate.name | slice (0,1) | capitalize }}

                                </span>

                            </div>
                        
                            {% endif %}

                        </div> 
                                            
                        <!-- Teammate Name -->

                        <div class="font-weight-bold mb-2 text-center" style="height:45px; overflow-y: hidden;">

                            {{ teammate.name | length < 35 ? teammate.name : teammate.name|slice(0, 35) ~ '...' }}

                        </div>

                                            
                        <!-- Teammate Show More Info (if more info available) -->

                        {% if teammate.description is not empty or teammate.email is not empty or teammate.webdomain1 is not empty or teammate.webdomain2 is not empty or teammate.webdomain3 is not empty or teammate.webdomain4 is not empty  %}
                            
                            <div class="font-weight-bold mb-2 text-center" >

                                <a href="#" class="badge badge-primary" data-toggle="modal" data-target="#teammateDisplayModal{{ loop.index }}">Voir +</a>

                            </div>

                        {% endif %}


                        </a>

                        
                        
                    

                    </div>   

                {% endfor %}

            </div>

        </div>

    </div>


{% endif %}


<!-- Styles for Project Team Display -->

<style>

    .teamMemberCard{

        
        display: inline-block !important;

        width:164px; 

        min-height:140px; 

        margin-right:10px; 

        cursor:pointer;
        
        white-space:normal;
        overflow-x:auto;
        
    
    }

    
    .avatar-circle {
        width: 100px;
        height: 100px;
    }

    
    .initials {
        position: relative;
        top: 22px; /* 25% of parent */
        font-size: 58px; /* 50% of parent */
        line-height: 58px; /* 50% of parent */
    }

    .teammateMission{
        color:black;
    }


    @media screen and (max-width: 580px) {

        /* One Letter Avatars */

            .avatar-circle {
                width: 82px;
                height: 82px;
            }

            
            .initials {
                position: relative;
                top: 20px; /* 25% of parent */
                font-size: 40px; /* 50% of parent */
                line-height: 40px; /* 50% of parent */
            }

            .teammatesDisplayRow{

                overflow-x: auto;
                white-space: nowrap;
                overflow-y: hidden;

            }


    }



</style>
