<div id="notificationsList" class="container col-md-10">

    <!-- Followed Projects Notifications -->

    {% if userFollows | length > 0 %}
        
        <div class="container px-0">

            {# Count Followed Projects #}

            <div class="followed-project-count-container my-md-5">

                <h3 class="mb-4 font-weight-bold mr-3">

                    ➜

                    {{userFollows | length}}
                    
                    {{ userFollows | length == 1 ? 'Projet suivi' : 'Projets suivis' }}

                </h3>

            </div>

            {# List Followed Projects with informations #}

            {% for userFollow in userFollows | reverse %}

                <div class="notif-toast-container">


                    {# Followed Project Title #}

                    {# Links to its presentation page if not deleted #}

                    {% if displayContext == "website" and userFollow.getPresentation.isDeleted == false %}

                        <a class="to-notif-page-link text-primary text-decoration-none" href="{{absolute_url('project_show', {'slug': userFollow.getPresentation.getSlug})}}" target="_blank">
                            
                    {% endif %}
                
                    <h4 class="notif-project-title mb-4">

                        {# Displaying project title, otherwise we display project goal #}

                        {% if userFollow.getPresentation.getTitle > 0 %}

                            {% set projectTitle = userFollow.getPresentation.getTitle %}

                        {% else %}
                            
                            {% set projectTitle = userFollow.getPresentation.getGoal %}                       
                    
                        {% endif %}

                        {{ projectTitle | length > 50 ? projectTitle | slice(0, 50)  | capitalize ~ '...' : projectTitle  | capitalize}}

                    </h4>

                    {% if displayContext == "website" %}

                        </a>

                    {% endif %}


                    <!-- Followed Projects, Display Last Major Modifications -->

                    <div class="notification-toast-title col-lg-8 ml-md-4 mb-5">

                        {# special behaviour when presentation has been deleted #}
                        
                        {# case presentation not deletd #}

                        {% if userFollow.getPresentation.isDeleted == false %}

                            {% set projectLogs = userFollow.getPresentation.getMajorLogs %}

                            {% if projectLogs is not null %}
                            
                                {% include '/user_follows/_show_notifications/_partials/_notifications_toasts.html.twig' %} 

                            {% else %}

                                <div class="fs-15 font-weight-bold">

                                    Pas de modification majeure détectée

                                </div>
                                
                            
                            {% endif %}

                        {# presentation has been deleted #}

                        {% else %}
                                
                            <div class="alert alert-warning text-body fs-15 font-weight-bold sharp mb-2">

                                <span style="font-weight:bold; color:red; font-size: 1.15em;">
                                    Présentation Supprimée
                                </span>

                                {% if displayContext =='website' %}
                                
                                    <br><br>
        
                                    <a href="{{path('unfollow_presentation', {'idUserFollow': userFollow.id})}}">
        
                                        <button type="button" class="d-md-inline block btn btn-success bg-green font-weight-bold">ne plus afficher</button>
        
                                    </a>
                                
                                {% endif %}

                            </div>

                        {% endif %}

                    </div>

                </div>


            {% endfor %}

        </div>

    {% else %}

        <div class="my-5">

            <h4>
                Aucun projet suivi actuellement
            </h4>

        </div>       

    {% endif %}

</div>


{# special styling for emails #}

{% if displayContext =='email' %}

    <style>

        .followed-project-count-container{

            display:inline-block;

            font-size: 18px;

            padding: 12px;
            margin-top: 19px;
            margin-bottom: 45px;

            color:white;
            background-color: green;
        }

        .followed-project-count-container h3 {

            margin:0;

        }


        .notif-project-title{

            margin-top: 0;
            margin-bottom: 18px;

            color:navy; 
            font-weight:bold; 
            font-size: 23px; 
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        
        .notification-toast-title{

            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            padding-left: 35px;

        }
        
        .notif-toast-container{

            width:80%;

            background-color:white;

            margin-bottom: 25px;

            padding:10px;

            -webkit-box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
            box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
        }

        .to-notif-page-link {
            width:100%;
            height:100%;
        }

        @media screen and (max-width: 580px) {

            .notif-toast-container{
                width: 94%;
            }


            .notif-project-title{
 
                font-size: 19px; 
    
            }

            .notification-toast-title{

                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
                padding-left: 5px;
    
            }


        }



    </style>

{% else %}
    
    <style>


        .notif-project-title{

            color:navy; 
            font-weight:bold; 
            font-size: 23px; 

        }


    </style>

{% endif %}