<div class="teamMemberCard mb-2 px-1" >

    <a href="#" class="h-100 w-100 text-body" data-toggle="modal" data-target="#teammateDisplayModal{{ loop.index }}">

    <!-- Teammate Missions -->

    <div class="teammateMission d-flex align-items-center justify-content-center font-weight-bold mb-2" style="height:45px;">

        {% if teammate.missions %} 
        
            {{ teammate.missions | length < 35 ? teammate.missions : teammate.missions | slice(0, 32) ~ '...' }}

            {% else %}
        
        {% endif %}

    </div>

    <!-- Teammate Image -->
    
    <div class="mb-2 d-flex align-items-center justify-content-center" style="height:110px;">

        {% if teammate.image is not empty %}

            <div> <!-- sub img-fluid applies only applies to this parent div  -->

                <img class="img-fluid rounded-lg border border-primary" src="{{ asset('/images/persorgs/' ~ teammate.image) | imagine_filter('logo_thumbnail_sm') }}" style="max-width:100px; max-height:100px;">

            </div>
        
        {% else %}
                                    
            <div class="avatar-circle mx-auto">

                <span class="initials">

                    {{teammate.name | slice (0,1) | capitalize }}

                </span>

            </div>
    
        {% endif %}

    </div> 
                        
    <!-- Teammate Name -->

    <div class="font-weight-bold mb-2 text-center" style="height:45px; overflow-y: hidden;">

        {{ teammate.name | length < 35 ? teammate.name : teammate.name|slice(0, 35) ~ '...' }}

    </div>

                        
    <!-- Teammate Show More Info (if more info available) -->

    {% if teammate.description is not empty or teammate.email is not empty or teammate.webdomain1 is not empty or teammate.webdomain2 is not empty or teammate.webdomain3 is not empty or teammate.webdomain4 is not empty  %}
        
        <div class="font-weight-bold mb-2 text-center" >

            <a href="#" class="badge badge-primary" data-toggle="modal" data-target="#teammateDisplayModal{{ loop.index }}">Voir +</a>

        </div>

    {% endif %}


    </a>

</div>   