<!-- Display More Teammates Infos (in a modal box) -->

<div class="modal fade" id="teammateDisplayModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="teammateDisplayLabel{{ loop.index }}" aria-hidden="true">
                        
    <div class="modal-dialog" role="">

      <div class="modal-content">

        <!-- Modal Header -->

        <div class="modal-header">

            <!-- Empty Title -->

            <div class="row pl-4 font-weight-bold"> 

            
            </div>


            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                <span aria-hidden="true">&times;</span>

            </button>

        </div>

        <!-- Modal Body -->

        <div class="modal-body">

            <div class="container pt-md-3">


                <!-- Upper Box (contains teammate image; name & missions) -->

                <div class="row mb-4">

                    <div class="col-4">
                        
                        <!-- Teammate Image -->

                        {% if teammate.image %}

                         <img class="img-fluid rounded-circle border border-primary" src="{{ asset('/images/persorgs/' ~ teammate.image) | imagine_filter('teammate_thumbnail') }}" height="115px" width="115px">
                        

                            {% else %}
                                                                            
                            <div class="avatar-circle mx-auto" style="width:115px; height:115px;">

                                    <span class="initials" style="font-size: 60px; top:30px;">

                                        {{teammate.name | slice (0,1) }}

                                    </span>

                            </div>
                        
                        {% endif %}

                        

                    </div>

                    <div class="col-8 d-flex align-items-center">

                        <div class="container">

                            <!-- Teammate Missions -->

                            <div class="row mb-2 mb-md-3"> 

                                <div class="h5 font-weight-bold">

                                    {{ teammate.missions | nl2br }}

                                </div>

                            </div>

                            
                            <!-- Teammate Name -->

                            <div class="row"> 

                                <div class="h5" >

                                    {{ teammate.name }}

                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Team Member Description / Comments (Potential) -->

                {% if teammate.description %}

                    <div class="row p-3 mx-2 mb-4 border border-primary rounded" style="font-size:1.09em; min-height:70px;">

                        {{ teammate.description | nl2br }}

                    </div>

                
                {% endif %}

            <!-- Team Member Email (Potential) -->

            {% if teammate.email %}

            <div class=" mb-2 mb-md-3">

                          <!-- Email (Label) -->

                          <span class="font-weight-bold h5 text-primary">

                            Email : 

                        </span>

                        <!-- Email (Display) -->


                        <span class="font-weight-bold">

                            <a href="mailto:{{ teammate.email }}">

                                {{ teammate.email }}

                            </a>

                        </span>


            </div>
                
      
            
            {% endif %}

            <!-- Team Member Potential Websites or Social Networks -->

            {% if teammate.webdomain1 is not empty or teammate.webdomain2 is not empty or teammate.webdomain3 is not empty or teammate.webdomain4 is not empty  %}

                <!-- Label for Team Member Potential Websites or Social Networks -->

                <div class="font-weight-bold h5 text-primary mb-2 mb-md-3">

                    Sites Webs / Réseaux Sociaux

                </div>

            {% endif %}


            {% if teammate.webdomain1 is not empty %}

                <!-- Team Member Webdomain 1 (Potential) -->

                <div class="font-weight-bold mb-2">

                    ● <a href="{{ teammate.webdomain1}}"> 
                        
                        {{ teammate.webdomain1 | length < 30 ? teammate.webdomain1 : teammate.webdomain1 | slice(0, 30) ~ '...' }}

                    </a>

                </div>
            
            {% endif %}

             <!-- Team Member Webdomain 2 (Potential) -->

            {% if teammate.webdomain2 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ teammate.webdomain2}}"> 
                        
                        {{ teammate.webdomain2 | length < 30 ? teammate.webdomain2 : teammate.webdomain2 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

             <!-- Team Member Webdomain 3 (Potential) -->

            {% if teammate.webdomain3 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ teammate.webdomain3}}"> 
                        
                        {{ teammate.webdomain3 | length < 30 ? teammate.webdomain3 : teammate.webdomain3 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

             <!-- Team Member Webdomain 4 (Potential) -->

            {% if teammate.webdomain4 is not empty %}
            
                <div class="font-weight-bold mb-2">

                    ● <a href="{{ teammate.webdomain4}}"> 
                        
                        {{ teammate.webdomain4 | length < 30 ? teammate.webdomain4 : teammate.webdomain4 | slice(0, 30) ~ '...' }}

                    </a>

                </div>

            {% endif %}

            <!-- End of Modal Body Container -->

            </div>

        <!-- End of Modal Body -->

        </div>

        <!-- Modal footer -->

        <div class="modal-footer">

          <button type="button" class="btn btn-info sharp font-weight-bold" data-dismiss="modal">Retour</button>

        </div>

      </div>

    </div>

    </div>  