{% extends 'base.html.twig' %}

{% form_theme persorgForm 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}


{% block title %} Modification des informations visibles{% endblock %}

{% block body %}

    <div class="container mb-5">

        <h3 class="my-2 mt-md-5 mb-md-4 font-weight-bold">Informations visibles par les autres utilisateurs</h3>

        {# ui message : newly registred user is invited to feed its public profile #}

        {% if context is defined and context =='registration' %}

            <div class="alert alert-success h5 font-weight-bold bg-green sharp col-md-6">
            Dernière étape : vous présenter un peu. <br>

            Toutes les informations demandées sont facultatives. <br>

            Remplir votre profil donne confiance aux visiteurs. <br>

            </div>
        
        {% endif %}


        <div class="row">

            <div class="col-md-8">

                <!-- Form Display -->

                <div class="mt-4">


                    {{ form_start(persorgForm) }}

                    <!-- Persorg Name -->

                    <div class="mb-5">

                        <h4 class="font-weight-bold h5 mb-4">Votre nom d'utilisateur (ou celui de l'organisation que vous représentez)</h4>

                        {{ form_widget(persorgForm.name) }}

                    </div>

                    <!-- Persorg Image -->

                    <div class="mb-5 p-5" style="border:1px solid black;">

                        <h5 class="mt-2 mb-5 font-weight-bold">Une photo, image ou logo ?</h5>

                        <!-- If an image already exists, we display it -->

                        {% if userPersorg.image is not null %}

                            <img class="img-fluid mb-5" src="{{ asset('/images/persorgs/' ~ userPersorg.image) | imagine_filter('logo_thumbnail_sm') }}">

                        {% else %}
                            
                            {{ form_widget(persorgForm.imageFile) }}
                                            
                        {% endif %}

                    </div>

                    <div class="mb-5">

                        <h4 class="font-weight-bold h5 mb-4">Une description de vous ou de votre organisation</h4>

                        {{ form_widget(persorgForm.description) }}

                    </div>

                    <div class="mb-5">

                        <h4 class="font-weight-bold h5 mb-4">Site web ou réseau social </h4>

                        {{ form_widget(persorgForm.webdomain1) }}

                    </div>


                    <!-- Other Websites -->

                    
                <!-- Form Set Event Dates (in a Collapsible) -->

                    <div class="my-4">

                        <!-- Collapsible Trigger Button -->
    
                        <div class="mt-4 mb-5">
    
                            <a class="btn btn-lg btn-light sharp" onclick="this.remove();" data-toggle="collapse" href="#collapseOtherWebsites" role="button" aria-expanded="false" aria-controls="collapseOtherWebsites">Autres sites webs ou réseaux sociaux</a>
    
                        </div>
    
    
                        <!-- Collapsible Other Websites Container -->
    
                        <div class="collapse" id="collapseOtherWebsites">
                            
                            <div class="mb-md-5">

                                <h4 class="font-weight-bold h5 mb-4">Site web ou réseau social 2 </h4>
        
                                {{ form_widget(persorgForm.webdomain2) }}
        
                            </div>
        
                            <div class="mb-md-5">
        
                                <h4 class="font-weight-bold h5">Site web ou réseau social 3 </h4>
        
                                {{ form_widget(persorgForm.webdomain3) }}
        
                            </div>
        
                            <div class="mb-md-5">
        
                                <h4 class="font-weight-bold h5">Site web ou réseau social 4 </h4>
        
                                {{ form_widget(persorgForm.webdomain4) }}
        
                            </div>
    
                        </div>
    
                    </div>

                    {#
                    <div class="mb-md-5">

                        <h4 class="font-weight-bold h5">Adresse e-mail</h4>

                        {{ form_widget(persorgForm.email) }}

                    </div>

                    #}

                    <div class="d-none">

                        {{ form_rest(persorgForm) }}

                    </div>

                    <!-- Action Buttons -->

                    <div class="mt-4">

                        <button class="btn btn-success bg-green sharp font-weight-bold mr-2">Enregistrer</button>
    
                        <a href="{{path('account_index')}}">
                            <button type="button" class="btn btn-info sharp font-weight-bold">Retour</button>
                        </a>
                        
                    </div>

                    {{ form_end(persorgForm) }}

                </div> 

            </div>

        </div>
        
    </div>
    
{% endblock %}


{% block javascripts %}

  <script>
    
      $(document).ready(function(){

        $(".form-check-label").html("Supprimer l'image");
        $(".custom-file").addClass("mt-1").addClass("mb-4");

      });

  </script>

{% endblock %}