{% extends 'base.html.twig' %}

{% block title %}Page de {{user.persorg.name}} {% endblock %}

{% block body %}

    <div class="container pl-md-5 mt-4 pt-md-2 mt-md-5 pb-5">

        <!-- User Name and Image Area -->

        <div class="row mb-3 mb-md-4">

            <div class="col-auto pr-3 d-flex justify-content-center">
                        
                 <!-- user image -->

                 {% if user.persorg.image is not null %}

                    <img class="img-fluid mb-5" src="{{ asset('/images/persorgs/' ~ user.persorg.image) | imagine_filter('logo_thumbnail_sm') }}">

                <!-- default one letter image -->

                {% else %}
                                        
                    <div class="avatar-circle">

                        <span class="initials">

                            {{user.persorg.name | slice (0,1) | capitalize }}

                        </span>

                    </div>

                    <style>

                        /* One Letter Avatars */

                        .avatar-circle {
                            width: 60px;
                            height: 60px;
                            background-color: #27ae60;
                        }

                        
                        .initials {
                       
                            top: 16px; /* 25% of parent */
                            font-size: 40px; /* 50% of parent */
                            line-height: 25px; /* 50% of parent */
                            color: #fff;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            
                        }
                    </style>
                
                {% endif %}

            </div>

            <div class="col-9 pl-0 ml-md-2 d-flex align-items-center">

                <h3><b></b>{{user.persorg.name | capitalize}}</h3>

            </div>

        </div>

        <!-- Actions Possibilities -->

        <div class="row mb-4 mb-md-5">
            
            <div class="mt-1">

                {% if user is same as(app.user) %}
                
                <div class="mt-3 ml-3">

                    <a href="{{ path ('edit_public_profile', {'id': user.persorg.getId }) }}" class="btn btn-primary mr-2 mb-2 font-weight-bold">Mes informations publiques</a>

                    <a href="{{ path ('account_update_menu') }}" class="btn btn-primary mr-2 mb-2 font-weight-bold">Mon compte utilisateur</a>

                </div>
            
            <!-- 
                <div>
                    <a href="{{ path('project_group_new') }}">

                        <button class="btn btn-primary mb-4" type="button">
                            <span class="h5 font-weight-bold">+ Créer un Groupe de Projets</span>
                        </button>

                    </a>
                </div> -->
                
                {% endif %}

            </div>

        </div>

        <!-- User Project Presentations -->

        <div class="row mt-4">

            {% if user.presentations | length > 0 %}

                <div class="col-11">

                    <!-- User Projects Count -->

                    <h4 class="mb-5">
                        <span class="font-weight-bold">

                            {% if user.presentations | length == 1 %}
                                1 Projet Présenté
                            {% else %}
                                {{user.presentations | length}} Projets Présentés
                            {% endif %}
                        </span>
                    </h4>

                    {% for presentation in user.presentations %}

                        {% include 'pp/_display_linear_list.html.twig' %}

                    {% endfor %}

                </div>
        
            {% else %}
        
                <div class="d-flex align-items-center py-3">
                    <p class="my-0 h4"><strong>Pas de projet présenté</strong></p>
                </div>
        
            {% endif %}

        </div>

        <!-- User Description Display -->

        <div class="row mt-4 font-weight-bold">

            <div class="col-md-7 m-2 p-3 border border-primary rounded">
                
                {% if not user.persorg.description %}

                    <span class="h5"> 
                        Aucune description de profil n'a été renseignée. 
                    </span>   

                    {% if app.user %}

                    <div class="h5"> 
                        Vous pouvez remplir une description <a href="{{ path ('edit_public_profile', {'id': user.persorg.getId }) }}"><button class="btn btn-info py-1"><span class="h5 font-weight-bold">ici</span></button></a>
                    </div>

                    

                    {% endif %}

                {% else %}
                
                {{ user.description}}

                {% endif %}
                
            </div>

        </div>

    </div>

{% endblock %}
