
{# When in edition mode context, links are removed #}

    {% set editionMode = false %}

    {% if context is defined and context == "editionMode" %}

        {% set editionMode = true %}

    {% endif %}


    <!-- Contact Name or Title -->

    {% if contact.title is not empty %}
        
        <h5 class="contactCardTitle">{{contact.title}}</h5>
    
    {% endif %}
    
    <!-- Contact Email -->

    {% if ( contact.email1 is not null ) or ( contact.email2 is not null ) %}
    
        <div class="mb-2">

            {# Email #}

            <div class="font-weight-bold">


                <img class="contact-card-icon" src="/images/icons/consult_presentation/contact_card/email.svg" height="32" width="32" alt="email icon">

                E-mail :

            </div>

            <div class="pl-4">

                <style>
                                        
                    .cryptedmail:after {

                        content: attr(data-name) "@" attr(data-domaintld); 
                    }

                </style>


                {% if contact.email1 is not null %}

                    {% if not editionMode %}
                    
                        <a href="#" class="cryptedmail text-decoration-none text-body" 
                        data-name="{{ contact.email1|split('@')[0] }}"
                        data-domaintld="{{ contact.email1|split('@')[1] }}"
                        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domaintld; return false;">
                        </a>

                    {% else %}
                        
                        {{contact.email1}}

                    {% endif %}

                {% endif %}

                
                {% if contact.email2 is not null %}

                    {% if not editionMode %}

                        <a href="#" class="cryptedmail text-decoration-none text-body" 
                            data-name="{{ contact.email2|split('@')[0] }}"
                            data-domaintld="{{ contact.email2|split('@')[1] }}"
                            onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domaintld; return false;">
                        </a>

                    {% else %}
                        
                        {{contact.email2}}

                    {% endif %}

                {% endif %}


            </div>


        </div>


    {% endif %}
    
    <!-- Contact Telephone(s) -->

    {% if ( contact.tel1 is not null ) or ( contact.tel2 is not null ) %}

        <div class="mb-2"> 
        
            <div class="font-weight-bold">

                <img class="contact-card-icon" src="/images/icons/consult_presentation/contact_card/telephone.svg" height="27" width="27" alt="telephone icon">
            
                Téléphone :
                
            </div>

            <div class="pl-4">

                {% if contact.tel1 is not null %}

                    {% if not editionMode %}
                
                        <a class="text-decoration-none text-body" href="tel:{{contact.tel1}}">
                            
                            {{contact.tel1}}
                        
                        </a>
                        
                    {% else %}

                        {{contact.tel1}}
                    
                    {% endif %}
                    
                    <br>

                {% endif %}
                
                {% if contact.tel2 is not null %}

                    {% if not editionMode %}
            
                        <a class="text-decoration-none text-body" href="tel:{{contact.tel2}}">
                            
                            {{contact.tel2}}

                        </a>

                    {% else %}
                        
                        {{contact.tel2}}

                    {% endif %}

                {% endif %}
            
            </div>
        
        </div>

    {% endif %}
    
    
    <!-- Contact Websites -->

    {% if contact.website1 is not null %}

        <div class="mb-2"> 
            
            <div class="font-weight-bold">

                <img class="contact-card-icon" src="/images/icons/consult_presentation/contact_card/website.svg" height="27" width="27" alt="website icon">
            
                Site web :
                
            </div>

            <div class="pl-4">

                {# Websites with potential troncature #}

                {% if not editionMode %}
                
                    <a class="text-decoration-none text-body"
                    href="{{contact.website1}}" target="_blank">

                {% endif %}
                
                    {{contact.website1 | slice (0,55)}}

                    {% if contact.website1 | length > 55 %}
                        ...
                    {% endif %}

                {% if not editionMode %}

                    </a>

                {% endif %}

            </div>

        </div>
    
    {% endif %}
    
    <!-- Contact Postal Mail -->

    {% if contact.postalMail is not null %}
    
        <div class="mb-2">
        
            <div class="font-weight-bold">

                <img class="contact-card-icon" src="/images/icons/consult_presentation/contact_card/address.svg" height="27" width="27" alt="address icon">
                
                Adresse :
            
            </div> 
        
            <div class="pl-4">
            
                {{ contact.postalMail | nl2br }}
                
            </div>
            
        </div>

    {% endif %}

    
    <!-- More Informations & Remarks -->

    {% if contact.remarks is not null %}

        <div class="mb-2"> 
                
            <div class="font-weight-bold mb-2">
            
            + Info :
                
            </div>

            <div class="pl-4 font-weight-bold">

                {{contact.remarks | nl2br}}

            </div>

        </div>

    {% endif %}

    
<style>

    .contactCardTitle {

        font-weight: bold;

        margin-bottom: 20px;

    }

    .contact-card-icon{
        width : 16px;
        height: 16px;
        margin-bottom : 3px;
        margin-right : 5px;
    }

    @media screen and (max-width: 580px) {

        .contactCardTitle {

            font-size: 1.30em;
            font-weight: normal;

        }

    }

</style>


