
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    
{{ form_start(form) }}

{{ form_widget(form) }}

<div class="mt-4">


    <button class="btn btn-success btn-lg sharp bg-green font-weight-bold mr-2 mb-2">{{ button_label|default('Enregistrer') }}</button>

    <a href="{{ path('contact_index', {'slug': slug}) }}">
        <button type="button" class="btn btn-info sharp btn-lg font-weight-bold mb-2">Annuler</button>
    </a>

</div>


{{ form_end(form) }}
