{% extends 'base.html.twig' %}

{% block title %}Vous Contacter{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container pt-3">
        
    <h3 class="my-3 d-inline mr-3">Comment vous contacter ?</h3>


    <!-- collapsable advice -->	

    <a class="font-weight-bold my-1 d-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

        <span class="btn btn-light fs-15 h5 sharp p-1 px-2" style="letter-spacing: 2px;"> Conseil </span>
        
    </a>
        
    <div class="collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Si vous ne souhaitez pas afficher d'information de contact, les visiteurs peuvent quand même vous contacter avec la messagerie privée (vous pouvez aussi désactiver les messages privés).

            </p>

    </div>
        
        <!-- Add a Contact Button -->
    
        <a href="{{ path('contact_new', {'slug': slug}) }}"><button class="btn btn-success btn-lg bg-green sharp d-block font-weight-bold px-4 mt-3 py-3 mb-3 mr-3">+ Ajouter une zone de contact</button></a>

        <!-- Manage Contact Zones -->


        {% if contacts | length > 0 %}

            <div class="col-md-9 pl-0">

                <div class="table-responsive">

                    <table class="table table-hover table-striped table-bordered">

                        <thead>

                            <tr>
                                <th>Titre du contact</th>
                                <th>E-mail 1</th>
                                <th>Téléphone 1</th>
                                <th>Adresse</th>
                            </tr>

                        </thead>

                        <tbody>

                        {% for contact in contacts %}

                            {% set showPath = path('contact_show', {'id': contact.id, 'slug': slug}) %}
                            {% set editPath = path('contact_edit', {'contact_id': contact.id, 'slug': slug}) %}
            
                            <tr class="cursor-pointer"  
                                
                                {% if app.user and app.user == presentation.creator %}
                                    onclick="window.location='{{ editPath }}'";>
                                {% else %}
                                    onclick="window.location='{{ showPath}}'";>
                                {% endif %}
                        
                                <td>{{ contact.title }}</td>
                                <td>{{ contact.email1 | slice (0,15) }}</td>
                                <td>{{ contact.tel1 }}</td>
                                <td>{{ contact.postalMail }}</td>

                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="9">Aucune zone contact pour l'instant</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table> 

                </div>
            </div>
        
        {% endif %}


      
            


    </div>

{% endblock %}
