{% extends 'base.html.twig' %}

{% block title %}Vous Contacter{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container pt-3">
            
        <!-- Page Title -->	

        <h3 class="my-3 d-inline mr-3">Comment vous contacter ?</h3>

        <!-- Collapsable Advice Button -->	

        <a class="font-weight-bold my-1 d-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

            <span class="btn btn-light fs-15 h5 sharp p-1 px-2" style="letter-spacing: 2px;"> Conseil </span>
            
        </a>

    <!-- Collapsable Box -->
        
    <div class="info-box collapse col-md-8 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Si vous ne souhaitez pas afficher d'information de contact, les visiteurs peuvent quand même vous contacter avec la messagerie privée (que vous pouvez aussi désactiver dans les réglages).

            </p>

    </div>
    
    <!-- "Add a Contact Card" (Button) -->

    <div class="mb-4">
            
        <a href="{{ path('contact_new', {'slug': slug}) }}"><button class="btn btn-success btn-lg bg-green sharp d-block font-weight-bold px-4 mt-3 py-3 mr-3">+ Ajouter</button></a>

    </div>


    <!-- Style Contact Cards -->

    <style>

        .hoverZone:hover {
            background-color: blue !important;
            
        }

    </style>


    <!-- Contact Cards Grid -->

    <div id="contactCardsGrid" class="row pl-md-3">
     
        {% for contact in presentation.contacts %}

            <!-- Contact Card Item -->

            <a href="{{  path('contact_edit', {'contact_id': contact.id, 'slug': slug})  }}" class="text-body text-decoration-none">

                <div id="{{contact.id}}" class="js-sortableGridItem position-relative cursor-pointer col-sm-5 border border-primary border-2 p-4 mb-4 mr-4" style="word-wrap: break-word;">

                    <!-- Contact Card Content -->

                    {% include 'contacts/_icons_display.html.twig' %}

                    
                    <!-- Remove a Contact Card (Button with Red Cross) -->
        
                    <div class="d-inline position-absolute p-0" data-id="{{contact.id}}" style="top:0; right:0;">

                        <span class="font-weight-bold">

                            {{ include('contacts/_delete_form.html.twig') }}
                            
                        </span>

                    </div>

                </div>

            </a>

        {% endfor %}

    </div>

    <!-- Back to Edition Button -->

    <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': presentation.slug }) }}">
        <button type="button" class="btn btn-info btn-lg font-weight-bold mt-2 mr-2 mb-4 sharp">Menu</button>
    </a>

    <!-- Back to Result Button -->

    <a class="text-decoration-none text-white" href="{{path('project_show', {'slug': presentation.slug })}}#contactInfosDisplay">
        <button type="button" class="btn btn-warning btn-lg font-weight-bold mt-2 mb-4 sharp">Résultat</button>
    </a>


      
            


    </div>

{% endblock %}



{% block javascripts %}

    <!-- sortable plugin in order to reorder Contact Cards -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for this sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>
       
    <script>

        $(document).ready(function(){

            // Reorder Contact Cards positions with drag and drop

            $('#contactCardsGrid').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                
                // reorder contact cards position (drag and drop)

                onEnd: function (evt) {

                    // an array storing slides id position

                    var contactCardsPosition = [];

                    
                    $('#contactCardsGrid div.js-sortableGridItem').each(function(index){
                        
                        contactCardsPosition.push($(this).attr('id'));
                
                    });

                    jsonContactCardsPosition = JSON.stringify(contactCardsPosition);
                    
                    $.ajax({  

                        url: "{{path('ajax_reorder_contact_cards', {'slug': presentation.slug})}}",

                        type:       'POST',   

                        dataType:   'json',

                        data: {

                            "jsonContactCardsPosition": jsonContactCardsPosition,

                        },

                        async: true,  
                        
                        success: function(data, status) {
                                
                        },  

                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                    }); 

                },


            });


        }); 

        
    </script>

{% endblock %}


