{% extends 'base.html.twig' %}

{% block title %}Vous Contacter{% endblock %}

{% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

    <div class="container">
        
        <h3 class="my-3">Comment vous Contacter?</h3>
        
        <!-- Add a Contact Button -->
    
        <a href="{{ path('contact_new', {'slug': slug}) }}"><button class="btn btn-success btn-lg font-weight-bold px-4 py-3 mb-3 mr-3">+ Ajouter une Zone Contact</button></a>


        <div class="col-md-9 pl-0">

            <div class="table-responsive">

                <table class="table table-hover table-striped table-bordered">

                    <thead>

                        <tr>
                            <th>Titre du Contact</th>
                            <th>E-mail 1</th>
                            <th>Telephone 1</th>
                            <th>Adresse</th>
                        </tr>

                    </thead>

                    <tbody>

                    {% for contact in contacts %}

                        {% set showPath = path('contact_show', {'id': contact.id, 'slug': slug}) %}
                        {% set editPath = path('contact_edit', {'id': contact.id, 'slug': slug}) %}
        
                        <tr class="cursor-pointer"  
                            
                            {% if app.user and app.user == presentation.creator %}
                                onclick="window.location='{{ editPath }}'";>
                            {% else %}
                                onclick="window.location='{{ showPath}}'";>
                            {% endif %}
                    
                            <td>{{ contact.title }}</td>
                            <td>{{ contact.email1 | slice (0,15) }} (...)</td>
                            <td>{{ contact.tel1 }}</td>
                            <td>{{ contact.postalMail }}</td>

                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="9">Aucune Zone Contact pour l'Instant</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table> 

            </div>
        </div>
            


    </div>

{% endblock %}
