{% extends 'base.html.twig' %}

{% form_theme inviteByEmailForm 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Gérer les accès à la présentation{% endblock %}

{% block body %}

    <div class="container">
    
        <!-- Title with Info Button Container -->

        <div class="mt-md-5 mb-2">

            <!-- ui Page Title -->

            <h3 class="font-weight-bold d-inline mr-3 mb-5">Gérer les accès à la présentation</h3>

            
            <!-- collapsable advice trigger button -->	

            <a class="font-weight-bold my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <span class="btn btn-light fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Info</span>
                
            </a>

        </div>

        <!-- Collapsible Info Container -->

        <div class="info-box collapse col-md-6 mt-0 mb-4" id="collapseExample">

            <p class="h5">

                Ici vous pouvez ajouter d'autres présentateurs pour ce projet (afin de déléguer ou répartir le travail).

            </p>

        </div>

        <div class="container mt-md-4 mb-4">


            <!-- Warning Advice -->

            <div class="alert alert-danger sharp d-inline-block mb-3" role="alert">

                <p class="font-weight-bold fs-15">

                    ⚠️ Attention !!! <br>

                    Ne laissez pas n'importe qui présenter votre projet. <br>

                    Transmettez le code uniquement à des personnes de confiance. <br>

                </p>

            </div>

            <!-- Presentation Access Code -->


            <div class="mb-3">

                <div class="row fs-25">

                    <div class="bg-warning p-2 ml-3 mr-3"> Code d'accès à la présentation : <span class="font-weight-bold">{{accessCode}}</span> </div>


                    {# Tooltip #}
    
                    <button tabindex="0" class="btn btn-light font-weight-bold" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Intégrer de nouveaux présentateurs" data-content="Transmettez ce code aux personnes que vous invitez à rejoindre la présentation. Vous devrez ensuite valider ici leur arrivée.">?</button>
    
                </div> 

            </div>


            <div class="my-4 mb-3">

                {% if presentationRights | length > 0 %}

                <h5 class="mb-4 font-weight-bold">
                    Liste de présentateurs candidat(s) ou accepté(s) :
                </h5>

                {% for right in presentationRights | reverse %}

                        <div class="container mb-3">

                            <div class="row">

                                <div class="col-8 col-md-5 px-3 py-2 
                                    
                                    {% if right.status == "candidate" %}
                                    
                                        bg-light 

                                    {% else %}

                                        bg-success

                                    {% endif %}
                                
                                fs-15">

                                    {% set userProfile = right.user.getPersorg %}
        
                                    Nom : {{ userProfile.getName}}
        
                                    <br>

                                    Inscrit depuis le : {{right.user.getCreatedAt | date ('d-m-Y') }}

                                </div>

                                <div class="col-4 col-md-1 bg-light d-flex align-items-center py-2">

                                    <div class="container">

                                        {% if right.status == "candidate" %}
                                        
                                            <div class="row mb-2 d-flex justify-content-center">

                                                <a onclick="confirm('Êtes vous sûr d\'intégrer ce candidat ?')" href="{{ path('integrate_presenter_candidate', {'slug': slug, 'rightId' : right.id }) }}">
                                                    <button type="button" class="btn btn-primary btn-sm font-weight-bold">
                                                        Accepter
                                                    </button>
                                                </a>
        
                                            </div>
                                            <div class="row d-flex justify-content-center">
            
                                                <a onclick="confirm('Êtes vous sûr de ne pas intégrer ce candidat ?')" href="{{ path('remove_right', {'slug': slug, 'rightId' : right.id }) }}">
                                                    <button type="button" class="btn btn-primary btn-sm font-weight-bold">
                                                        Refuser
                                                    </button>
                                                </a>

                                            </div>
                                            

                                        {% else %}

                                            <div class="row d-flex justify-content-center">
            
                                                <a onclick="confirm('Êtes vous sûr de retirer ce présentateur ?')" href="{{ path('remove_right', {'slug': slug, 'rightId' : right.id }) }}">
                                                    <button type="button" class="btn btn-primary btn-sm font-weight-bold">
                                                        Retirer
                                                    </button>
                                                </a>

                                            </div>
    

                                        {% endif %}

                                        


                                    </div>




                                    

                                </div>

                            </div>

                        </div>
                
                    {% endfor %}

                {% else %}
                    
                    
                
                {% endif %}

 
            </div>


            
            <!-- Back to Edition Menu Button -->

            <div>

                <a class="text-decoration-none text-white" href="{{ path('edit_presentation_menu', {'slug': slug }) }}">
                    <button type="button" class="btn btn-info btn-lg font-weight-bold mt-2 mb-4 mr-2 sharp">Retour menu</button>
                </a>

            </div>

        </div>

    </div>

{% endblock %}


{% block javascripts %}


{% endblock %}
